.activeBtn {
    color: yellow !important;
}

.noMargin {
    margin: 0 0 0 0 !important;
}

.profileInfo {
    padding: 0 0 0 0 !important;
    margin-top: 1em !important;
    margin-bottom: 0px !important;
}