#showpage_series {
	height: 100%;
	background-color: #f8f8f8;
}

#showpage_series .header_sty {
	width: 100%;
}

#showpage_series .header_sty.card {
	border-radius: 0
}

#showpage_series .header_sty .card-img {
	border-radius: 0;
	height: 300px;
	background-size: cover;
	object-fit: cover;
}

#showpage_series .header_sty .card-img-overlay {
	background-color: #00000059;
}

#showpage_series .header_sty h5 {
	font-size: 3.5em
}

#showpage_series .header_sty .line_header {
	background-color: #fff;
	width: 300px;
	height: 2px;
	display: block;
	margin: auto;
}

#showpage_series .content_warp {
	width: 85%;
	margin: auto
}

#showpage_series .tag_display {
	width: 100%;
	white-space: nowrap;
	overflow-x: overlay;
	height: 45px;
}

#showpage_series .tag {
	padding: 3px 8px;
	font-size: 14px;
	color: #fa8c16;
	background: #fff7e6;
	border: 1px solid #ffd591;
	border-radius: 5px;
}

#showpage_series .tabs_sty li {
	padding: 10px 20px;
	background-color: #fff;
	margin: 0px 5px 10px 5px;
}

#showpage_series .tabs_sty a {
	color: #595959;
}

#showpage_series .tabs_sty .nav-item {
	border: 1px solid #e8e8e8;
	border-radius: 0;
	margin-bottom: 10px;
	padding: 10px 40px;
}

#showpage_series .tabs_sty .nav-item span {
	width: 100%;
	display: block;
	text-align: center;
}

#showpage_series .tabs_sty .nav-item span:nth-child(2) {
	font-size: 10px;
}

#showpage_series .tabs_sty .nav-item.show .nav-link,
.nav-tabs .nav-link.active span:nth-child(2) {
	color: #ccc;
}

#showpage_series .tabs_sty .nav-link.active span:nth-child(3) {
	color: #46a518;
}

#showpage_series .tabs_sty .nav-link.active {
	background-color: #fff;
	border-bottom: 3px solid red;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	color: red;
}

#showpage_series .tabs_sty .nav-item.show .nav-link,
.nav-tabs .nav-link.hover {
	background-color: #fff;
	border-color: none;
	border: none;
}


/* .tabs_sty  .nav-link:focus, .nav-tabs .nav-link:hover {
	background-color: #fff;
}
 */

#showpage_series .tab_content_sty .row {
	margin-left: 0;
	margin-right: 0;
	margin-top: 20px;
}

#showpage_series .tab_content_sty .icon_warp {
	margin-bottom: 20px;
}

#showpage_series .tab_content_sty .icon_warp i {
	color: #949494;
}

#showpage_series .nav-tabs {
	display: inline-flex;
	white-space: nowrap;
	flex-wrap: nowrap;
	width: 100%;
	overflow-x: auto;
	border-bottom: none;
	-ms-overflow-style: none;
	/*// IE 10+*/
	overflow: -moz-scrollbars-none;
	/*// Firefox*/
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	border-width: 0;
}

.nav-tabs>li>a {
	border: none;
	color: #666;
}

#showpage_series .nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
	border: none;
	color: #4285F4 !important;
	background: transparent;
}

#showpage_series .nav-tabs>li>a::after {
	content: "";
	background: #4285F4;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}

#showpage_series .nav-tabs>li.active>a::after,
#showpage_series .nav-tabs>li:hover>a::after {
	transform: scale(1);
}

#showpage_series .tab-nav>li>a::after {
	background: #21527d none repeat scroll 0% 0%;
	color: #fff;
}

#showpage_series .tab-pane {
	padding: 15px 0;
}

#showpage_series .tab-content {
	margin-top: 20px;
}


/* .nav-tabs::-webkit-scrollbar {
	display: none; /*Safari and Chrome
}
 */

#showpage_series .flight_detail .top_content img {
	width: 20px;
	height: 20px;
}

#showpage_series .time_date {
	color: #9a9a9a;
	font-size: 14px;
}

#showpage_series .bottom_content img {
	width: 100%;
	height: 100%;
}

#showpage_series .bottom_content .row span {
	width: 100%;
	display: block;
	color: #9a9a9a;
	font-size: 14px;
}

#showpage_series .bottom_content .row div {
	padding-left: 0;
	padding-right: 0;
}

#showpage_series .bottom_content .row i {
	font-size: 20px;
	color: #9a9a9a;
}


/****************************** table css *******************************/

#showpage_series .price_table {
	position: relative;
	/*width: 100%;*/
	overflow: auto;
	padding-top: 70px;
	margin-bottom: 10px;
}

#showpage_series .price_table .warp_list_title {
	list-style: none;
	width: 100%;
	padding: 0;
	margin-bottom: 0;
}

#showpage_series .price_table .warp_list_title li {
	padding: 10px;
	background-color: #e8e8e8;
	margin-bottom: 2px;
	margin-right: 5px;
	font-weight: bold;
}

#showpage_series .price_table .warp_list_table {
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 75%;
}

#showpage_series .price_table .warp_list_content {
	width: 30%;
	list-style: none;
	padding: 0;
	margin-bottom: 2px;
	float: left;
	margin-right: 5px;
}

#showpage_series .price_table .warp_list_content li {
	padding: 10px 10px 12px 10px;
	/* background-color: #E07900; */
	text-align: center;
	font-weight: bold;
}

#showpage_series .price_table .header_type {
	height: 60px;
	color: #fff;
	background-color: #8e8e8e;
}

#showpage_series .price_table .header_type p {
	margin-bottom: 0;
}

#showpage_series .price_table .left_title {
	font-size: .95em;
	font-weight: lighter;
}

#showpage_series .terms_sty .card-header {
	border-bottom: 0
}

#showpage_series .terms_sty .card {
	border: 0
}

#showpage_series .terms_sty .card-body {
	background-color: #fff7e6
}

#showpage_series .right_content .sticky-top {
	top: 10px;
}

#showpage_series .right_content .autocomplete {
	position: relative;
	display: inline-block;
}

#showpage_series .right_content .autocomplete input {
	border: 1px solid #f1f1f1;
	;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}

#showpage_series .right_content .autocomplete input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}

#showpage_series .right_content .autocomplete input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}

#showpage_series .right_content .autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}

#showpage_series .right_content .autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

#showpage_series .right_content .autocomplete-items div:hover {
	background-color: #e9e9e9;
}

#showpage_series .right_content .autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}

#showpage_series .right_content .btn_find {
	border-radius: 0;
	padding: .8rem .75rem;
}

#showpage_series .right_content .agent_list {
	height: 300px;
}

#showpage_series .right_content .agent_list .list-group {
	min-width: 300px;
}

#showpage_series .right_content .agent_list img {
	width: 100%;
	height: 100%;
}

#showpage_series .right_content .agent_list .list-group-item div {
	padding-right: 5px;
	padding-left: 5px;
}

#showpage_series .right_content .agent_list .list-group-item {
	padding: 15px 5px;
}

#showpage_series .right_content .call_warp {
	margin-left: 0;
	margin-right: 0
}

#showpage_series .right_content .call_warp a:nth-child(1) {
	margin-right: 10px;
}

#showpage_series .right_content .call_sty {
	background-color: #46a518;
	padding: 10px;
}

#showpage_series .right_content .call_sty i {
	color: #fff;
}

#showpage_series .btn_agent_res {
	position: fixed;
	right: 0;
	top: 280px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	display: none
}

#showpage_series .sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	box-shadow: -6px 1px 6px -1px rgba(0, 0, 0, 0.21);
	-webkit-box-shadow: -6px 1px 6px -1px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: -6px 1px 6px -1px rgba(0, 0, 0, 0.21);
	display: none;
}

#showpage_series .sidenav a {
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

#showpage_series .sidenav a:hover {
	color: #f1f1f1;
}

#showpage_series .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media only screen and (max-width: 1200px) {
	#showpage_series .price_table .warp_list_table {
		width: 650px;
		left: 0%;
	}
	#showpage_series .price_table .warp_list_title {
		width: 650px;
	}
	#showpage_series .price_table .warp_list_content {
		width: 20%;
	}
}

@media only screen and (max-width: 1080px) {
	#showpage_series .tab_content_sty .icon_warp {
		font-size: 14px;
	}
	#showpage_series .bottom_content img {
		width: 70px;
		height: 70px;
	}
	#showpage_series .right_content {
		padding-right: 0;
	}
}

@media only screen and (max-width: 991px) {
	#showpage_series .right_content {
		display: none;
	}
	#showpage_series .right_content.res_slider_content {
		display: block;
	}
	#showpage_series .btn_agent_res {
		display: block;
	}
	#showpage_series .sidenav {
		padding-top: 15px;
	}
	#showpage_series .sidenav a {
		font-size: 18px;
	}
	#showpage_series .sidenav {
		display: block;
	}
}

@media only screen and (max-width: 767px) {
	#showpage_series .bottom_content img {
		width: 100px;
		height: 100px;
	}
	#showpage_series .left_content header h3 {
		font-size: 1.5em
	}
	#showpage_series .content_warp {
		width: 90%;
		padding-left: 0;
		padding-right: 0;
	}
	#showpage_series .left_content {
		padding-left: 0;
		padding-right: 0;
	}
	.bottom_content .airline {
		text-align: center;
	}
	.bottom_content .logo {
		margin-bottom: 20px;
	}
	.bottom_content .ariline_detail div {
		text-align: center;
	}
}

@media only screen and (max-width: 575px) {
	#showpage_series .content_warp {
		padding: 10px;
		padding-top: 2rem!important;
		padding-bottom: 2rem!important;
	}
	#showpage_series .left_content header h3 {
		font-size: 1.2em;
		word-break: break-all;
	}
	#showpage_series .header_sty .line_header {
		width: 200px;
	}
	#showpage_series .header_sty h5 {
		font-size: 2.5em;
	}
	#showpage_series .bottom_content img {
		margin-right: 0!important;
	}
	#showpage_series .bottom_content .ariline_detail div {
		width: 33.33%;
	}
	#showpage_series .bottom_content div {
		padding-left: 0;
		padding-right: 0;
	}
	#showpage_series .flight_detail .card-body {
		padding: 12px;
	}
}