@Large_screens: ~"only screen and (min-width : 1800px) ";
@DesktopsL: ~"only screen and (max-width : 1799px) and (min-width : 1650px)";
@DesktopsM: ~"only screen and (max-width : 1649px) and (min-width : 1550px)";
@LaptopL: ~"only screen and (max-width : 1549px) and (min-width : 1441px)";
@LaptopM: ~"only screen and (max-width : 1440px) and (min-width : 1365px)";
@LaptopS: ~"only screen and (max-width : 1364px) and (min-width : 1290px)";
@LaptopXS: ~"only screen and (max-width : 1289px) and (min-width : 1150px)";
@ipadL: ~"only screen and (max-width : 1149px) and (min-width : 1020px)";
@ipadS: ~"only screen and (max-width : 1019px) and (min-width : 831px)";
@PhoneX: ~"only screen and (max-width: 830px)";
@Phone: ~"only screen and (max-width: 767px)";
@PhoneS: ~"only screen and (max-width: 670px)";
@Phone5: ~"only screen and (max-width: 580px)";

@familyFaces: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
