@import '~antd/dist/antd.css';

body {
    background-color: #eeeeee !important;
}

.App {
    width: 100%;
    max-width: 1050px;
    margin: auto;
}

.clearfix {
    clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* ----- Menupage css ----- */

#LoginPage {
   background-color: white;
    height: 100vh;
    min-height: 650px;
}
#LoginPage .login_logo {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
#LoginPage .login_logo img{
         width: 300px;
}
#LoginPage i{
    padding: 0px 10px;
}
#LoginPage .form-container {
    display: block;
    width: 80%;
    margin: 60px auto;
    text-align: left;
}

#LoginPage label {
    display: block;
    position: relative;
    color: #1bb591;
}

#LoginPage input[type='text'] {
    width: 100%;
    box-sizing: border-box;
    height: 55px;
    display: inline-block;
    border: none;
    border-bottom : 1px solid #1bb591;
    border-radius: 0px;
    padding: 0 15px;
    transition: .2s;
    color: #9E9E9E;
}
.login_form{
    padding-bottom: 50px;
    background: white;
}
#LoginPage .form_sty{
     margin-bottom: 20px;
 }
#LoginPage input[type='text']:focus {
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
#LoginPage input[type='password'] {
    width: 100%;
    box-sizing: border-box;
    height: 55px;
    display: inline-block;
    border: none;
    border-bottom : 1px solid #1bb591;
    border-radius: 0px;
    padding: 0 15px;
    transition: .2s;   
    color: #9E9E9E;
}

#LoginPage input[type='password']:focus {
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
#LoginPage ::placeholder {
    color: #dadada;
    opacity: 1;
}

#LoginPage :-ms-input-placeholder {
    color: #dadada;
}

#LoginPage ::-ms-input-placeholder {
    color: #dadada;
}

#LoginPage .button {
    display: inline-block;
    background-color: #1bb591;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    vertical-align: middle;
}
 .login_btn{
     float: left;
     width: 50%;
     padding: 10px;
 }
.signup_btn{
    float: left;
    width: 50%;
    padding: 10px;
}
.signup_btn .button{
    background-color: #1c9dd8!important;
}
#LoginPage .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#LoginPage .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#LoginPage .button:hover span {
    padding-right: 25px;
}

#LoginPage .button:hover span:after {
    opacity: 1;
    right: 0;
}
.ant-modal-body input[type='text'] {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    display: inline-block;
    border: none;
    border-bottom : 1px solid #1bb591;
    border-radius: 0px;
    padding: 0 15px;
    transition: .2s;
    color: #9E9E9E;
}
.ant-modal-body .form_sty {
    margin-bottom: 20px;
}
.ant-modal-body input[type='text']:focus {
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
 .ant-modal-body input[type='password'] {
     width: 100%;
     box-sizing: border-box;
     height: 30px;
     display: inline-block;
     border: none;
     border-bottom : 1px solid #1bb591;
     border-radius: 0px;
     padding: 0 15px;
     transition: .2s;
     color: #9E9E9E;
 }
.ant-modal-body input[type='password']:focus {
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}
.ant-modal-body label {
    display: block;
    position: relative;
    color: #1bb591;
}
.ant-modal-body .signup_form {
    padding: 30px;

}
.ant-modal-body i {
    padding: 0px 10px;
}
.ant-modal{
    top: 50px
}
.ant-modal-body ::placeholder {
    color: #dadada;
    opacity: 1;
}

.ant-modal-body :-ms-input-placeholder {
    color: #dadada;
}

.ant-modal-body ::-ms-input-placeholder {
    color: #dadada;
}


/* ----- Menupage css ----- */
#MenuPage {
    background: white;
    height: 100vh;
    min-height: 650px;
}

#MenuPage a {
    color: white;
    transition: color .1s;
}

#MenuPage a:hover {
    color: #FFEB3B;
}

#MenuPage .logo {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

#MenuPage .logo img {
    width: 250px;

}

#MenuPage .top_banner {
    width: 100%;
    text-align: center;
}

#MenuPage .top_banner img {
    width: 100%;
    height: auto;
}

#MenuPage .top_menu {
    padding: 0px 20px 50px 20px;
    background: white;
}

#MenuPage .top_menu .care_pa {
    width: 50%;
    float: left;
    padding: 20px 20px;
    text-align: center;
    color: white;
}

#MenuPage .top_menu .care_pa:hover {
    color: #FFEB3B;
}

#MenuPage .top_menu .care_pa i {
    font-size: 2.5em;
    margin-top: 20px;

}

#MenuPage .top_menu .care_pa p {
    margin: 20px 0px;
    font-size: 1.5em;
}

#MenuPage .care_pa .ant-card-grid {
    width: 100%;
    background: #1bb591;
}

#MenuPage .care_pa .ant-card-grid:hover {
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
    background: #34c7a6;
}

/* ----- BottomMenu css ----- */
#BottomMenu .wrapper {
    max-width: 1050px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    --l: 4em;
    z-index: 100;
}

#BottomMenu .fa-home:before {
    font-size: 1.2em;
}

#BottomMenu .fa-phone:before {
    font-size: 1.2em;
}

.triggerButton {
    display: none;
}

.triggerButton + label {
    cursor: pointer;
    position: absolute;
    right: 1em;
    bottom: 2em;
    background-color: #1bb591;
    height: var(--l);
    width: var(--l);
    border-radius: 50%;
    z-index: 2;
}

.triggerButton + label:before, .triggerButton + label:after {
    position: absolute;
    content: '';
    height: calc(var(--l) / 2);
    width: .25em;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: .5em;
    transition: all .25s;
}

.triggerButton + label:before {
    height: calc(var(--l) / 2);
    width: .25em;
}

.triggerButton + label:after {
    width: calc(var(--l) / 2);
    height: .25em;
}

.triggerButton:checked + label:before {
    transform: rotatez(-45deg);
}

.triggerButton:checked + label:after {
    transform: rotatez(-45deg);
}

.one, .two, .three {
    cursor: pointer;
    position: absolute;
    right: 0em;
    bottom: 1.5em;
    padding: 0.85em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    opacity: 0;
    z-index: 1;
    transform: rotateZ(90deg);
    font-size: 1.3em;
    color: #fff;
    transition-property: all;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.triggerButton:checked ~ .one, .triggerButton:checked ~ .two, .triggerButton:checked ~ .three {
    opacity: 1;
}

.triggerButton:checked ~ .one {
    background-color: #03A9F4;
    transform: translateX(-5em);
    transition-delay: .2s;
}

.triggerButton:checked ~ .two {
    background-color: #03A9F4;
    transform: translateX(-3.5em) translateY(-3.5em);
    transition-delay: .1s;
}

.triggerButton:checked ~ .three {
    background-color: #03A9F4;
    transform: translateY(-5em);
}

.triggerButton:checked ~ .one:hover, .triggerButton:checked ~ .two:hover, .triggerButton:checked ~ .three:hover {
    opacity: .9;
}

/* ----- BannerSlider css ----- */

#BannerSlider {
    margin-top: 50px;
    width: 100%;
    float: left;
}

#BannerSlider img {
    width: 100%;
}

#BannerSlider .carousel-control.right {
    background-image: none;
}

#BannerSlider .carousel-control.left {
    background-image: none;
}

#BannerSlider .ar_width {
    background: #00000069;
    width: 50px !important;
    height: 50px !important;
    line-height: 50px !important;
}

/* ----- MenuTop css ----- */
#MenuTop {
    background: white;
    position: fixed;
    width: 100%;
    max-width: 1050px;
    height: 50px;
    top: 0px;
    z-index: 150;
    box-shadow: 0px 2px 8px #80808066;
}

#MenuTop .title {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 5px;
    color: #1bb591;
}

#MenuTop .title h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 5px;

}

#MenuTop .back_btn {
    position: absolute;
    top: 10px;
    width: 50px;
}

#MenuTop .back_btn i {
    font-size: 2em;
    padding-left: 20px;
    color: white;
}

/* ----- ShopPage css ----- */
#ShopPage .back_btn {
    display: none;
}

#ShopPage {

}

/* ----- LogoSlider css ----- */
#LogoSlider {
    width: 100%;
    float: left;
    margin-top: 20px;
}

#LogoSlider .ant-card-head {
    min-height: 0px;
}

#LogoSlider img {
    width: 100px;
    margin: auto;
}

#LogoSlider .item {
    text-align: center;
}

#LogoSlider .ant-card-head-title {
    padding: 10px 0px;
    letter-spacing: 3px;
    color: #1bb591;
}

#LogoSlider .ant-card-bordered {
    border: none;
}

#LogoSlider .ant-card-body {
    padding: 15px;
}

#LogoSlider .owl-theme .owl-nav {
    margin-top: 0px;
}

/* ----- DogFood css ----- */
#DogFood {
    width: 100%;
    float: left;
    margin-top: 20px;
}

#DogFood .ant-card-head {
    min-height: 0px;
}

#DogFood .ant-card-head-title {
    padding: 10px 0px;
    letter-spacing: 3px;
    color: #1bb591;
}

#DogFood .ant-card-bordered {
    border: none;
}

#DogFood .ant-card-body {
    padding: 15px 15px 20px 15px;
}

#DogFood .ant-card-body .ant-card-bordered {
    border: 1px solid #e8e8e8;

}

#DogFood .ant-card-body .ant-card-bordered:hover {
    box-shadow: 0px 3px 10px #80808052;

}

#DogFood .card_pan {
    padding: 10px;
    width: 25%;
    float: left;
}

#DogFood .image {
    display: block;
    width: 100%;
    height: auto;
}

#DogFood .img_overlay:hover .middle {
    opacity: 1;
}

#DogFood .middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1bb59187;
}

#DogFood .img_overlay {
    position: relative;
    width: 100%;
}

#DogFood .text {
    color: white;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* ----- PetAccessories css ----- */
#PetAccessories {
    width: 100%;
    float: left;
    margin-top: 20px;
    margin-bottom: 30px;
}

#PetAccessories .ant-card-head {
    min-height: 0px;
}

#PetAccessories .ant-card-head-title {
    padding: 10px 0px;
    letter-spacing: 3px;
    color: #1bb591;
}

#PetAccessories .ant-card-bordered {
    border: none;
}

#PetAccessories .ant-card-body {
    padding: 15px 15px 20px 15px;
}

#PetAccessories .ant-card-body .ant-card-bordered {
    border: 1px solid #e8e8e8;

}

#PetAccessories .ant-card-body .ant-card-bordered:hover {
    box-shadow: 0px 3px 10px #80808052;

}

#PetAccessories .card_pan {
    padding: 10px;
    width: 25%;
    float: left;
}

#PetAccessories .image {
    display: block;
    width: 100%;
    height: auto;
}

#PetAccessories .img_overlay:hover .middle {
    opacity: 1;
}

#PetAccessories .middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1bb59187;
}

#PetAccessories .img_overlay {
    position: relative;
    width: 100%;
}

#PetAccessories .text {
    color: white;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* ----- Cat css ----- */
#Cat {
    width: 100%;
    float: left;
    margin-top: 15px;
}

#Cat .ant-card-head {
    min-height: 0px;
}

#Cat .ant-card-head-title {
    padding: 10px 0px;
    letter-spacing: 3px;
    color: #1bb591;
}

#Cat .ant-card-bordered {
    border: none;
}

#Cat .ant-card-body {
    padding: 15px 15px 20px 15px;
}

#Cat .ant-card-body .ant-card-bordered {
    border: 1px solid #e8e8e8;

}

#Cat .ant-card-body .ant-card-bordered:hover {
    box-shadow: 0px 3px 10px #80808052;

}

#Cat .card_pan {
    padding: 10px;
    width: 33.33%;
    float: left;
}

#Cat .image {
    display: block;
    width: 100%;
    height: auto;
}

#Cat .img_overlay:hover .middle {
    opacity: 1;
}

#Cat .middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1bb59187;
}

#Cat .img_overlay {
    position: relative;
    width: 100%;
}

#Cat .text {
    color: white;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* ----- Dog css ----- */
#Dog {
    width: 100%;
    float: left;
    margin-top: 20px;
    margin-bottom: 30px;
}

#Dog .ant-card-head {
    min-height: 0px;
}

#Dog .ant-card-head-title {
    padding: 10px 0px;
    letter-spacing: 3px;
    color: #1bb591;
}

#Dog .ant-card-bordered {
    border: none;
}

#Dog .ant-card-body {
    padding: 15px 15px 20px 15px;
}

#Dog .ant-card-body .ant-card-bordered {
    border: 1px solid #e8e8e8;

}

#Dog .ant-card-body .ant-card-bordered:hover {
    box-shadow: 0px 3px 10px #80808052;

}

#Dog .card_pan {
    padding: 10px;
    width: 33.33%;
    float: left;
}

#Dog .image {
    display: block;
    width: 100%;
    height: auto;
}

#Dog .img_overlay:hover .middle {
    opacity: 1;
}

#Dog .middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1bb59187;
}

#Dog .img_overlay {
    position: relative;
    width: 100%;
}

#Dog .text {
    color: white;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* ----- Video css ----- */

#Video {
    margin-top: 50px;
    width: 100%;
    float: left;
    position: relative;
}

#Video #myVideo {
    /* position: fixed;*/
    right: 0;
    bottom: 0;
    max-width: 1050px;
    width: 100%;
    min-height: 100%;
}

#Video .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: right;
    z-index: 100;
}

#Video .myBtn {
    width: 100px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #00000075;
    color: #fff;
    cursor: pointer;
}

#Video .myBtn:hover {
    background: #1bb591;
    color: white;
}

#Video .myBtn:active {
    background: #1bb591;
    color: white;
}

#Video .myBtn:focus {
    background: #1bb591;
    color: white;
}

/* ----- Modal css ----- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    left: 0;
    top: 0;
    max-width: 1050px;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#Modal .modal-header {
    padding: 15px !important;
    background-color: white;
    color: black;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #1bb591;
    color: white;

}

.modal-footer h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 1.5em;
}

.modal-footer h3 .fa-paw:before {
    padding-left: 5px;
}

#Modal .img_modal {
    width: 100%;
    text-align: center;
}

#Modal img {
    width: 200px;
}

#Modal h2 {
    font-size: 2em;
    margin-bottom: 0px;
    color: #1bb591;
}

#Modal .ant-tabs-nav {
    width: 100%;
}

.ant-tabs-nav .ant-tabs-tab {
    width: 50%;
    text-align: center;
    margin: 0px;
}

.tab_1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    float: left;
}

.tab_1 i {
    font-size: 1.5em;
    width: 30%;
    float: left;
    text-align: right;
}

.tab_1 .h31 {
    font-size: 1.5em;
    width: 35%;
    float: left;
    margin: 0px;
    text-align: left;

}

.tab_1 .h32 {
    font-size: 1.5em;
    width: 35%;
    float: left;
    margin: 0px;
    text-align: left;

}

.tab_1 .fa-heartbeat:before {
    margin-right: 10px;
    color: #1bb591;
}

.tab_1 .fa-crosshairs:before {
    margin-right: 10px;
    color: #1bb591;
}

.tab_1 .fa-volume-down:before {
    margin-right: 10px;
    color: #1bb591;
}

.tab_1 .fa-transgender:before {
    margin-right: 10px;
    color: #1bb591;
}

.tab_1 .fa-paw:before {
    margin-right: 10px;
    color: #1bb591;
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: #1bb591;
}

.ant-tabs-ink-bar {
    background-color: #1bb591;
}

.ant-tabs-nav .ant-tabs-tab:hover {
    color: #1bb591;
}

.tab_cat {
    height: 200px;
}

#AdopPage .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 3px;
}

#ShopPage .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 3px;
}

#Modal a:focus, a:hover {
    text-decoration: none !important;
}

#ShopPage .ant-card-meta-description {
    color: #F44336;
}

.rate_sty .ant-rate {
    font-size: 0.5em !important;
}

.map_sty iframe {
    width: 100%;
    border: none;
}

.ant-modal-body {
    padding: 0px;
}

.add-sty {
    padding: 20px;
    text-align: center;
}

.fa-map-marker-alt:before {
    margin-right: 10px;
    color: #1bb591;
}

.fa-phone-square:before {
    margin-right: 10px;
    color: #1bb591;
}

.ant-modal-title {
    color: #1bb591;
}

/* ----- TopVideo css ----- */
#TopVideo {
    margin-top: 50px;
    width: 100%;
    float: left;
    padding: 20px;
    background-color: white;
}

#TopVideo .video_top {
    width: 50%;
    height: 350px;
    float: left;
}

#TopVideo .top_title {
    width: 50%;
    float: left;
    padding: 0px 20px;
}

#TopVideo .top_title .ant-avatar-image {
    width: 100px;
    height: 100px;

}

#TopVideo p {
    color: #9a9a9a;
}

#TopVideo .icon_text {
    color: rgba(0, 0, 0, 0.45);
    padding-top: 120px;
    float: right;
}

#TopVideo .icon_text .icon_sty {
    border-right: 0.5px solid #f3f3f3;
    width: 60px;
    float: left;
    margin-right: 10px;
}

/* ----- VideoMid css ----- */
#VideoMid {
    width: 100%;
    float: left;
    margin-top: 20px;
}

#VideoMid .ant-card-head {
    min-height: 0px;
}

#VideoMid .ant-card-head-title {
    padding: 10px 0px;
    letter-spacing: 3px;
    color: #1bb591;
}

#VideoMid .ant-card-bordered {
    border: none;
}

#VideoMid .ant-card-body {
    padding: 15px 15px 20px 15px;
}

#VideoMid .ant-card-body .ant-card-bordered {
    border: 1px solid #e8e8e8;

}

#DogFood .ant-card-body .ant-card-bordered:hover {
    box-shadow: 0px 3px 10px #80808052;

}

#VideoMid .card_pan {
    padding: 10px;
    width: 25%;
    float: left;
}

#VideoMid .image {
    display: block;
    width: 100%;
    height: auto;
}

#VideoMid .img_overlay:hover .middle {
    opacity: 1;
}

#VideoMid .middle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1bb59187;
}

#VideoMid .img_overlay {
    position: relative;
    width: 100%;
}

#VideoMid .text {
    color: white;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#VideoMid .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 3px;
}

#VideoMid .ant-card-meta-description p {
    margin: 0px;

}

#VideoMid .icon_text {
    color: #d8d8d8;
    float: right;
}

#VideoMid .icon_text .icon_sty {
    border-right: 0.5px solid #f3f3f3;
    width: 50px;
    float: left;
    margin-right: 6px;
}
