body {
    background: #1f88c2;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

.App {

}

#Menu {
    position: absolute;
    width: 100%;
    z-index: 1200;
}

main {
    position: relative;

}

.container {
    margin: 0 auto;
    width: 95%
}

#header-main {
    background-color: transparent;
    padding: 10px 0;
    min-height: 60px;
    overflow: hidden;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear
}

#header-main .logo {
    float: left;
    margin: 5px 0px;
    width: 20%;
    color: white;
}

#header-main .logo img {
    /* padding: 10px 0    */
    width: 200px;
}

#header-main nav {
    position: relative;
    top: 17px
}

#header-main nav ul {
    margin: 0;
    padding-left: 0
}

#menu-main ul {
    /* position:absolute;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);
     margin:0;
     padding:0;
     display:flex;   */
}

#menu-main ul li {
    list-style: none;
}

#menu-main ul .center_li li a {
    position: relative;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
    font-weight: bold;
    transition: .5s;
    color: white;
    cursor: pointer;
}

#menu-main ul .center_li li a:hover {
    color: #FFEB3B;
    text-decoration: none;
}

#menu-main ul .center_li li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #FFEB3B;
    border-bottom: 2px solid #FFEB3B;
    transform: scaleY(2);
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

#menu-main ul .center_li li a:hover:before {
    transform: scaleY(1.2);
    opacity: 1;
}

#menu-main ul .center_li li a:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0006;
    transform: scale(0);
    transition: .5s;
    z-index: -1;
}

#menu-main ul .center_li li a:hover:after {
    transform: scale(1);
}

#header-main nav ul li {
    list-style: none;
    margin: 0px 20px;
}

#menu-main .center_li {
    text-align: center;
    float: left;
    width: 60%;
}

#menu-main .righr_li {
    float: left;
    width: 20%;
    text-align: right;
    margin-top: 5px;
}

#header-main nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 20px;
    text-align: center;
    margin: 4px 2px;
    font-size: 1.5em !important;
    opacity: 1;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: #00BCD4 !important;
    border: 2px solid #00BCD4;

}

#header-main #menu-icon {
    display: none;
}

#header-main.active {
    background-color: #3491dc;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 0;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.38);
    -ms-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.38);
    -o-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.38);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear
}

#header-main.active #menu-icon {
    top: 10px
}

#header-main.active .logo img {
    max-width: 130px;
}

#header-main.active nav li a {
    color: #fff
}

#LeftContent {
    width: 50%;
    background: url(./images/he06.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    height: 100vh;
    float: left;
}

#LeftContent .logo_left {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

#LeftContent .logo_left img {
    width: 60%;
}

#LeftContent .inner_code img {
    width: 160px;

}

.bar_img_sty {
    width: 40%;
    float: left;
}

.title_code {
    background: #1f88c2;
    width: 160px;
    margin: 0px;
}

.title_code h3 {
    margin: 0px;
    padding: 15px;
    color: white;
    text-align: center;
}

#LeftContent .botton_left {
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background: #0000003d;
    border-radius: 20px;
    border: 3px solid #03A9F4;
    box-shadow: 6px 10px 18px #0000003b;
}

.inner_code {
    padding: 20px;

}

.game_btn {
    text-align: center;
    float: left;
    width: 60%;
    margin-top: 20px;
}

.box {
    background: linear-gradient(to right, gold, darkorange);
    color: white;
    --width: 250px;
    --height: calc(var(--width) / 3);
    width: var(--width);
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    font-size: calc(var(--height) / 2.5);
    letter-spacing: 0.2em;
    border: 1px solid darkgoldenrod;
    border-radius: 2em;
    transform: perspective(500px) rotateY(-15deg);
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-weight: bold;
    font-weight: bold;
}

.box:hover {
    transform: perspective(500px) rotateY(15deg);
    text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, white, transparent);
    left: -100%;
    transition: 0.5s;
}

.box:hover::before {
    left: 100%;
}

#RightContent {
    width: 50%;
    /*background: url(./images/home9.jpg) no-repeat center;*/
    background-size: cover;
    position: relative;
    height: 100vh;
    float: left;
    overflow-y: overlay;
}

#RightContent .right_warp {
    width: 80%;
    margin: auto;
}

.top_warp {
    background-color: #00000087;
    width: 100%;
    margin-top: auto;
    padding: 5px;
    /* border-radius: 4px;
     border: 3px solid #03A9F4;
     box-shadow: 0px 5px 18px #02020242; */
}

.icon_mar {
    width: 10%;
    float: left;
    padding: 5px 0px;
    color: white;
}

.icon_mar i {
    width: 25%;
    float: left;
    font-size: 1.5em;
    text-align: right;
}

.icon_mar .text_title {
    width: 75%;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}

.icon_mar p {
    margin: 0px;
    padding-left: 10px;
}

.marWarp {
    width: 90%;
    padding: 5px 0px;
    /*background-color: #0b6ebf; */
    overflow: hidden;
    margin-left: auto;

}

#Marquee {
    width: 100%;
    position: fixed;
    z-index: 2000;
    bottom: 0px;
}

.marquee {
    display: block;
    position: relative;
    width: 1500px;
    animation: scroll 20s linear infinite;
    padding: 3px;
}

.marquee span {
    color: #FFEB3B;
    word-wrap: normal;
    font-size: 1em;
}

.marquee:hover {
    animation-play-state: paused
}

@keyframes scroll {
    0% {
        left: 1200px;
    }
    100% {
        left: -1200px;
    }
}

#Banner .top_banner .banner {
    width: 100%;

}

/* ----- Login ----- */
.popup-wrap {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    content: '';
    background: rgba(0, 0, 0, 0.80);
    z-index: 10;
}

.popup-box {
    width: 500px;
    transform: translate(-50%, -50%) scale(0.5);
    position: absolute;
    top: 40%;
    left: 50%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background: #fff;
}

#Login .check_con {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 1.2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 27px;
    color: #ababab;
    font-weight: 200;
    float: left;
}

#Login .check_con input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#Login .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #e7e7e7;
}

#Login .check_con:hover input ~ .checkmark {
    background-color: #ccc;
}

#Login .check_con input:checked ~ .checkmark {
    background-color: #2196F3;
}

#Login .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#Login .check_con input:checked ~ .checkmark:after {
    display: block;
}

#Login .check_con .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#Login .forget_pass {
    float: right;
    margin: 20px 0px;
    line-height: 27px;
    text-align: right;
    color: #6b90d6;
    font-weight: 200;
}

#Login .box_title {
    margin-bottom: 5%;
    width: 100%;
    float: left;
    background: #6b90d6;
}

.text_bg {
    padding: 10px 20px;
}

#Login .box_title img {
    width: 55px;
}

#Login .box_title .box_img {
    padding-right: 10px;
    float: left;
}

#Login .box_title h2 {
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-weight: 200;
    font-size: 1.8em;
}

#Login form {
    padding: 20px;
}

#Login form .input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

#Login form .icon {
    padding: 15px;
    background: dodgerblue;
    color: white;
    min-width: 20px;
    text-align: center;
}

#Login form .input-field {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    background-color: #e7e7e7;
}

#Login form .input-field:focus {
    border: none;
}

#Login form .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-weight: 200;
}

#Login form .btn:hover {
    opacity: 1;
}

.popup-box .close-btn {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 10px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    background: #0b6ebf;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 142%;
    text-align: center;
    font-size: 1.5em;
}

.popup-box .close-btn:hover {
    /*
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    */
}

.transform-in, .transform-out {
    display: block;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.transform-in {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.transform-out {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
}

/* ----- Register ----- */

.popup-wrap2 {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    content: '';
    background: rgba(0, 0, 0, 0.70);
    z-index: 10;
}

.popup-box2 {
    width: 500px;
    transform: translate(-50%, -50%) scale(0.5);
    position: absolute;
    top: 40%;
    left: 50%;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background: #fff;
}

#Register .check_con {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 1.2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 27px;
    color: #ababab;
    font-weight: 200;
    float: left;
}

#Register .check_con input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#Register .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #e7e7e7;
}

#Register .check_con:hover input ~ .checkmark {
    background-color: #ccc;
}

#Register .check_con input:checked ~ .checkmark {
    background-color: #2196F3;
}

#Register .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#Register .check_con input:checked ~ .checkmark:after {
    display: block;
}

#Register .check_con .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#Register .forget_pass {
    float: right;
    margin: 20px 0px;
    line-height: 27px;
    text-align: right;
    color: #6b90d6;
    font-weight: 200;
}

#Register .box_title {
    margin-bottom: 5%;
    width: 100%;
    float: left;
    background: #6b90d6;
}

Register .text_bg {
    padding: 10px 20px;
}

#Register .box_title img {
    width: 55px;
}

#Register .box_title .box_img {
    padding-right: 10px;
    float: left;
}

#Register .box_title h2 {
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-weight: 200;
    font-size: 1.8em;
}

#Register form {
    padding: 20px;
}

#Register form .input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

#Register form .icon {
    padding: 15px;
    background: dodgerblue;
    color: white;
    min-width: 20px;
    text-align: center;
}

#Register form .input-field {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    background-color: #e7e7e7;
}

#Register form .input-field:focus {
    border: none;
}

#Register form .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-weight: 200;
}

#Register form .btn:hover {
    opacity: 1;
}

.popup-box2 .close-btn {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 10px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    background: #0b6ebf;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    line-height: 142%;
    text-align: center;
    font-size: 1.5em;
}

.popup-box2 .close-btn:hover {
    /*
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    */
}

.transform-in, .transform-out {
    display: block;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.transform-in {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.transform-out {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
}

#Banner .banner01 .left_side {
    width: 50%;
    float: left;
    background-color: white;
}

#Banner .banner01 .left_side .img01 {
    background: url(./images/by1.png) no-repeat center;
    background-size: cover;
    height: 300px;
}

#Banner .banner01 .right_side {
    width: 50%;
    float: left;
    height: 300px;
    background: white;
}

#Banner .banner01 .right_side .top_img01 {
    width: 100%;
    height: 150px;
    background: url(./images/btn01.jpg) no-repeat center;
    background-size: cover;
    height: 150px;
}

#Banner .banner01 .right_side .top_img02 {
    width: 100%;
    height: 150px;
    background: url(./images/by2.jpg) no-repeat center;
    background-size: cover;
    height: 150px;
}

#Banner .banner02 .left_side {
    width: 50%;
    float: left;
    background-color: white;
    margin-bottom: 44px;
}

#Banner .banner02 .left_side .img01 {
    background: url(./images/by3.png) no-repeat center;
    background-size: cover;
    height: 300px;

}

#Banner .banner02 .right_side {
    width: 50%;
    float: left;
    height: 300px;
    background: white;
}

#Banner .banner02 .right_side .top_img01 {
    width: 100%;
    height: 150px;
    background: url(./images/btn01.jpg) no-repeat center;
    background-size: cover;
    height: 150px;
}

#Banner .banner02 .right_side .top_img02 {
    width: 100%;
    height: 150px;
    background: url(./images/by2.jpg) no-repeat center;
    background-size: cover;
    height: 150px;
}

.top01 {
    position: relative;
    width: 100%;
    height: 150px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.top01:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .4);
}

.title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 30px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
}

.top01:hover .title {
    top: 0px;
}

.button {
    position: absolute;
    width: 100%;
    left: 0;
    top: 90px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.button a {
    width: 200px;
    padding: 10px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    text-decoration: none;
}

.top01:hover .button {
    opacity: 1;
}

/* ----- responsive ----- */

@media (min-height: 974px) {
    #Slider {
        margin-top: 30px;
    }
}

@media (max-width: 1820px) {

    #LeftContent .botton_left {
        width: 60%;
    }
}

@media (max-width: 1750px) {
    .icon_mar i {
        font-size: 1.2em;
        width: 15%;
    }

    .icon_mar .text_title {
        font-size: 1em;
        width: 85%;
    }

    .marquee span {
        font-size: 0.9em;
    }

    .icon_mar {
        padding: 7px 0px;
    }

}

@media (max-width: 1545px) {
    #Banner .banner01 .left_side {
        width: 60%;
    }

    #Banner .banner01 .right_side {
        width: 40%;
    }

    #Banner .banner02 .left_side {
        width: 60%;
    }

    #Banner .banner02 .right_side {
        width: 40%;
    }

    #Marquee {

    }

    #LeftContent .botton_left {
        width: 70%;
    }
}

@media (max-width: 1455px) {
    .icon_mar i {
        font-size: 1em;
        width: 20%;
    }

    .icon_mar .text_title {
        font-size: .8em;
        width: 80%;
    }

    .marquee span {
        font-size: 0.8em;
    }

    .icon_mar {
        padding: 9px 0px;
    }

    #header-main nav ul li a {
        font-size: 1.2em;
    }

    .btn {
        font-size: 1.2em !important;
    }

    #RightContent .right_warp {
        width: 85%;
    }

    .top_warp {
        margin-top: 100px;
    }

    #header-main nav ul li {
        margin: 0px 8px;
    }

    .marWarp {
        margin-top: 4px;
        margin-right: auto;
    }

    .top_warp {
        padding: 5px;
    }

    .marquee {
        padding: 0px;
    }

    .top_warp {
        padding: 5px;
    }

    #header-main .logo img {
        width: 180px;
    }

}

@media (max-width: 1350px) {
    #Slider {
        margin-top: 110px;
    }

    #Banner .banner01 .left_side {
        width: 70%;
    }

    #Banner .banner01 .right_side {
        width: 30%;
    }

    #Banner .banner02 .left_side {
        width: 70%;
    }

    #Banner .banner02 .right_side {
        width: 30%;
    }

    .title {
        top: 45px;
        font-weight: 400;
        font-size: 22px;
    }

    .top01:hover .title {
        margin: 1.5em 0em;
    }

    #LeftContent .botton_left {
        width: 85%;
    }
}

@media (max-width: 1145px) {
    .icon_mar i {
        font-size: .8em;
        width: 20%;
        padding-top: 1px;
    }

    .icon_mar .text_title {
        font-size: .75em;
        width: 80%;
    }

    .icon_mar {
        padding: 10px 0px;
    }

    .top_warp {
        padding: 2px
    }

    #header-main nav ul li a {
        font-size: 1em;
    }

    .btn {
        font-size: 1em !important;
    }

    .marquee span {
        font-size: 0.7em;
    }

    .marWarp {
        padding: 4px 0px;
        margin-top: 5px;
    }

    #header-main .logo img {
        width: 160px;
    }

}

@media (max-width: 1050px) {
    .icon_mar {
        width: 20%;
    }

    .marWarp {
        width: 80%;
    }

    .icon_mar i {
        font-size: 1em;
        padding-top: 1px;
    }

    .icon_mar .text_title {
        font-size: 1em;
    }

    .marquee span {
        font-size: .9em;
    }

    #Marquee {

    }

    #LeftContent {
        width: 100%;
        height: auto;

    }

    #RightContent {
        width: 100%;
    }

    #header-main .logo img {
        width: 150px;
    }

    #header-main.active .logo img {
        width: 150px;
    }

    #header-main .logo {
        height: 50px;
    }

    #header-main {
        padding: 0px;
    }

    #header-main nav ul li a {
        font-size: 1.4em;

    }

    .btn {
        font-size: 1.2em !important;
        padding: 5px 14px;
    }

    #menu-main .righr_li {
        margin-top: 8px;
    }

    #header-main nav ul li {
        margin: 0px 2px;
    }

    #Menu {
        margin-top: 10px;
    }

    #menu-main .righr_li {
        margin-top: 5px;
    }

    #Slider {
        margin-top: 0px;
    }

    #LeftContent .botton_left {
        width: 60%;
    }

    #LeftContent .logo_left img {
        width: 60%;
    }

    #LeftBarcode {
        margin-top: 140px;
        padding-bottom: 200px;
    }

    #Banner .banner02 .left_side {
        margin-bottom: 43px;
    }
}

@media (max-width: 860px) {
    #header-main nav ul li a {
        font-size: 1em;
    }

    .btn {
        font-size: .9em !important;
        padding: 5px 15px;
    }

    #LeftContent .botton_left {
        width: 70%;
    }

    #LeftContent .logo_left img {
        width: 70%;
    }
}

@media (min-width: 768px) {
    #header-main nav ul li {
        display: inline-block
    }

}

@media (max-width: 768px) {
    #Menu {
        margin-top: 0px;
    }

    #header-main nav ul li {
        text-align: center;
        margin-bottom: 5px
    }

    #header-main nav ul li a {
        padding: 10px;
        display: block
    }

    /* #header-main nav ul li a:hover {
         border: 1px solid yellow !important;
         color: yellow !important;
     }
     */
    #header-main nav {
        display: none;
        width: 100%;
        padding-bottom: 10px
    }

    #header-main .logo img {
        width: 150px;
    }

    #header-main nav.menu-active {
        display: block;
        clear: both;
        height: 180px;
    }

    #header-main #menu-icon {
        background: transparent;
        padding: 5px 12px;
        position: relative;
        top: 20px;
        display: block;
        float: right;
        z-index: 10;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px
    }

    #header-main #menu-icon .icon-menu-hamburguer {
        background: #fff;
        width: 30px;
        height: 4px;
        margin: 2px 0;
        display: block;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px
    }

    #header-main #menu-icon .icon-menu-hamburguer:after, #header-main #menu-icon .icon-menu-hamburguer:before {
        content: '';
        background: #fff;
        width: 30px;
        height: 4px;
        display: block;
        margin: 2px 0;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;

    }

    #header-main #menu-icon .icon-menu-hamburguer:before {
        bottom: 8px
    }

    #header-main #menu-icon .icon-menu-hamburguer:after {
        top: 2px
    }

    #header-main {
        min-height: 55px;
    }

    #header-main.active #menu-icon {
        top: 21px;
    }

    #menu-main .center_li {
        width: 100%;
        margin-top: 20px;
    }

    #header-main nav ul .center_li li {
        width: 25%;
        float: left;
        margin: 0px;

    }

    .a_style {
        padding: 0px 10px;
    }

    #header-main nav ul .center_li li a {
        border: 1px solid white;

    }

    #header-main {
        background-color: #14ace2;
    }

    #menu-main .righr_li {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    #header-main nav ul li a {
        font-size: 1em;
    }

    .btn {
        font-size: 1.2em !important;
        padding: 5px 15px;
        border: none;
        background: #0b6ebf;
    }

    #menu-main .righr_li li {
        width: 150px;
    }

    .righr_float {
        margin: auto;
        width: 90%;
    }

    #header-main nav ul li {
        display: inline-block;
    }

}

@media (max-width: 600px) {
    #header-main nav ul .center_li li {
        width: 50%;
    }

    .a_style {
        padding: 10px 10px;
    }

    #menu-main .center_li {
        width: 100%;
        margin-top: 0px;
    }

    #menu-main .righr_li {
        margin-top: 10px;
    }

    #header-main nav.menu-active {
        height: 200px;
    }

    .popup-box {
        width: 400px;
    }

    .popup-box2 {
        width: 400px;
    }

    .righr_float {
        width: 100%;
    }

    #header-main nav ul li a {
        padding: 8px 5px;
        display: block;
    }

    #menu-main .righr_li li {
        width: 130px;
    }

    #Banner .banner01 .left_side {
        width: 70%;
    }

    #Banner .banner01 .right_side {
        width: 30%;
    }

    #Banner .banner02 .left_side {
        width: 70%;
    }

    #Banner .banner02 .right_side {
        width: 30%;
    }

    #RightContent {
        height: auto;
        overflow-y: hidden;
    }

    .icon_mar i {
        font-size: .8em;
        padding-top: 1px;
    }

    .icon_mar .text_title {
        font-size: .7em;
    }

    .marquee span {
        font-size: .7em;
    }

    #Marquee {

    }

    @keyframes scroll {
        0% {
            left: 800px;
        }
        100% {
            left: -800px;
        }
    }
    #LeftContent .botton_left {
        width: 90%;
    }

    #LeftContent .logo_left img {
        width: 70%;
    }

    #LeftBarcode {
        margin-top: 120px;
        padding-bottom: 100px;
    }

    #Banner .banner02 .left_side {
        margin-bottom: 38px;
    }
}

@media (max-width: 500px) {
    .bar_img_sty {
        width: 100%;
        text-align: center;
    }

    .game_btn {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .title_code {
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .box {
        margin: auto;
        font-size: calc(var(--height) / 2.3);
        --height: calc(var(--width) / 4);
        --width: 220px;
    }

    #LeftContent .botton_left {
        width: 80%;
    }

    #LeftContent .logo_left img {
        width: 80%;
    }

    #LeftBarcode {
        margin-top: 80px;
        padding-bottom: 60px;
    }
}

@media (max-width: 450px) {
    .popup-box {
        width: 90%;
        top: 45%;
    }

    .popup-box2 {
        width: 90%;
        top: 45%;
    }

    #Banner .banner01 .left_side {
        width: 100%;
    }

    #Banner .banner01 .right_side {
        width: 100%;
        height: 100px;
    }

    #Banner .banner02 .left_side {
        width: 100%;
        margin-top: -378px;
    }

    #Banner .banner02 .right_side {
        width: 100%;
        height: 100px;
        margin-top: 274px;
    }

    #Banner .banner01 .left_side .img01 {
        background: url(./images/by1.png) no-repeat 31%;
    }

    #Banner .banner02 .left_side .img01 {
        background: url(./images/by3.png) no-repeat 63%;
    }

    .top01 {
        width: 50%;
        float: left;
        height: 100px;
    }

    #Banner .banner01 .right_side .top_img02 {
        height: 100px;
    }

    #Banner .banner01 .right_side .top_img01 {
        height: 100px;
    }

    #Banner .banner02 .right_side .top_img01 {
        height: 100px;
    }

    #Banner .banner02 .right_side .top_img02 {
        height: 100px;
    }

    .title {
        top: 20px;
        font-size: 20px;
    }

    .top01:hover .title {
        top: -18px;
    }

    .button {
        top: 58px;
    }

    .icon_mar {
        width: 25%;
    }

    .marWarp {
        width: 75%;
    }

    #Banner .banner02 .left_side {
        margin-bottom: 116px;
    }
}