
.blue-color{
    color:#375ca4 !important;
}

.main-bg{
    background-image: url("../img/main-06.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;

}


/*left-login-button*/
.left-login-button {
    position: fixed;
    width: 50px;
    height: 110px;
    background: #45a535;
    top: 250px;
    /* right: 0; */
    /* border-left: 2px solid #fff; */
    /* border-top: 2px solid #fff; */
    /* border-bottom: 2px solid #fff; */
    /* box-shadow: 1px 1px 3px #000; */
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    cursor: pointer;
    transition: 0.2s ease-out;
}

.left-login-button:hover {
    width: 50px;
}

.left-login-button-txt {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    position: absolute;
    right: -12px;
    top: 37px;
    color: #fff;
    transition: 0.2s ease-out;
    font-size: 18px;
    word-break: keep-all;
}

.left-login-button:hover .left-login-button-txt {
    right: -6px;
}


/*left-register-button*/
.left-register-button {
    position: fixed;
    width: 50px;
    height: 110px;
    background: #375ca4;
    top: 380px;
    /* right: 0; */
    /* border-left: 2px solid #fff; */
    /* border-top: 2px solid #fff; */
    /* border-bottom: 2px solid #fff; */
    /* box-shadow: 1px 1px 3px #000; */
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    cursor: pointer;
    transition: 0.2s ease-out;
}

.left-register-button:hover {
    width: 50px;
}

.left-register-button-txt {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    position: absolute;
    right: -12px;
    top: 37px;
    color: #fff;
    transition: 0.2s ease-out;
    font-size: 18px;
    word-break: keep-all;
}

.left-register-button:hover .left-register-button-txt {
    right: -6px;
}



/*left-download-button*/

.left-download-button {
    position: fixed;
    width: 50px;
    height: 110px;
    background: #cda641;
    top: 510px;
    /* right: 0; */
    /* border-left: 2px solid #fff; */
    /* border-top: 2px solid #fff; */
    /* border-bottom: 2px solid #fff; */
    /* box-shadow: 1px 1px 3px #000; */
    /* border-top-left-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    cursor: pointer;
    transition: 0.2s ease-out;
}

.left-download-button:hover {
    width: 50px;
}

.left-download-button-txt {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    position: absolute;
    right: -12px;
    top: 37px;
    color: #fff;
    transition: 0.2s ease-out;
    font-size: 18px;
    word-break: keep-all;
}

.left-download-button:hover .left-download-button-txt {
    right: -6px;
}


/*popup*/
.popup-trigger {
    /* display: block; */
    width: 170px;
    /* right: 2rem; */
    margin: 3em auto;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    padding: 1rem 2rem;
    /* text-decoration: none; */
    font-weight: bold;
    /* text-transform: uppercase; */
    border-radius: 50em;
    /* background: #35a785; */
    /* box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07); */
    transition: 300ms all;
}


.popup-trigger:hover {
    opacity:.8;
}

.left-download-popup {
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1000;
    width: 100%;
    background-color: #212121d6;
    opacity: 0;
    visibility: hidden;
    transition:500ms all;

}





.left-download-popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition:1s all;
}

.popup-container {
    transform:translateY(-50%);
    transition:500ms all;
    position: relative;
    /*width: 40%;*/
    margin: 2em auto;
    top: 5%;
    /*padding:5rem;*/
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.is-visible .popup-container {
    transform:translateY(0);
    transition:500ms all;
}

.popup-container .popup-close {
    position: absolute;
    top: 8px;
    font-size:0;
    right: 8px;
    width: 30px;
    height: 30px;
}


.popup-container .popup-close::before,
.popup-container .popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}

.popup-container .popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}

.popup-container .popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}


.popup-container .popup-close:hover:before,
.popup-container .popup-close:hover:after {
    background-color:#35a785;
    transition:300ms all;
}




/*home-tab*/
.tab-container {
    margin-bottom: 1.5em;
}
.tab-buttons {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 30em) {
    .tab-buttons {
        justify-content: center;
    }
}
.tab-buttons--basic {
    border-bottom: 1px solid #cda641;
}
.tab-buttons--basic .tab-button {
    border-bottom: 1px solid transparent;
}
.tab-buttons--basic .tab-button--is-active {
    border-color: #cda641;
}
.tab-buttons--boxed {
    border-bottom: 1px solid #cda641;
}
.tab-buttons--boxed .tab-button {
    border: 1px solid transparent;
    border-radius: 0.3em 0.3em 0 0;
    padding-left: 30px;
    padding-right: 30px;
}
.tab-buttons--boxed .tab-button:not(.tab-button--is-active):hover, .tab-buttons--boxed .tab-button:not(.tab-button--is-active):focus {
    background: #cda641;
    border-bottom-color: #cda641;
}
.tab-buttons--boxed .tab-button--is-active {
    background: #cda641;
    border-color: #cda641;
    /*border-bottom-color: transparent;*/
}
.tab-buttons--toggle .tab-button-item:not(:first-child) {
    margin-left: -1px;
}
.tab-buttons--toggle .tab-button {
    border: 1px solid #d6d6d6;
    padding: 20px 20px;
    font-size: 1.2em;
}
.tab-buttons--toggle .tab-button:not(.tab-button--is-active):hover, .tab-buttons--toggle .tab-button:not(.tab-button--is-active):focus {
   /* background: #cda641;*/
}
.tab-buttons--toggle .tab-button--is-active {
    background: #454545;
}
@media (min-width: 30em) {
    .tab-buttons--left {
        justify-content: flex-start;
    }
    .tab-buttons--right {
        justify-content: flex-end;
    }
    .tab-buttons--center {
        justify-content: center;
        text-align: center;
    }
    .tab-buttons--justify {
        justify-content: center;
        text-align: center;
    }
    .tab-buttons--justify .tab-button-item {
        flex: 1 0 auto;
    }
}
@media (max-width: 30em) {
    .tab-button-item {
        text-align: center;
        width: 100%;
    }
}
.tab-button-item:not(:first-child) {
    margin-left: 5px;
}
.tab-button {
    color: #666;
    display: block;
    margin-bottom: -1px;
    padding: 10px;
    text-decoration: none;
}
.tab-button--is-active {
   color: white!important;
}
.tab-panels {
    border: 1px solid #cda641;
    border-top: 0;
    border-radius: 0 0 0.3em 0.3em;
    position: relative;
}
.tab-panel {
    padding: 1em;
}
.tab-buttons--toggle ~ .tab-panels {
    border: 1px solid#d6d6d6;
    border-radius: 0.3em;
    margin-top: 1em;
}
.tab-panel--is-disabled {
    display: none;
}
.tab-panel--is-active {
    display: block;
}

.panel {
    /* background: #f7f7f7; */
    /* border: 1px solid #ddd; */
    padding: 2em 20em;
}
.panel:nth-child(even) {
    background: #fff;
}
.panel:not(:last-child) {
    margin-bottom: -1px;
}
.panel-header {
    margin-bottom: 4em;
    text-align: center;
}
@media (min-width: 40em) {
    .panel-text {
        margin: auto;
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    .panel {
        /* background: #f7f7f7; */
        /* border: 1px solid #ddd; */
        padding: 5em 3em;
    }
}





.right-aside-button aside {
    position: fixed;
    top: 450px;
    transform: translateY(-50%);
    right: 0px;
    background: rgba(0, 0, 0, 0.66);
    overflow: hidden;
    transition: width .3s;
    width: 30px;
    z-index: 99;
    will-change: width;
}
.right-aside-button aside:hover {
    width: 200px;
}
.right-aside-button aside:hover li .text {
    opacity: 1;
}
.right-aside-button aside ul {
    float: right;
    width: 200px;
    margin: 0;
    padding: 10px;
    list-style: none;
}
.right-aside-button aside li {
    text-align: right;
    line-height: 30px;
}
.inner li:hover a {
    color: #DFC32B;
}
.inner li:hover span {
    background: #DFC32B;
}
.inner  a {
    color: white;
    transition: color .2s;
}
.inner .text {
    display: inline-block;
    opacity: 0;
    transition: opacity .2s;
    margin-right: 20px;
}
.inner span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 100%;
    transition: background .2s;
}
.look-here {
    font-size: 150px;
    color: white;
    position: fixed;
    top: 40%;
    width: 100%;
    text-align: center;
}
.look-here span {
    display: inline;
    font-size: 30px;
    background: none;
    border-radius: 0;
    margin-right: 30px;
    position: relative;
    top: -30px;
}





/*home-main-content-box*/
.main-content-box{
    border: 0.3px solid #d6d6d6;
    padding: 30px;
}

.main-text-16 .text-size-16{
    font-size: 16px!important;
}


/*home-mk4download-img*/
.main-phone-download-width{
    width: 50%!important;
    float: left;
    /* width: 100%; */
    margin-bottom: 20px;
}





/*home-table*/
.main-table-wrapper table{
    table-layout: auto!important;
}

.main-table-title-bg{
    background-color: slategrey;
    color: white!important;
}

.md-ui.component-data-table {
    background: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 2em;
    width: auto;

}
.md-ui.component-data-table .main-table-header {
    padding: 24px 14px 24px 24px;
}
.md-ui.component-data-table .main-table-header .table-header--title {
    color: rgba(0, 0, 0, .87);
    font-weight: 100;
    font-size: 20px;
    margin: 0;
    display: inline-block;
}
.md-ui.component-data-table .main-table-header .table-header--icons {
    font-size: 24px;
    float: right;
    vertical-align: middle;
}
.md-ui.component-data-table .main-table-header .table-header--icons .material-icons:first-child {
    padding-right: 24px;
}
.md-ui.component-data-table .main-table-wrapper {
    display: block;
    max-width: 100%;
    overflow-x: auto;

}
.md-ui.component-data-table .main-table-wrapper .main-table-content {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;

}
.md-ui.component-data-table .main-table-wrapper .main-table-content tr {
    border-bottom: 1px solid #e0e0e0;
}
.md-ui.component-data-table .main-table-wrapper .main-table-content tr td {
    text-overflow: ellipsis;
    /* padding: 0 56px 0 0;*/
    padding:20px;
}
.md-ui.component-data-table .main-table-wrapper .main-table-content tr td:first-child {
    padding: 0 56px 0 24px;
}
.md-ui.component-data-table .main-table-wrapper .main-table-content tr td:last-child {
   /* padding: 0 24px 0 0;*/
}
.md-ui.component-data-table .main-table-wrapper .main-table-content tr td.datatype-string {
    text-align: left;
}
.md-ui.component-data-table .main-table-wrapper .main-table-content tr td.datatype-numeric {
    text-align: right;
}
.md-ui.component-data-table .main-table-wrapper .main-table-content .data-table-header tr {
    height: 64px;
    padding: 0 24px;
}
.md-ui.component-data-table .main-table-wrapper .main-table-content .data-table-header tr td {
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    font-weight: 500;
    vertical-align: middle;
}
.md-ui.component-data-table .main-table-wrapper .main-table-content .data-table-header tr td .material-icons {
    font-size: 18px;
    vertical-align: middle;
    padding-right: 8px;
}
.md-ui.component-data-table .main-table-wrapper .main-table-content .data-table-content tr {
    height: 48px;
    cursor: pointer;
}
.md-ui.component-data-table .main-table-wrapper .main-table-content .data-table-content tr:hover {
    background: #eee;
}
.md-ui.component-data-table .main-table-wrapper .main-table-content .data-table-content tr td {
    color: rgba(0, 0, 0, .87);
    font-weight: 500;
    border: 0.5px solid #d6d6d6c2;
    text-align: center;

    word-break: keep-all;
}
.md-ui.component-data-table .main-table-wrapper .main-table-content .data-table-content tr td input[type="text"] {
    background: transparent;
    border: 0;
    color: #212121;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    text-align:center;
}
.md-ui.component-data-table .main-table-wrapper .main-table-content .data-table-content tr td input[type="text"]::placeholder {
    color: rgba(0, 0, 0, .87);

}
.md-ui.component-data-table .main-table-footer {
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    text-align: right;
    padding: 22px 0;
}
.md-ui.component-data-table .main-table-footer span {
    vertical-align: middle;
}
.md-ui.component-data-table .main-table-footer span .material-icons {
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
}
.md-ui.component-data-table .main-table-footer span.rows-selection {
    padding-right: 32px;
}
.md-ui.component-data-table .main-table-footer span.rows-selection .rows-selection-label {
    padding-right: 38px;
}
.md-ui.component-data-table .main-table-footer span.rows-amount {
    padding-right: 32px;
}
.md-ui.component-data-table .main-table-footer span.table-pagination {
    padding-right: 14px;
}
.md-ui.component-data-table .main-table-footer span.table-pagination .material-icons:first-child {
    padding-right: 24px;
}



/*home-pagination*/
.pagination p8 a{
    text-decoration: none;
}

.pagination p8 p, li, a{
    font-size: 14px;
}

.twelve { width: 100%; }
.eleven { width: 91.53%; }
.ten { width: 83.06%; }
.nine { width: 74.6%; }
.eight { width: 66.13%; }
.seven { width: 57.66%; }
.six { width: 49.2%; }
.five { width: 40.73%; }
.four { width: 32.26%; }
.three { width: 23.8%; }
.two { width: 15.33%; }
.one { width: 6.866%; }

.pagination{
    padding: 30px 0;
    float:right;
}

.pagination ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination li{
    color: white;
}

.pagination a{
    display: inline-block;
    padding: 10px 18px;
    color: #222;
}

.p8 a{
    background-color: #cca552;
    margin: auto 5px;
    color: #fff;
    font-weight: bold;
    border: 3px solid #cca552;
}

.p8 .is-active{
    background-color: #fff;
    color: #2ecc71;
}



/*home-about-link*/
.about-register-link{
    color:#cca552!important;
}


/*home-announcement-wrap*/
.announcement-wrap a {
    color: #d52349;
    line-height: 28px;
    text-decoration: none;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}
.announcement-wrap {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0.1em 0.1em;
}
.download-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.download-card {
    display: flex;
    flex-direction: column;
    width: calc(100% - 0.5em);
    background: #fff;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 1em;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.05), 1px 1px 0px 0px rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid #d2d2d2;
    border-left: 1px solid #dadada;
    margin: 0 0.5em 1em 0.5em;
}
@media (min-width: 700px) {
    .download-cards[data-view='grid-view'] .download-card {
        float: left;
        width: calc(50% - 2em);
    }
    .download-cards[data-view='grid-view'] .download-card:nth-child(3) {
        clear: both;
    }
    .download-cards[data-view='grid-view'] .download-card:nth-child(4) {
        clear: initial;
    }
}
@media (min-width: 1000px) {
    .download-cards[data-view='grid-view'] .download-card {
        width: calc((100% / 3) - 2em);
    }
    .download-cards[data-view='grid-view'] .download-card:nth-child(3) {
        clear: initial;
    }
    .download-cards[data-view='grid-view'] .download-card:nth-child(4) {
        clear: both;
    }
}
.download-card__icon-box {
    display: flex;
    align-items: center;
    background: #f1f1f1;
    padding: 0.5em;
    text-align: center;
}
@media (min-width: 700px) {
    .download-card__icon-box {
        justify-content: center;
    }
}
.download-card__icon-box img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
@media (min-width: 700px) {
    .download-cards[data-view='list-view'] .download-card__icon-box {
        width: 200px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-right: 1px solid #e6e6e6;
    }
}
.download-card__content-box {
    padding: 2em 2em 3em;
    flex: 1;
}
@media (min-width: 700px) {
    .download-cards[data-view="list-view"] .download-card__content-box {
        padding-left: calc(200px + 2em);
    }
}
.download-card__content-box__catagory {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    margin: 0 0 2em;
}
.download-card__content-box__catagory::before {
    content: '| ';
    color: #ff4500;
}
.download-card__content-box__title {
    line-height: 1;
    margin: 0 0 0.5em;
    font-size: 18px;
}
.download-card__content-box__description {
    line-height: 1.5;
    padding: 0;
    margin: 0 0 1em;
    clear: both;
    color: #929292;
    font-size: 13px;
}
.download-card__content-box .button {
    position: absolute;
    bottom: 2em;
    margin: 0;
    color: #ff4500;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 13px;
}
.dc-view-switcher {
    display: none;
    margin: 1em;
    text-align: right;
}
@media (min-width: 700px) {
    .dc-view-switcher {
        display: block;
    }
}
.dc-view-switcher > button {

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    vertical-align: middle;
    color: gray;
    opacity: 0.3;
    outline: none;
    transition: opacity 0.4s ease;
}
.dc-view-switcher > button[data-trigger="list-view"]::before {
    content: "\f00b";
}
.dc-view-switcher > button[data-trigger="grid-view"]::before {
    content: "\f009";
}
.dc-view-switcher > button[data-trigger].active {
    opacity: 1;
}




/*home-daily-table*/
.home-daily-table{
    border: 1px solid #8080804d;
}

.home-daily-table table {
    width:100%;
}
.home-daily-tabletable, th, td {

    border-collapse: collapse;
}
home-daily-table.th, td {
    padding: 15px;
    text-align: left;
}
.home-daily-table table.t01 tr:nth-child(even) {
    background-color: #eee;
}
.home-daily-table table.t01 tr:nth-child(odd) {
    background-color: #fff;
}
.home-daily-table table.t01 th {
    background-color: black;
    color: white;
}




.social-navi {
    top: 245px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0%;
}
.social-navi .navi-nav a {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
}
.social-navi .navi-nav .fa-home {
    background-color: #397296;
}
.social-navi .navi-nav .fa-home:hover {
    background-color: #5799c3bd;
}






.cards-pagination-wrap {
    max-width: 80em!important;
    margin: 0 auto!important;
    padding: 2em 0!important;
    line-height: 1.45!important;
}
@media screen and (min-width: 42em) {
    .cards-pagination-wrap {
        padding: 2em 1em;
    }
}


.card_image img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.card_content a {
    display: inline-block;
    padding: 0.8em 1em 0.6em;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    background-color: #aaa;
    color: #f7f7f7 !important;
    text-align: center;
}

.card_content h4{
    margin-bottom:20px;
    font-size: 1rem!important;
    text-align: center;
}


.cards-pagination {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cards_item {
    display: flex;
    margin-top: 0;
    padding: 0 1em 2em;
}
.no-flexbox .cards_item {
    float: left;
}
@media screen and (min-width: 42em) and (max-width: 60em) {
    .cards_item {
        width: 50%;
    }
    .no-flexbox .cards_item:nth-child(2n+1) {
        clear: both;
    }
}
@media screen and (min-width: 60em) {
    .cards_item {
        width: 33.3333%;
    }
    .no-flexbox .cards_item:nth-child(3n+1) {
        clear: both;
    }
}
.card-info {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 0 solid #eee;
    border-radius: 0;
}
.card_image img {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.card_content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin-top: 0;
    padding: 1.5em;
    background: #f7f7f7;
}
.card_content p {
    flex: 1 0 auto;
}

.pagination-card-time{
    text-align: center;
    margin-top: -10px;
    padding-bottom: 10px;
}





.pagination-container {
    margin-top: 1em;
    padding-top: 2em;
    border-top: 1px solid #d7dadb;
    text-align: center;
}
.pagination-item {
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid #d7dadb;
    transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
}
.pagination-item:hover, .pagination-item.is-active {
    background-color: #cca552;
    border-right: 1px solid #fff;
}
.pagination-item:hover .pagination-link, .pagination-item.is-active .pagination-link {
    color: #fff;
}
.pagination-item.first-number {
    border-left: 1px solid #d7dadb;
}
.pagination-link {
    padding: 1.1em 1.6em;
    display: inline-block;
    text-decoration: none;
    color: #8b969c;
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(20deg) skewY(0deg);
}
.pagination-item--wide {
    list-style-type: none;
    display: inline-block;
}
.pagination-item--wide.first {
    margin: 0 1em 0 0;
}
.pagination-item--wide.last {
    margin: 0 0 0 1em;
}
.pagination-link--wide {
    text-decoration: none;
    color: #8b969c;
    padding: 1.1em 1.6em;
}
.pagination-link--wide:hover {
    color: #fa4248;
}
.pagination-link--wide.first:before, .pagination-link--wide.last:after {
    font-family: 'entypo';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pagination-link--wide.first::before {
    content: "\E765";
    margin-right: 0.5em;
}
.pagination-link--wide.last::after {
    content: "\E766";
    margin-left: 0.5em;
}



@media  (max-height: 736px) {
    .left-login-button {
        top: 137px;
    }

    .left-register-button {
        top: 260px;
    }

    .left-download-button {
         top: 384px;
     }

    .social-navi {
        top: 169px;
    }

    .right-aside-button aside {
        top: 365px;
    }

}


@media  (max-width: 680px){
    .panel{
        padding: 5em 0;
    }
}


@media (min-width: 768px) and (max-width: 1280px){
    .panel{
        padding: 5em 5em;
    }
}



.main-header-margin h1{
    margin-top: 130px!important;
}


.main-text-img .section{
    padding: 2.5rem 1.25rem 1rem 1.25rem!important;
}