@import '../screen.less';

.Homepage {

  @media @Large_screens{margin-top: 100px!important;}
  @media @DesktopsL{margin-top: 90px!important;}
  @media @DesktopsM{margin-top: 90px!important;}
  @media @LaptopL{margin-top: 85px!important;}
  @media @LaptopM{margin-top: 85px!important;}
  @media @LaptopS{margin-top: 85px!important;}
  @media @LaptopXS{margin-top: 85px!important;}
  @media @ipadL{margin-top: 85px!important;}
  @media @ipadS{margin-top: 85px!important;}


  .home_warp {

    @media @PhoneX{margin-top: 40px;}
    @media @Phone{margin-top: 65px;}
    @media @PhoneS{margin-top: 55px;}
    @media @Phone5{margin-top: 50px;}

    .warp {
      width: 33.33%;
      float: left;
      padding: 20px;
      position: relative;
      cursor: pointer;

      @media @LaptopS{padding: 15px;}
      @media @LaptopXS{padding: 15px;}
      @media @ipadL{padding: 10px;}
      @media @ipadS{padding: 10px;}
      @media @PhoneX{padding: 8px;}
      @media @Phone{padding: 8px;}
      @media @PhoneS{padding: 5px;}


      .bg {height: 631px;border-radius: 20px;position: relative;

        @media @DesktopsL{height: 550px;}
        @media @DesktopsM{height: 550px;}
        @media @LaptopL{height: 450px;}
        @media @LaptopM{height: 450px;}
        @media @LaptopS{height: 400px;}
        @media @LaptopXS{height: 350px;}
        @media @ipadL{height: 300px;}
        @media @ipadS{height: 300px; border-radius: 15px;}
        @media @PhoneX{height: 250px; border-radius: 10px;}
        @media @Phone{height: 230px; border-radius: 10px;}
        @media @PhoneS{height: 220px; border-radius: 10px;}
        @media @Phone5{height: 180px; border-radius: 10px;}

        .title{position: absolute;bottom: 5%;width: 100%;font-family: 'Microsoft YaHei',@familyFaces;

          :local(h1){font-size: 4em;margin-bottom: 0;color: white;
            @media @DesktopsL{font-size: 3em;}
            @media @DesktopsM{font-size: 3em;}
            @media @LaptopL{font-size: 2.5em;}
            @media @LaptopM{font-size: 2.5em;}
            @media @LaptopS{font-size: 2.5em;}
            @media @LaptopXS{font-size: 2em;}
            @media @ipadL{font-size: 1.8em;}
            @media @ipadS{font-size: 1.8em;}
            @media @PhoneX{font-size: 1.5em;}
            @media @Phone5{font-size: 1.1em;}
          }
          :local(p){font-size: 1.3em;color: white;
            @media @LaptopS{font-size: 1.2em;}
            @media @LaptopXS{font-size: 1em;}
            @media @ipadL{font-size: 1em;}
            @media @ipadS{font-size: 1em;}
            @media @PhoneX{font-size: .8em;}
            @media @Phone5{font-size: .7em;}
          }

        }
      }

    }

    :local(a) {

      &:nth-child(1) {
        .bg {
          background: url("@/assets/images/svg/background/Menu 1.svg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

        }
      }
      &:nth-child(2) {
        .bg {
          background: url("@/assets/images/svg/background/Menu 2.svg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
      &:nth-child(3) {
        .bg {
          background: url("@/assets/images/svg/background/Menu 3.svg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

    }
  }
}
