.table_pagination {
    line-height: 0.8rem;
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    margin: 0.4rem 0 0.2rem;
}

.table_pagination p {
    text-align: center !important;
}

.table_pagination .switch_page {
    position: absolute;
    top: 0;
    right: 2.2rem;
    word-spacing: 0.2rem;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.table_pagination span:not(:last-child) {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.4rem;
    border: 1px solid rgba(91, 99, 76, 0.19);
    border-radius: 3px;
}

.table_pagination span:not(:hover) {
    border: 1px solid rgba(58, 112, 255, 0.63);
}

.table_pagination span:hover {
    border: 1px solid greenyellow;
}

.table_pagination span:nth-of-type(3) {
    margin-right: 0.3rem;
}

.table_pagination span:nth-of-type(3:hover) {
    color: rgb(87, 148, 255);
}

.table_pagination .disable {
    cursor: not-allowed;
    background: #e7e7e7;
}

.table_pagination .disable:hover {
    border: 1px solid rgba(91, 99, 76, 0.19) !important;
}

.table_pagination input {
    width: 3rem;
    height: 1.8rem;
    border: 1px solid rgba(91, 99, 76, 0.19);
    border-radius: 3px;
    margin-right: 0.2rem;
    padding: 0 0.2rem;
}