/* -----   Menu css  ----- */


.menu1, .menu2, .menu3, .menu4, .menu5, .menu6 {
    cursor: pointer;
    display: inline-block;
    font-size: 5px;
    height: 6em;
    position: relative;
    width: 6em;
    -webkit-tap-highlight-color: transparent;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.menu1 span, .menu2 span, .menu3 span, .menu4 span, .menu5 span, .menu6 span {
    display: block;
    background: #fff;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    backface-visibility: hidden;
    height: 0.3em;
    position: absolute;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    width: 70%;
    -webkit-tap-highlight-color: transparent;
}

/* ============ Menu1 ============ */
.menu-top {
    height: 50px;
    background: #E76B63;
}
.menu1 span {
    left: 0;
}
.menu1 span:nth-child(1) {
    top: 1em;
}
.menu1 span:nth-child(2) {
    top: 2.6em;
}
.menu1 span:nth-child(3) {
    top: 4.2em;
}
.menu1.open span:nth-child(1) {
    -moz-transform: rotate(45deg) translate(1.1em, 1.1em);
    -ms-transform: rotate(45deg) translate(1.1em, 1.1em);
    -webkit-transform: rotate(45deg) translate(1.1em, 1.1em);
    transform: rotate(45deg) translate(1.1em, 1.1em);
}
.menu1.open span:nth-child(2) {
    opacity: 0;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}
.menu1.open span:nth-child(3) {

    -moz-transform: rotate(-45deg) translate(1.1em, -1.1em);
    -ms-transform: rotate(-45deg) translate(1.1em, -1.1em);
    -webkit-transform: rotate(-45deg) translate(1.1em, -1.1em);
    transform: rotate(-45deg) translate(1.1em, -1.1em);
}

/* ============ Menu2 ============ */
.menu2 span {
    left: 0;
}
.menu2 span:nth-child(1) {
    top: 2.5em;
}
.menu2 span:nth-child(2) {
    transform: rotate(90deg);
    top: 2.5em;
}
.menu2.open span:nth-child(2) {
    transform: rotate(0deg);
}

/* ============ Menu3 ============ */
.menu3 span {
    left: 0;
}
.menu3 span:nth-child(1) {
    top: 1em;
}
.menu3 span:nth-child(2) {
    top: 2.6em;
}
.menu3 span:nth-child(3) {
    top: 4.2em;
}
.menu3.open span:nth-child(1) {
    transform: translateY(1.6em);
}
.menu3.open span:nth-child(3) {
    transform: translateY(-1.6em);
}

/* ============ Menu4 ============ */
.menu4 span {
    width: 50%;
}
.menu4 span:nth-child(1) {
    border-radius: setting(border-radius) 0 0 setting(border-radius);
    left: 0;
    top: 1em;
}
.menu4 span:nth-child(2) {
    border-radius: 0 setting(border-radius) setting(border-radius) 0;
    top: 1em;
    right: 0;
}
.menu4 span:nth-child(3) {
    left: 0;
    top: 2.6em;
    width: 100%;
}
.menu4 span:nth-child(4) {
    border-radius: setting(border-radius) 0 0 setting(border-radius);
    left: 0;
    top: 4.2em;
}
.menu4 span:nth-child(5) {
    border-radius: 0 setting(border-radius) setting(border-radius) 0;
    right: 0;
    top: 4.2em;
}
.menu4.open span:nth-child(1) {
    transform: rotate(45deg) translate(0.8em);
}
.menu4.open span:nth-child(2) {
    transform: rotate(-45deg) translate(-0.9em);
}
.menu4.open span:nth-child(3) {
    opacity: 0;
}
.menu4.open span:nth-child(4) {
    transform: rotate(-45deg) translate(0.8em);
}
.menu4.open span:nth-child(5) {
    transform: rotate(45deg) translate(-0.9em);
}

/* ============ Menu5 ============ */
.menu5 span {
    width: 100%;
}
.menu5 span:nth-child(1) {
    left: 0;
    top: 1em;
}
.menu5 span:nth-child(2) {
    border-radius: 0 setting(border-radius) setting(border-radius) 0;
    right: 0;
    top: 2.6em;
    width: 50%;
}
.menu5 span:nth-child(3) {
    border-radius: setting(border-radius) 0 0 setting(border-radius);
    left: 0;
    top: 2.6em;
    width: 50%;
}
.menu5 span:nth-child(4) {
    left: 0;
    top: 4.2em;
}
.menu5.open span:nth-child(1) {
    opacity: 0;
}
.menu5.open span:nth-child(2) {
    border-radius: setting(border-radius);
    transform: rotate(45deg);
    width: 100%;
}
.menu5.open span:nth-child(3) {
    border-radius: setting(border-radius);
    transform: rotate(-45deg);
    width: 100%;
}
.menu5.open span:nth-child(4) {
    opacity: 0;
}

/* ============ Menu6 ============ */
.menu6 span {
    left: 0;
}
.menu6 span:nth-child(1) {
    top: 2.5em;
}
.menu6 span:nth-child(2) {
    transform: rotate(90deg);
    top: 2.5em;
}
.menu6.open {
    transform: rotate(135deg) translatey(0.3em);
}

/*!
 * Animated navicon credit to @hugo - https://codepen.io/hugo/pen/LmJsf
 * My fork (attached as an external resource):
 * https://codepen.io/jreece/pen/fIdqg
*/
.menu {
    position: fixed;
    overflow-y: overlay;
    z-index: 100;
    width: 100%;
    max-width: 1025px;
    height: 100vh;
    background: rgba(30, 30, 30, 0.94);
   /* border-top: 1px solid #3D3527;*/
    transform: scale(1.5);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transition: 600ms ease all;
    -moz-transition: 600ms ease all;
    transition: 600ms ease all;
}
.icon_pos .sp_sty{
    width: 50%;
}
.icon_pos{
    text-align: right;
    width: 33.33%;
    max-width: 1025px;
   /* position: absolute;*/
    float: left;
    padding-right: 10px;
    margin-top: 12px;
}
.head_title{
    width: 33.33%;
    color: white;
    font-size: 1.3em;
    float: left;
    text-align: center;
    margin-top: 13px;

}
.home_btn {
    width: 33.33%;
    float: left;
    margin-top: 13px;
    padding-left: 20px;
}
.menu.off {
    opacity: 0;
    z-index: -1;
    -moz-transition: opacity 0;
    -o-transition: opacity 0;
    -webkit-transition: opacity 0;
    transition: opacity 0;
    transform: scale(1.5);
}
.menu .nav, .menu .nav li {
    list-style: none;
    text-align: center;
}
.menu .nav a {
    display: block;
    position: relative;
    z-index: 3;
    width: 100%;
    background: transparent;
   /* border-bottom: 1px solid #3D3527;*/
    color: white;
   /* font-size: 300%;*/
    letter-spacing: 1vw;
    /*line-height: 33.33333vh;*/
    text-decoration: none;
    /*text-transform: uppercase;*/
}
.menu .nav a:hover, .menu .nav a:focus {
    background: transparent;
    color: #EDE1CC;
    -moz-transition-property: background-color, color;
    -o-transition-property: background-color, color;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -moz-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
}

.menu-toggle {
   /* position: fixed;*/
    z-index: 1005;
    right: 0;
    top: 0;
    /*padding: 20px 20px;*/
}
.menu-toggle > span {
    background: white;
}
.menu-toggle.open {
   /* background: #3D3527;*/
}

a {
    color: #EDE1CC;
}

.li_height{
    height: 100px;
}
.menu hr{
    margin-top: 25px;
    margin-bottom: 0px;
    width: 90%;
    border-top: 1px solid #eeeeee2e;
}
.menu ul{
    padding: 10px;
}

.pro_sty {
    padding-top: 50px;
}
.pro_sty .pro_pic{
    width: 30%;
    float: left;
}
.pro_pic span {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.pro_pic .ant-avatar.ant-avatar-icon{
    font-size: 30px;
    padding-top: 10px;
}

.pro_sty .pro_name{
    color: white;
    width: 70%;
    float: left;
    text-align: left;
    padding-top: 10px;
    font-size: 1.1em;
}
.pro_sty .pro_balance{
    color: white;
    padding-top: 5px;
}
.menu_title {
    margin-top: 35px;
}
.menu_title .logo{
    width: 30%;
    float: left;
    color: white;
}
.menu_title .title{
    width: 70%;
    padding-top: 5px;
    color: white;
    text-align: left;
    float: left;
    font-size: 1.4em;
}
.menu_title .logo_bg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
}
.menu_title i{
  padding-top: 11px;
    padding-left: 3px;
}
.menu_bottom {
    padding-top: 10px;
    padding-bottom: 10px;

}
/* -----   End Menu  ----- */

/* ----- BottomMenu css ----- */
#BottomMenu {
    width: 100%;
    position: fixed;
    bottom: 0px;
    max-width: 1025px;
    z-index: 10;
}
#BottomMenu .icons {
    display: none;
}
#BottomMenu .icon {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 5px;
    cursor: pointer;
}

#BottomMenu .navigation {
    background-color: #f8f8f8;
    border-radius: 0.25rem;
    box-shadow: 0 -0.1rem 0.8rem rgba(0, 0, 0, 0.2);
}
#BottomMenu .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#BottomMenu .navigation li {
     width: 100%;
    text-align: center;
}
#BottomMenu .navigation a {
    width: 33.33%;
    text-align: center;
    color: #9E9E9E;
    font-size: 25px;
    /*
    display: block;
    padding: 1.5rem;
    position: relative;
    text-decoration: none;
    */
}
#BottomMenu .navigation a:hover {
    color: #e76b63!important;
    /*
    display: block;
    padding: 1.5rem;
    position: relative;
    text-decoration: none;
    */
}
#BottomMenu .navigation a:active {
    color: #e76b63!important;
}
#BottomMenu .navigation--inline ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#BottomMenu .total-count{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #e76b63;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2px;
    right: 100px;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
}

/* ----- End BottomMenu ----- */