/* -----   Responsive css  ----- */
@media (max-width: 1025px) {
    .FoodForm .banner_title {
        padding-top: 100px;
    }
    .ContactUs .banner_title {
        padding-top: 50px;
    }
}

@media screen and (max-width: 770px) {
    .NoodleForm .right {
        float: left;
        width: 100%;
    }

}

@media (max-width: 769px) {
    #TopView .img_style img {
        width: 180px;
    }

    #BottomMenu .total-count {
        right: 50px;
    }

    #FoodPage .food_banner {
        height: 230px;
    }

    .FoodForm .banner_title {
        padding-top: 50px;
    }
    .FoodForm .banner_title h2 {
        font-size: 3em;
    }

    #FoodPage .inner_li {
        padding: 1.5em;
    }

    .NoodleForm hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .NoodleForm .btn-info {
        margin-bottom: 10px;
    }

    .NoodleForm .price {
        margin-bottom: 10px;
    }

    #Slider .carousel-caption h3 {
        font-size: 2.2em;
        letter-spacing: 5px;
    }

    #Slider .carousel-caption {
        top: 170px;
    }
    #Content .book-grid p {
        font-size: 1.3em;
    }
    #Content .book-grid .ant-rate{
        font-size: 18px;
    }
    .ContactUs .banner_title {
        padding-top: 10px;
    }
    .ContactUs .banner_title h2 {
        font-size: 2.5em;
    }
}

@media (max-width: 700px) {
    #TopView .img_style img {
        width: 160px;
    }

    #LoginForm form {
        width: 80%;
    }

    #SignupForm form {
        width: 80%;
    }

    #Slider .carousel-inner {
        height: auto;
    }

    #Slider .carousel-caption h3 {
        font-size: 2em;
        letter-spacing: 5px;
    }
    #Content .book-grid p {
        font-size: 1.2em;
    }
    #Content .book-grid .heart i {
        font-size: 18px;
    }
    #Content .book-grid .ant-rate{
        font-size: 18px;
    }
}

@media (max-width: 650px) {

    #NoodlePage .food_title h2 {
        padding: 20px 0px 10px 20px;
    }

    .NoodleForm {
        padding: 30px 10px;
    }

    .NoodleForm .price {
        font-size: 20px;
        margin: 5px auto;
    }

    .NoodleForm h4 {
        font-size: 16px;
    }

    .FoodForm .banner_title {
        padding-top: 30px;
    }

    .FoodForm .inner_li img {
        width: 80px;
    }

    .FoodForm .banner_title p {
        font-size: 1.3em;
    }

    .FoodForm .banner_title {
        padding-top: 60px;
    }
    .FoodForm .banner_title h2 {
        font-size: 2em;
    }

    .FoodForm .inner_li span {
        font-size: 1.3em;
    }

    .FoodForm .inner_li i {
        font-size: 16px;
    }

    #FoodPage .food_menu li {
        padding: 10px;
    }

    #FoodPage .food_menu ul {
        padding: 0px 30px;
    }

    #LoginPage form {
        width: 80%;
    }

    #SignupPage form {
        width: 80%;
    }

    .NoodleForm hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #Content .book-grid {
        padding: 20px;
    }
    .DessertForm .inner_li img{
        width: 100px;
    }
    .ContactUs .banner_title {
        padding-top: 20px;
        padding-right: 5px;
        padding-left: 5px;
    }

}

@media (max-width: 600px) {
    #Slider .carousel-caption {
        top: 140px;
    }

    #Slider .carousel-caption h3 {
        font-size: 1.8em;
        letter-spacing: 2px;
    }
    #Content .book-grid .heart i {
        font-size: 15px;
    }
    #Content .book-grid .ant-rate{
        font-size: 16px;
    }
    #Content .book-grid p {
        font-size: 0.9em;
    }
    #Content .book-grid {
        padding: 15px;
    }
    #Content .book-grid .stars-rate {
        padding-top: 0px;
    }
    .ProfileForm .flower-grid h5 {
        font-size: 1.3em;
    }
}

@media (max-width: 500px) {
    #FoodPage .food_title h2 {
        padding: 20px 0px 20px 30px;
    }

    #NoodlePage .food_title h2 {
        padding: 0px 0px 10px 20px;
    }

    #BottomMenu .total-count {
        right: 20px;
    }

    .FoodForm .inner_li img {
        width: 50px;
    }
    .BeverageForm .inner_li img {
        width: 60px;
    }

    .FoodForm .inner_li span {
        font-size: 1.2em;
    }

    .FoodForm .inner_li i {
        font-size: 13px;
    }

    #FoodPage .food_menu li {
        padding: 0px 10px;
    }

    #FoodPage .food_menu ul {
        padding: 0px 10px;
    }

    .FoodForm .inner_li .img_sty {
        margin-bottom: 10px;
    }

    #FoodPage .food_menu {
        top: -40px;
    }

    #Slider .carousel-caption {
        top: 100px;
    }

    #Slider .carousel-caption h3 {
        font-size: 1.5em;
        letter-spacing: 2px;
    }
    #Content .book-grid hr{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .DessertForm .inner_li img{
        width: 60px;
    }
    .ProfileForm .user1 {
        padding-top: 20px;
        width: 35%;
    }
    .ProfileForm .user2 {
        width: 60%;
    }
    .ProfileForm .user {
        padding: .5em;
    }
}

@media (max-width: 400px) {
    .NoodleForm .item_sty {
        width: 50%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .NoodleForm .ant-rate {
        font-size: 14px;
    }

    .NoodleForm img {
        width: 100px;
    }
    .CakeForm img{
        width: 150px;
    }
    .IceForm img{
        width: 150px;
    }
    .RiceForm img {
        width: 150px;
    }
    .SoupForm img {
        width: 150px;
    }
    .VegeForm img {
        width: 150px;
    }

    .NoodleForm .price {
        font-size: 18px;
        margin: 2px auto;
    }

    #Slider .carousel-caption {
        top: 70px;
    }

    #Slider .carousel-caption h3 {
        font-size: 1.3em;

    }
    .FoodForm .banner_title h2 {
        font-size: 1.8em;
    }
    #Content .book-grid .ant-rate{
        font-size: 14px;
    }
    #Content .book-grid p {
        font-size: 0.75em;
    }
    #Content .book-grid {
        padding: 10px;
    }
    #Content .book-grid .heart i {
        font-size: 14px;
    }
    .ProfileForm .user1 span {
        width: 90px;
        height: 90px;
    }
    .ProfileForm .ant-avatar > * {
        line-height: 87px;
        font-size: 2.5em;
    }
    .ProfileForm .user1 {
        text-align: left;
        width: 30%;
    }
    .ProfileForm .user2 {
        width: 65%;
    }
    .ProfileForm .user1 {
        padding-top: 35px;
    }
    .ProfileForm .user2_span {
        padding-left: 5px;
    }
}

@media (max-width: 320px) {

    #Slider .carousel-caption {
        top: 60px;
    }
    #Slider .carousel-caption h3 {
        font-size: 1.2em;

    }
    #Content .book-grid .ant-rate{
        font-size: 12px;
    }
    #Content .book-grid .heart i {
        font-size: 12px;
    }

}