html, body {
  height: 100%;
}

/**************************************************** series search *******************************************************/

.search-banner{
  background: url(../../images/background-image2.jpg) no-repeat center ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
/*.form-arka-plan{
  background-image: url(../../../images/background-image.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}*/

.acik-renk-form{
  background: rgba(255, 255, 255, 0.58);
}
.siyah-cerceve{
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}




/**************************************************** footer *******************************************************/
#footer_warp { 
	background: url(../../images/footer-bgimage.png) no-repeat center ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}

/* newletter*/
.search-text{
padding: 100px 50px 50px 50px;
}
	
.search-text .input-search{
	height:62px;
	/*width:40%;*/
	padding-left:20px;
	color:#333;
	
} 

.search-text .btn-search{
    background: #da3e44;
    font-family:Roboto;
    border:none;
	color:#FFF;
	height: 60px;
    /*width: 120px;*/
}

.search-text h3{
    color: #333333;
    font-weight: 700;
}

#footer{
  padding-bottom: 100px
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#footer .text-white{color: #666666!important}

/* section {
    padding: 60px 0;
} */

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #666666;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#666666;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and  (max-width:800px){
	.fimages{width: 25%!important}
}

@media screen and  (max-width:767px){
	#footer a {
	font-size: 18px;
}
	
	#footer ul.social li a i{    
		font-size: 29px;}
	
	.fpandding{padding: 0px!important}
	
	.fimages{width: 30%!important}
}

@media screen and  (max-width:559px){
	.fimages{width: 40%!important}
	
}

@media (max-width: 767px){
	.search-text .input-search{
		margin-bottom: 20px;
  } 
  .search-text{
    padding: 50px 10px 50px 10px;
    }
}




/**************************************************** series listing *******************************************************/



.slick-slide {
	transform: scale(.9);
	transition: transform .3s cubic-bezier(.4, 0, .2, 1);
	opacity: .6;
}

.slider__item.slick-center {
	opacity: 1;
}

.slick-center {
	transform: scale(1);
}

#series_listing {
	height: 100%;
	background-color: #f8f8f8;
	padding-bottom: 50px;
}

#series_listing .intro_sty.card {
	border-radius: 0
}

#series_listing .intro_sty .card-img {
	border-radius: 0;
	height: 600px;
	background-size: cover;
	object-fit: cover;
}

#series_listing .intro_sty .card-img-overlay {
	background-color: #00000059;
}

#series_listing .intro_sty h5 {
	font-size: 3.5em
}

#series_listing .intro_sty .line_header {
	background-color: #fff;
	width: 300px;
	height: 2px;
	display: block;
	margin: auto;
}

#series_listing .intro_title {
	width: 50%;
}

#series_listing .about_warp {
	margin: auto;
	width: 80%
}

#series_listing .sub_title_about {
	font-size: 2.5em;
	color: #b71c1c;
}

#series_listing .about_content {
	font-size: 1.2em;
	color: #b71c1c;
}

#series_listing .line_about {
	width: 100px;
	height: 2px;
	background-color: #000;
	display: block;
	margin: auto;
}

#series_listing .banner_slider {
	background-color: #303135;
	padding: 20px 0px;
}

#series_listing .banner_slider .center {
	width: 85%;
	margin: auto;
}

#series_listing .banner_slider .slider__item {
	position: relative;
}

#series_listing .banner_slider .slider__item>img {
	width: 100%;
	height: auto;
}

#series_listing .banner_slider .slider__item .title {
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 30px;
	width: 100%;
	font-size: 2em;
	font-weight: 500;
	text-shadow: 2px 2px 2px #00000085
}

#series_listing .banner_slider .slider__item .title .line {
	height: 3px;
	background-color: #fff;
	display: block;
	width: 100px;
	margin: auto;
	margin-top: 10px;
}

#series_listing .list_warp {
	margin-bottom: 20px
}

#series_listing .list_content {
	width: 85%;
	margin: auto;
	margin-top: 50px;
}

#series_listing .list_content .border {
	border: 1px solid #ccc!important;
}

#series_listing .list_content .image_sty {
	height: 220px;
}

#series_listing .list_content h5 {
	font-weight: bold;
}

#series_listing .date_sty {
	margin-top: 10px;
	color: #00000073;
	font-weight: bold;
}

#series_listing .date_display {
	width: 100%;
	white-space: nowrap;
	overflow-x: overlay;
	height: 45px;
}

#series_listing .date {
	padding: 3px 8px;
	font-size: 14px;
	color: #fa8c16;
	background: #fff7e6;
	border: 1px solid #ffd591;
	border-radius: 5px;
}

#series_listing .price_sty {
	border-left: 1px solid #ccc;
}

#series_listing .price_sty p {
	margin-bottom: 5px;
}

#series_listing .price_sty .small_size {
	font-size: 12px;
	color: #ccc
}

#series_listing .price_sty .price_tag {
	font-size: 1.5em;
	font-weight: 500;
}

#series_listing .price_sty .btn {
	padding: .375rem 2rem;
	margin-top: 20px;
	/* color: #faad14;
  border-color: #faad14; */
}

#series_listing .brand_sty img {
	width: 25px;
	height: 25px;
}

#series_listing .text {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media only screen and (max-width:1450px) {
	#series_listing .intro_title {
		width: 85%;
	}
	#series_listing .about_warp {
		width: 85%
	}
}

@media only screen and (max-width: 1050px) {
	#series_listing .price_sty .price_tag {
		font-size: 1.2em;
	}
	#series_listing .price_sty .btn {
		padding: .375rem .75rem;
	}
	#series_listing .list_content h5 {
		font-size: 1.2em;
	}
	#series_listing .list_content .image_sty {
		height: 215px;
	}
	#series_listing .list_content h5 {
		font-size: 1em;
	}
	#series_listing .list_content {
		width: 95%;
	}
	#series_listing .intro_title {
		width: 95%;
	}
	#series_listing .about_warp {
		width: 95%
	}
	#series_listing .sub_title_about {
		font-size: 2em;
	}
	#series_listing .about_content {
		font-size: 1em;
	}
}

@media only screen and (max-width: 767px) {
	#series_listing .list_content .image_sty {
		height: auto;
	}
	#series_listing .price_sty p {
		float: left;
		margin-right: 10px;
		padding-top: 5px;
	}
	#series_listing .price_sty .btn {
		width: 30%!important;
		float: right;
		margin-top: 0;
	}
	#series_listing .price_sty .small_size {
		padding-top: 10px;
		color: #000;
	}
	#series_listing .price_sty {
		border-left: 0;
		background: #f1f1f1;
	}
}

@media only screen and (max-width: 575px) {
	#series_listing .center_warp {
		padding: 10px;
	}
	#series_listing .row {
		margin-left: 0;
		margin-right: 0
	}
	#series_listing .type_sty {
		font-size: 14px;
	}
	#series_listing .location_sty {
		font-size: 14px;
	}
	#series_listing .brand_sty img {
		width: 20px;
		height: 20px;
		margin-top: -5px;
	}
	#series_listing .intro_sty h5 {
		font-size: 2.5em;
	}
	#series_listing .sub_title_about {
		font-size: 1.5em;
	}
	#series_listing .intro_sty .line_header {
		width: 200px;
	}
	#series_listing .package_sty_header h1 {
		font-size: 1.7em
	}
	#series_listing .intro_sty .card-img-overlay {
		padding: 10px;
	}
	#series_listing .content_trip {
		padding: 10px;
	}
}




/**************************************************** series showpage *******************************************************/
#showpage_series {
	height: 100%;
	background-color: #f8f8f8;
}

#showpage_series .header_sty {
	width: 100%;
}

#showpage_series .header_sty.card {
	border-radius: 0
}

#showpage_series .header_sty .card-img {
	border-radius: 0;
	height: 300px;
	background-size: cover;
	object-fit: cover;
}

#showpage_series .header_sty .card-img-overlay {
	background-color: #00000059;
}

#showpage_series .header_sty h5 {
	font-size: 3.5em
}

#showpage_series .header_sty .line_header {
	background-color: #fff;
	width: 300px;
	height: 2px;
	display: block;
	margin: auto;
}

#showpage_series .content_warp {
	width: 85%;
	margin: auto
}

#showpage_series .tag_display {
	width: 100%;
	white-space: nowrap;
	overflow-x: overlay;
	height: 45px;
}

#showpage_series .tag {
	padding: 3px 8px;
	font-size: 14px;
	color: #fa8c16;
	background: #fff7e6;
	border: 1px solid #ffd591;
	border-radius: 5px;
}

#showpage_series .tabs_sty li {
	padding: 10px 20px;
	background-color: #fff;
	margin: 0px 5px 10px 5px;
}

#showpage_series .tabs_sty a {
	color: #595959;
}

#showpage_series .tabs_sty .nav-item {
	border: 1px solid #e8e8e8;
	border-radius: 0;
	margin-bottom: 10px;
	padding: 10px 40px;
}

#showpage_series .tabs_sty .nav-item span {
	width: 100%;
	display: block;
	text-align: center;
}

#showpage_series .tabs_sty .nav-item span:nth-child(2) {
	font-size: 10px;
}

#showpage_series .tabs_sty .nav-item.show .nav-link,
.nav-tabs .nav-link.active span:nth-child(2) {
	color: #ccc;
}

#showpage_series .tabs_sty .nav-link.active span:nth-child(3) {
	color: #46a518;
}

#showpage_series .tabs_sty .nav-link.active {
	background-color: #fff;
	border-bottom: 3px solid red;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	color: red;
}

#showpage_series .tabs_sty .nav-item.show .nav-link,
.nav-tabs .nav-link.hover {
	background-color: #fff;
	border-color: none;
	border: none;
}


/* .tabs_sty  .nav-link:focus, .nav-tabs .nav-link:hover {
	background-color: #fff;
}
 */

#showpage_series .tab_content_sty .row {
	margin-left: 0;
	margin-right: 0;
	margin-top: 20px;
}

#showpage_series .tab_content_sty .icon_warp {
	margin-bottom: 20px;
}

#showpage_series .tab_content_sty .icon_warp i {
	color: #949494;
}

#showpage_series .nav-tabs {
	display: inline-flex;
	white-space: nowrap;
	flex-wrap: nowrap;
	width: 100%;
	overflow-x: auto;
	border-bottom: none;
	-ms-overflow-style: none;
	/*// IE 10+*/
	overflow: -moz-scrollbars-none;
	/*// Firefox*/
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	border-width: 0;
}

.nav-tabs>li>a {
	border: none;
	color: #666;
}

#showpage_series .nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
	border: none;
	color: #4285F4 !important;
	background: transparent;
}

#showpage_series .nav-tabs>li>a::after {
	content: "";
	background: #4285F4;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 1px;
	transition: all 250ms ease 0s;
	transform: scale(0);
}

#showpage_series .nav-tabs>li.active>a::after,
#showpage_series .nav-tabs>li:hover>a::after {
	transform: scale(1);
}

#showpage_series .tab-nav>li>a::after {
	background: #21527d none repeat scroll 0% 0%;
	color: #fff;
}

#showpage_series .tab-pane {
	padding: 15px 0;
}

#showpage_series .tab-content {
	margin-top: 20px;
}


/* .nav-tabs::-webkit-scrollbar {
	display: none; /*Safari and Chrome
}
 */

#showpage_series .flight_detail .top_content img {
	width: 20px;
	height: 20px;
}

#showpage_series .time_date {
	color: #9a9a9a;
	font-size: 14px;
}

#showpage_series .bottom_content img {
	width: 100%;
	height: 100%;
}

#showpage_series .bottom_content .row span {
	width: 100%;
	display: block;
	color: #9a9a9a;
	font-size: 14px;
}

#showpage_series .bottom_content .row div {
	padding-left: 0;
	padding-right: 0;
}

#showpage_series .bottom_content .row i {
	font-size: 20px;
	color: #9a9a9a;
}


/****************************** table css *******************************/

#showpage_series .price_table {
	position: relative;
	/*width: 100%;*/
	overflow: auto;
	padding-top: 70px;
	margin-bottom: 10px;
}

#showpage_series .price_table .warp_list_title {
	list-style: none;
	width: 100%;
	padding: 0;
	margin-bottom: 0;
}

#showpage_series .price_table .warp_list_title li {
	padding: 10px;
	background-color: #e8e8e8;
	margin-bottom: 2px;
	margin-right: 5px;
	font-weight: bold;
}

#showpage_series .price_table .warp_list_table {
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 75%;
}

#showpage_series .price_table .warp_list_content {
	width: 30%;
	list-style: none;
	padding: 0;
	margin-bottom: 2px;
	float: left;
	margin-right: 5px;
}

#showpage_series .price_table .warp_list_content li {
	padding: 10px 10px 12px 10px;
	/* background-color: #E07900; */
	text-align: center;
	font-weight: bold;
}

#showpage_series .price_table .header_type {
	height: 60px;
	color: #fff;
	background-color: #8e8e8e;
}

#showpage_series .price_table .header_type p {
	margin-bottom: 0;
}

#showpage_series .price_table .left_title {
	font-size: .95em;
	font-weight: lighter;
}

#showpage_series .terms_sty .card-header {
	border-bottom: 0
}

#showpage_series .terms_sty .card {
	border: 0
}

#showpage_series .terms_sty .card-body {
	background-color: #fff7e6
}

#showpage_series .right_content .sticky-top {
	top: 10px;
}

#showpage_series .right_content .autocomplete {
	position: relative;
	display: inline-block;
}

#showpage_series .right_content .autocomplete input {
	border: 1px solid #f1f1f1;
	;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}

#showpage_series .right_content .autocomplete input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}

#showpage_series .right_content .autocomplete input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
	cursor: pointer;
}

#showpage_series .right_content .autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}

#showpage_series .right_content .autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

#showpage_series .right_content .autocomplete-items div:hover {
	background-color: #e9e9e9;
}

#showpage_series .right_content .autocomplete-active {
	background-color: DodgerBlue !important;
	color: #ffffff;
}

#showpage_series .right_content .btn_find {
	border-radius: 0;
	padding: .8rem .75rem;
}

#showpage_series .right_content .agent_list {
	height: 300px;
}

#showpage_series .right_content .agent_list .list-group {
	min-width: 300px;
}

#showpage_series .right_content .agent_list img {
	width: 100%;
	height: 100%;
}

#showpage_series .right_content .agent_list .list-group-item div {
	padding-right: 5px;
	padding-left: 5px;
}

#showpage_series .right_content .agent_list .list-group-item {
	padding: 15px 5px;
}

#showpage_series .right_content .call_warp {
	margin-left: 0;
	margin-right: 0
}

#showpage_series .right_content .call_warp a:nth-child(1) {
	margin-right: 10px;
}

#showpage_series .right_content .call_sty {
	background-color: #46a518;
	padding: 10px;
}

#showpage_series .right_content .call_sty i {
	color: #fff;
}

#showpage_series .btn_agent_res {
	position: fixed;
	right: 0;
	top: 280px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	display: none
}

#showpage_series .sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #fff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	box-shadow: -6px 1px 6px -1px rgba(0, 0, 0, 0.21);
	-webkit-box-shadow: -6px 1px 6px -1px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: -6px 1px 6px -1px rgba(0, 0, 0, 0.21);
	display: none;
}

#showpage_series .sidenav a {
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

#showpage_series .sidenav a:hover {
	color: #f1f1f1;
}

#showpage_series .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media only screen and (max-width: 1200px) {
	#showpage_series .price_table .warp_list_table {
		width: 650px;
		left: 0%;
	}
	#showpage_series .price_table .warp_list_title {
		width: 650px;
	}
	#showpage_series .price_table .warp_list_content {
		width: 20%;
	}
}

@media only screen and (max-width: 1080px) {
	#showpage_series .tab_content_sty .icon_warp {
		font-size: 14px;
	}
	#showpage_series .bottom_content img {
		width: 70px;
		height: 70px;
	}
	#showpage_series .right_content {
		padding-right: 0;
	}
}

@media only screen and (max-width: 991px) {
	#showpage_series .right_content {
		display: none;
	}
	#showpage_series .right_content.res_slider_content {
		display: block;
	}
	#showpage_series .btn_agent_res {
		display: block;
	}
	#showpage_series .sidenav {
		padding-top: 15px;
	}
	#showpage_series .sidenav a {
		font-size: 18px;
	}
	#showpage_series .sidenav {
		display: block;
	}
}

@media only screen and (max-width: 767px) {
	#showpage_series .bottom_content img {
		width: 100px;
		height: 100px;
	}
	#showpage_series .left_content header h3 {
		font-size: 1.5em
	}
	#showpage_series .content_warp {
		width: 90%;
		padding-left: 0;
		padding-right: 0;
	}
	#showpage_series .left_content {
		padding-left: 0;
		padding-right: 0;
	}
	.bottom_content .airline {
		text-align: center;
	}
	.bottom_content .logo {
		margin-bottom: 20px;
	}
	.bottom_content .ariline_detail div {
		text-align: center;
	}
}

@media only screen and (max-width: 575px) {
	#showpage_series .content_warp {
		padding: 10px;
		padding-top: 2rem!important;
		padding-bottom: 2rem!important;
	}
	#showpage_series .left_content header h3 {
		font-size: 1.2em;
		word-break: break-all;
	}
	#showpage_series .header_sty .line_header {
		width: 200px;
	}
	#showpage_series .header_sty h5 {
		font-size: 2.5em;
	}
	#showpage_series .bottom_content img {
		margin-right: 0!important;
	}
	#showpage_series .bottom_content .ariline_detail div {
		width: 33.33%;
	}
	#showpage_series .bottom_content div {
		padding-left: 0;
		padding-right: 0;
	}
	#showpage_series .flight_detail .card-body {
		padding: 12px;
	}
}