@import '../screen.less';

.loading_page{
  background: url("@/assets/images/svg/background/Loading_Page.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .logo_loading{
    background: url("@/assets/images/svg/background/Casino Logo.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 380px;
    top: 20%;
    position: relative;

    @media @PhoneX{height: 200px;top: 10%;}

  }
  .loading_bar{
    width: 50%;
    margin: auto;
    position: relative;
    top: 30%;

    :global(.ant-progress-outer){display: initial;}
    :global(.ant-progress-text ){
      color: white;
      font-family: 'digitgraphics-bold';
      margin-left: 0;
      margin-top: 30px;
      font-size: 1.5em;
    }
    :global(.ant-progress-inner){
      height: 15px !important;
      :global(.ant-progress-bg){height: 15px !important;}
    }

    @media @PhoneX{top: 20%;}

  }

}
