@import '../screen.less';

/* ------------------------ GameIntro -------------------*/
.GameIntro{
  font-family: 'Microsoft YaHei',@familyFaces;
}

/* ------------------------ Banner -------------------*/
.banner_intro{
  width: 1400px;
  margin: auto;
  height: 100vh;
  padding-top: 55px;
  @media @LaptopL{width: 1200px;}
  @media @LaptopM{width: 1100px;}
  @media @LaptopS{width: 1100px;}
  @media @LaptopXS{width: 1100px;}
  @media @ipadL{width: 900px;height: auto;padding-bottom: 150px;}
  @media @ipadS{width: 750px;height: auto;padding: 0;padding-bottom: 100px;}
  @media @PhoneX{width: 650px;height: auto;padding: 0;padding-bottom: 50px;}
  @media @Phone{width: 580px;height: auto;padding: 0;padding-bottom: 45px;}
  @media @PhoneS{width: 450px;padding-bottom: 30px;}

  .banner {width: 50%;float: left;
    .banner_img{
      background: url("@/assets/images/svg/background/Casino_Building.svg");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      height: 600px;
      @media @LaptopL{background-size: contain;height: 500px;}
      @media @LaptopM{background-size: contain;height: 500px;}
      @media @LaptopS{background-size: contain;height: 500px;}
      @media @LaptopXS{background-size: contain;height: 500px;}
      @media @ipadL{background-size: contain;height: 500px;}
      @media @ipadS{background-size: contain;height: 450px;}
      @media @PhoneX{background-size: contain;height: 350px;}
      @media @Phone{background-size: contain;height: 350px;}
      @media @PhoneS{background-size: contain;height: 300px;}
    }
  }
  .content_intro{width: 50%;float: left;
    :local(p){
      color: white;
      font-size: 2em;
      text-align: left;
      padding-top: 250px;
      letter-spacing: 2px;
      @media @LaptopL{font-size: 1.8em;padding-top: 200px;}
      @media @LaptopM{font-size: 1.8em;padding-top: 200px;}
      @media @LaptopS{font-size: 1.5em;padding-top: 200px;}
      @media @LaptopXS{font-size: 1.5em;padding-top: 200px;}
      @media @ipadL{font-size: 1.4em;padding-top: 200px;}
      @media @ipadS{font-size: 1.2em;padding-top: 180px;}
      @media @PhoneX{font-size: 1em;padding-top: 150px;}
      @media @Phone{font-size: .9em;padding-top: 150px;}
      @media @PhoneS{font-size: .7em;padding-top: 120px;}
    }

  }

}

/* ------------------------ GameGuide -------------------*/
.game_guide{background-color: #25256D;
  .content {width: 1400px;margin: auto;padding: 100px 0px;
    @media @LaptopL{width: 1200px;}
    @media @LaptopM{width: 1100px;}
    @media @LaptopS{width: 1100px;}
    @media @LaptopXS{width: 1100px;}
    @media @ipadL{width: 900px;}
    @media @ipadS{width: 750px;padding: 80px 0px;}
    @media @PhoneX{width: 650px;padding: 80px 0px;}
    @media @Phone{width: 580px;padding: 80px 0px;}
    @media @PhoneS{width: 450px;padding: 50px 0px;}

    :local(header){
      h1{color: white;font-size: 3em;font-weight: bold;margin: 0;
        @media @ipadL{font-size: 2.5em;}
        @media @ipadS{font-size: 2.5em;}
        @media @PhoneX{font-size: 2.5em;}
        @media @Phone{font-size: 2em;}
      }
    }
    .content_guide {margin-top: 80px;
      @media @ipadS{margin-top: 70px;}
      @media @PhoneX{margin-top: 70px;}
      @media @Phone{margin-top: 50px;}


      .step {width: 25%;float: left;text-align: center;
        @media @ipadL{font-size: 1em;}
        @media @ipadS{font-size: 1em;}
        @media @PhoneX{font-size: 1em;width: 50%;margin-bottom: 50px;}
        @media @PhoneS{margin-bottom: 35px;}

        :local(label){color: white;font-size: 1.5em;font-weight: bold;
          @media @ipadS{font-size: 1.2em;}
          @media @PhoneX{font-size: 1.2em;}
        }
        :local(p){color: white;font-size: 1em;margin-top: 20px; padding: 0px 20px;
          @media @ipadL{font-size: .95em;}
          @media @ipadS{font-size: .8em;}
          @media @PhoneX{font-size: .9em;}
          @media @Phone{font-size: .8em;}
          @media @PhoneS{font-size: .8em;padding: 0px 15px;}
        }
        .icon{height: 100px;width: 100px;margin: auto;margin-bottom: 20px;
          @media @ipadL{height: 80px;width: 80px;}
          @media @ipadS{height: 70px;width: 70px;}
          @media @PhoneX{height: 80px;width: 80px;}
          @media @PhoneS{height: 60px;width: 60px;}
        }
        &:nth-child(1){
          .icon{
            background: url("@/assets/images/svg/icon/Deal_Icon.svg");
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
          }

        }
        &:nth-child(2){
          .icon{
            background: url("@/assets/images/svg/icon/Place Wager_Icon.svg");
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
          }
        }
        &:nth-child(3){
          .icon{
            background: url("@/assets/images/svg/icon/Settling_Icon.svg");
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
          }
        }
        &:nth-child(4){
          .icon{
            background: url("@/assets/images/svg/icon/Result_Icon.svg");
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}


/* ------------------------ PayoutOdds -------------------*/
.payout_odds{
  .content {width: 1400px;margin: auto;padding: 60px 0px;
    @media @LaptopL{width: 1200px;}
    @media @LaptopM{width: 1100px;}
    @media @LaptopS{width: 1100px;}
    @media @LaptopXS{width: 1100px;}
    @media @ipadL{width: 900px;}
    @media @ipadS{width: 750px;}
    @media @PhoneX{width: 650px;padding: 60px 10px;}
    @media @Phone{width: 580px;}
    @media @PhoneS{width: 450px;}

    :local(header){
      h1{color: white;font-size: 3em;font-weight: bold;margin: 0;
        @media @ipadL{font-size: 2.5em;}
        @media @ipadS{font-size: 2.5em;}
        @media @PhoneX{font-size: 2.5em;}
        @media @Phone{font-size: 2em;}
      }
    }
    :local(p){color: white;font-size: 1.3em;margin-top: 10px;
      @media @PhoneX{font-size: .9em;}
      @media @Phone{font-size: 1.1em;}
      @media @PhoneS{font-size: .9em;}

    }
  }
  .odds_content {margin-top: 50px;
    .oddstable{width: 50%;float: left;
      @media @Phone{width: 100%;}
    }
    @media @PhoneX{margin-top: 25px;}
  }
}
/* ----------- oddstable -----------*/
.oddstable{

  &:nth-child(1){padding-right: 20px;
    @media @ipadS{padding-right: 15px;}
    @media @PhoneX{padding-right: 10px;}
    @media @Phone{padding-right: 0px;margin-bottom: 50px;}
  }
  &:nth-child(2){padding-left: 20px;
    @media @ipadS{padding-left: 15px;}
    @media @PhoneX{padding-left: 10px;}
    @media @Phone{padding-left: 0px;}
  }
  .table_content{background-color: #1B1B56;border-radius: 8px;padding: 20px;
    @media @PhoneX{padding: 10px}
    @media @Phone{padding: 20px}
    :local(label){
      color: white;
      font-size: 2em;
      font-weight: bold;
      @media @LaptopS{font-size: 1.5em;}
      @media @LaptopXS{font-size: 1.5em;}
      @media @ipadL{font-size: 1.5em;}
      @media @ipadS{font-size: 1.3em;}
      @media @PhoneX{font-size: 1.2em;}
    }
  }
}

/* ----------- list_table -----------*/
.list_table{
  margin-top: 30px;
  padding: 0px 30px;
  @media @LaptopM{margin-top: 10px;padding: 0px 10px;}
  @media @ipadL{margin-top: 10px;padding: 0px 10px;}
  @media @ipadS{margin-top: 10px;padding: 0px 10px;}
  @media @PhoneX{margin-top: 5px;padding: 0px 5px;}
  :local(ul){
    padding: 0;
    list-style: none;
    li{
      background-color: #25256D;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 8px;
      @media @PhoneX{margin-bottom: 10px;}

      &:nth-child(1){
        background-color: transparent;
      }

      :local(span){
        width: 33.33%;
        float: left;
        color: white;
      }
      .list_title{
        font-size: 1.5em;
        @media @LaptopS{font-size: 1.3em;}
        @media @LaptopXS{font-size: 1.3em;}
        @media @ipadL{font-size: 1.2em;}
        @media @ipadS{font-size: 1em;}
        @media @PhoneX{font-size: 1em;}
      }

    }
  }
}

/* ------------------------ CardType -------------------*/
.CardType{
  .content{width: 1400px;margin: auto;padding: 60px 0px;
    @media @LaptopL{width: 1200px;}
    @media @LaptopM{width: 1100px;}
    @media @LaptopS{width: 1100px;}
    @media @LaptopXS{width: 1100px;}
    @media @ipadL{width: 900px;}
    @media @ipadS{width: 750px;}
    @media @PhoneX{width: 650px;}
    @media @Phone{width: 580px;}
    @media @PhoneS{width: 450px;}

    :local(header){
      h1{color: white;font-size: 3em;font-weight: bold;margin: 0;
        @media @ipadL{font-size: 2.5em;}
        @media @ipadS{font-size: 2.5em;}
        @media @PhoneX{font-size: 2.5em;}
        @media @Phone{font-size: 2em;}
      }
    }
    :local(p){color: white;font-size: 1.3em;margin-top: 10px;
      @media @PhoneX{font-size: .9em;}
      @media @Phone{font-size: 1.1em;}
      @media @PhoneS{font-size: .9em;}
    }
  }
}


/* ------------------------ Attention -------------------*/
.Attention{
  .content{
    width: 1400px;
    margin: auto;
    padding: 60px 0px;
    @media @LaptopL{width: 1200px;}
    @media @LaptopM{width: 1100px;}
    @media @LaptopS{width: 1100px;}
    @media @LaptopXS{width: 1100px;}
    @media @ipadL{width: 900px;}
    @media @ipadS{width: 750px;}
    @media @PhoneX{width: 650px;}
    @media @Phone{width: 580px;}
    @media @PhoneS{width: 450px;}


    :local(header){
      h1{
        color: white;
        font-size: 3em;
        font-weight: bold;
        margin: 0;
        @media @ipadL{font-size: 2.5em;}
        @media @ipadS{font-size: 2.5em;}
        @media @PhoneX{font-size: 2.5em;}
        @media @Phone{font-size: 2em;}
      }
      p{
        color: white;
        font-size: 1.3em;
        margin-top: 10px;
        @media @PhoneX{font-size: .9em;}
        @media @Phone{font-size: 1.1em;}
        @media @PhoneS{font-size: .9em;}
      }
    }
    .notice{
      padding: 30px 10px;
      :local(li){
        margin-bottom: 20px;
        text-align: left;
        font-size: 1.2em;
        @media @PhoneS{font-size: 1em;}
      }
    }
  }
}
/* ------- Attention list content -------*/
.attention_list{

  .list_content{
    background-color: #1B1B56;
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
    @media @Phone{margin-top: 30px;}
    :local(label){
      color: white;
      font-size: 2em;
      font-weight: bold;
      @media @Phone{font-size: 1.5em;}
    }
    :local(ul){
      padding: 0;
      margin-bottom: 0;
      list-style: none;
      width: 1200px;
      margin: auto;
      margin-top: 20px;
      @media @LaptopL{width: 900px;}
      @media @LaptopM{width: 900px;}
      @media @LaptopS{width: 900px;}
      @media @LaptopXS{width: 900px;}
      @media @ipadL{width: 700px;}
      @media @ipadS{width: 600px;}
      @media @PhoneX{width: 600px;}
      @media @Phone{width: 95%}



      li{
        background-color: #25256D;
        border-radius: 5px;
        color: white;
        font-size: 1.5em;
        padding: 10px;
        margin-bottom: 20px;
        @media @ipadS{font-size: 1.2em;}
        @media @PhoneX{font-size: 1.2em;}
        @media @PhoneX{font-size: 1em;}
        @media @PhoneS{font-size: .9em;}

        &:nth-child(4){
          background-color: transparent;
        }
        :local(span){float: left;
          &:nth-child(1){width: 30%;}
          &:nth-child(2){width: 70%;text-align: left;}

          :local(p){
            margin-bottom: 0px;
            width: 150px;
            margin: auto;
            text-align: left;
          }
        }
      }
    }
    .card_result{
      width: 100%;
      float: left;
      margin-top: 20px;

      .card_group_1{width: 100%;float: left;
        .card{width: 50%;margin: auto;
          @media @ipadS{width: 75%;}
          @media @PhoneX{width: 75%;}
          @media @Phone{width: 85%;}
        }
        :local(span){
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          height: 145px;
          width: 108px;
          border-radius: 10px;
          margin-right: 10px;
          @media @LaptopL{height: 105px;width: 78px;}
          @media @LaptopM{height: 105px;width: 78px;}
          @media @LaptopS{height: 105px;width: 78px;}
          @media @LaptopXS{height: 105px;width: 78px;}
          @media @ipadL{height: 84px;width: 63px; margin-right: 5px;}
          @media @ipadS{height: 99px;width: 74px; margin-right: 5px;}
          @media @PhoneX{height: 99px;width: 74px; margin-right: 5px;}
          @media @Phone{height: 94px;width: 70px; margin-right: 5px;}
          @media @PhoneS{height: 74px;width: 55px;}


          &:nth-child(1){background: url("@/assets/images/svg/poker/club_K.svg");}
          &:nth-child(2){background: url("@/assets/images/svg/poker/spade_7.svg");}
          &:nth-child(3){background: url("@/assets/images/svg/poker/heart_3.svg");}
          &:nth-child(4){background: url("@/assets/images/svg/poker/heart_9.svg");}
          &:nth-child(5){background: url("@/assets/images/svg/poker/club_8.svg");}
        }
      }
      .card_title_result{
        float: left;
        width: 100%;
        margin-top: 20px;
      }
      .card_group_2{
        width: 100%;
        margin-top: 20px;
        float: left;
        .card{width: 50%;margin: auto;
          @media @ipadS{width: 75%;}
          @media @PhoneX{width: 75%;}
          @media @Phone{width: 85%;}
        }
        :local(span){
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          height: 145px;
          width: 108px;
          border-radius: 10px;
          margin-right: 10px;
          @media @LaptopL{height: 105px;width: 78px;}
          @media @LaptopM{height: 105px;width: 78px;}
          @media @LaptopS{height: 105px;width: 78px;}
          @media @LaptopXS{height: 105px;width: 78px;}
          @media @ipadL{height: 84px;width: 63px; margin-right: 5px;}
          @media @ipadS{height: 99px;width: 74px; margin-right: 5px;}
          @media @PhoneX{height: 99px;width: 74px; margin-right: 5px;}
          @media @Phone{height: 94px;width: 70px; margin-right: 5px;}
          @media @PhoneS{height: 74px;width: 55px;}


          &:nth-child(1){background: url("@/assets/images/svg/poker/club_K.svg");}
          &:nth-child(2){background: url("@/assets/images/svg/poker/spade_8.svg");}
          &:nth-child(3){background: url("@/assets/images/svg/poker/heart_3.svg");}
          &:nth-child(4){background: url("@/assets/images/svg/poker/diamond_9.svg");}
          &:nth-child(5){background: url("@/assets/images/svg/poker/club_6.svg");}
        }
      }
    }
  }
  &:nth-child(3){margin-top: 100px;
    @media @PhoneS{margin-top: 50px;}
    .list_content{
      .card_result{
        .card_group_1{
          width: 100%;
          float: left;
          .card{width: 50%;margin: auto;
            @media @ipadS{width: 75%;}
            @media @PhoneX{width: 75%;}
            @media @Phone{width: 85%;}
          }
          :local(span){
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 145px;
            width: 108px;
            border-radius: 10px;
            margin-right: 10px;
            @media @LaptopL{height: 105px;width: 78px;}
            @media @LaptopM{height: 105px;width: 78px;}
            @media @LaptopS{height: 105px;width: 78px;}
            @media @LaptopXS{height: 105px;width: 78px;}
            @media @ipadL{height: 84px;width: 63px; margin-right: 5px;}
            @media @ipadS{height: 99px;width: 74px; margin-right: 5px;}
            @media @PhoneX{height: 99px;width: 74px; margin-right: 5px;}
            @media @Phone{height: 94px;width: 70px; margin-right: 5px;}
            @media @PhoneS{height: 74px;width: 55px;}


            &:nth-child(1){background: url("@/assets/images/svg/poker/club_K.svg");}
            &:nth-child(2){background: url("@/assets/images/svg/poker/spade_8.svg");}
            &:nth-child(3){background: url("@/assets/images/svg/poker/heart_2.svg");}
            &:nth-child(4){background: url("@/assets/images/svg/poker/diamond_9.svg");}
            &:nth-child(5){background: url("@/assets/images/svg/poker/club_6.svg");}
          }
        }

        .card_title_result{
          float: left;
          width: 100%;
          margin-top: 20px;
        }

        .card_group_2{
          width: 100%;
          margin-top: 20px;
          float: left;

          .card{width: 50%;margin: auto;
            @media @ipadS{width: 75%;}
            @media @PhoneX{width: 75%;}
            @media @Phone{width: 85%;}
          }
          :local(span){
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 145px;
            width: 108px;
            border-radius: 10px;
            margin-right: 10px;
            @media @LaptopL{height: 105px;width: 78px;}
            @media @LaptopM{height: 105px;width: 78px;}
            @media @LaptopS{height: 105px;width: 78px;}
            @media @LaptopXS{height: 105px;width: 78px;}
            @media @ipadL{height: 84px;width: 63px; margin-right: 5px;}
            @media @ipadS{height: 99px;width: 74px; margin-right: 5px;}
            @media @PhoneX{height: 99px;width: 74px; margin-right: 5px;}
            @media @Phone{height: 94px;width: 70px; margin-right: 5px;}
            @media @PhoneS{height: 74px;width: 55px;}


            &:nth-child(1){background: url("@/assets/images/svg/poker/club_K.svg");}
            &:nth-child(2){background: url("@/assets/images/svg/poker/heart_Q.svg");}
            &:nth-child(3){background: url("@/assets/images/svg/poker/club_J.svg");}
            &:nth-child(4){background: url("@/assets/images/svg/poker/diamond_7.svg");}
            &:nth-child(5){background: url("@/assets/images/svg/poker/spade_A.svg");}
          }
        }
      }
    }
  }
}
