@charset "utf-8";

/*-- common --*/
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body,html {
    min-height: 100%
}

body {
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    line-height: 1.5;
    color: #666;
    font-size: 14px;
    background: #fff;
    -webkit-transition: background 1s cubic-bezier(.075,.82,.165,1);
    transition: background 1s cubic-bezier(.075,.82,.165,1);
    overflow-x: hidden
}

@media screen and (max-width: 2650px) {
    body{
        zoom: 1.5;
    }
}
@media screen and (min-width: 1801px) and (max-width: 2400px) {
  body{
        zoom: 1.3;
    }
}
@media screen and (min-width: 1600px) and (max-width: 1800px) {
    body{
        zoom: 1.1;
    }
}
@media screen and (min-width: 1400px) and (max-width: 1599px) {
  body{
        zoom: 1;
    }
}
@media screen and (max-width: 1366px) {
    body{
        zoom: 0.8;
    }
}

article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul {
    margin: 0;
    padding: 0
}

/* margin */
.mt0{margin-top: 0px}
.mt5{margin-top:5px}
.mt7{margin-top:7px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mr0{margin-right:0px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mb0{margin-bottom:0px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.ml0{margin-left:0px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.mv5{margin:5px 0}
.mv10{margin:10px 0}
.mv15{margin:15px 0}
.mh5{margin:0 5px}
.mh10{margin:0 10px}
.mh15{margin:0 15px}
.m0{margin:0px;}
.m3{margin:3px;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}

/* padding */
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl40{padding-left:40px}
.pv5{padding:5px 0}
.pv10{padding:10px 0}
.ph5{padding:0 5px}
.ph10{padding:0 10px}
.p0{padding:0px;}
.p3{padding:3px}
.p5{padding:5px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.p25{padding:25px}

/* radius */
.rd0{border-radius: 0px}
.rd3{border-radius: 3px}
.rd5{border-radius: 5px}
.rd10{border-radius: 10px}

/* 清理浮动 */
.fn-clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.fn-clear {zoom:1; /* for IE6 IE7 */clear:both;}
/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {display:none;}
/* i, 减少浮动带来的bug */
.fn-left-all * {float:left;}
.fn-left-all-div div {float:left;}
.fn-left,.fn-right {display:inline;}
.fn-left {float:left;}
.fn-right {float:right;}
/* 内容对齐方式 */
.fn-text-left{text-align: left}
.fn-text-right{text-align:right;}
.fn-text-center{text-align: center}
/* 单行文字溢出时出现省略号，需设定宽度 */ 
.fn-text-overflow {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/* color */
.fn-color-red{color:red;}
.fn-color-green{color:green;}
.fn-color-grey{color:#ccc;}


a{color:#019ffe;}

input, button, select, textarea, input:focus, input:active, select:focus, select:active { outline: 0px;border:none; box-shadow:none;}

/*-- animation --*/
@-webkit-keyframes rotate360{
    0%  {
        /*
        水平翻转
        */
        -webkit-transform:rotateY(0deg);
        /*
        垂直翻转
        -webkit-transform:rotateX(0deg);
        顺时针旋转
        -webkit-transform:rotate(0deg);
        逆时针旋转
        -webkit-transform:rotate(0deg);
        */
    }
    100% {
        /* 水平翻转 */
        -webkit-transform:rotateY(360deg);
        /* 垂直翻转
        -webkit-transform:rotateX(360deg);
        顺时针旋转
        -webkit-transform:rotate(360deg);
        逆时针旋转
        -webkit-transform:rotate(-360deg);
        */
    }
}
@-moz-keyframes rotate360{
    0%  {
        -moz-transform:rotateY(0deg);
        /*
        -moz-transform:rotateX(0deg);
        -moz-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        */
    }
    100% {
        -moz-transform:rotateY(360deg);
        /*
        -moz-transform:rotateX(360deg);
        -moz-transform:rotate(360deg);
        -moz-transform:rotate(-360deg);
        */
    }
}
@keyframes rotate360{
    0%  {
        transform:rotateY(0deg);
        /*
        transform:rotateX(0deg);
        transform:rotate(0deg);
        transform:rotate(0deg);
        */
    }
    100% {
        transform:rotateY(360deg);
        /*
        transform:rotateX(360deg);
        transform:rotate(360deg);
        transform:rotate(-360deg);
        */
    }
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}


/* --- scroll bar --- */
/* http://alfred-sun.github.io/blog/2014/12/24/scrollbar-customized-with-css-style/ */
/* chrome */
/* 设置滚动条的样式 */
::-webkit-scrollbar {width: 1px;height: 1px;}
/* 滚动槽 */
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {background: rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); }
::-webkit-scrollbar-thumb:window-inactive { background: rgba(255, 0, 0, 0.1); }

/*-- global --*/
.ant-btn-blue{background: #077bd6;color:#fff;border-color:#077bd6;}
.ant-btn-blue.active, .ant-btn-blue:active, .ant-btn-blue:focus, .ant-btn-blue:hover{background: #148ce8;border-color:#148ce8;color:#fff;}

.ant-badge-status-blue {
    background-color: #8184f7;
}

/*--ant overview --*/
/*-menu-*/
.ant-menu-dark, .ant-menu-dark .ant-menu-sub{background:#39424a;}

/*-- overwrite ant-design --*/
.ant-carousel .slick-slider {padding-bottom: 0px;}
.ant-table, .ant-table-tbody>tr>td{color: inherit;font-weight: 400;}

/*-- spin --*/
.ant-spin>.ant-spin-dot, .ant-spin.ant-spin-show-text .ant-spin-text{display: inline-block;line-height: 30px;}
.ant-spin.ant-spin-show-text .ant-spin-text{padding-left: 10px;}

/*-- table --*/
.ant-table-tbody>tr>td, .ant-table-thead>tr>th{text-align: left;}

/*-- button --*/
.ant-btn-action { background-color: #A5DE37; border-color: #A5DE37; color: #FFF; }
.ant-btn-action:hover, .ant-btn-action:focus { background-color: #b9e563; border-color: #b9e563; color: #FFF; }

.ant-btn-inverse { background-color: #222; border-color: #222; color: #EEE; }
.ant-btn-inverse:hover, .ant-btn-inverse:focus { background-color: #3c3c3c; border-color: #3c3c3c; color: #EEE; }

.ant-btn-danger { color: #fff; background-color: #f04134; border-color: #f04134; }
.ant-btn-danger:hover, .ant-btn-danger:focus { color: #fff; background-color: #f46e65; border-color: #f46e65; }

/*-- common --*/
.fn-inline-block{display: inline-block;}
.fn-full-height-width{width: 100%;height: 100%;}

.common-paper {width: 100%;height: 100%;display: inline-block;}
.common-grey-paper {background: #384049;}
.common-text-color {color: #FFF;}

.common-radius { border-radius: 5px; -moz-border-radius: 5px;-webkit-border-radius:5px;}
.common-radius-heavy { border-radius: 30px; -moz-border-radius: 30px;-webkit-border-radius:30px;}
.common-radius-top-left { border-top-left-radius:5px;}
.common-radius-top-right { border-top-right-radius:5px;}
.common-radius-bottom-right { border-bottom-right-radius:5px;}
.common-radius-bottom-left { border-bottom-left-radius:5px;}


.common-label {background: none;}
.common-label-title {background: #505861;}

/* */
.column-money, .ant-table-tbody>tr>td.column-money{text-align: right;}
.column-hidden {display: none;}
/*-- width --*/
.fn-width100{width:100%;}

.dg-logo { background: url(../images/logo.png) no-repeat; width: 147px; height: 60px; }

/*----------- common component ----------*/

/*-- icon fonts --*/
.icon-BOC{color:#9E1F31;}
.icon-CMB{color:#E60012;}
.icon-CCB{color:#003B90;}
.icon-ICBC{color:#E60012;}
.icon-ABC{color:#333333;}
.icon-SPB{color:#F1612F;}
.icon-PSBC{color:#289269;}
.icon-GDB{color:#ED1528;}
.icon-CIB{color:#D4D4D4;}
.icon-CITIC{color:#BC1D21;}
.icon-BCM{color:#1D2088;}
.icon-SPDB{color:#1D2088;}
.icon-HB{color:#E60012;}
.icon-BOB{color:#C11E23;}
.icon-alipay{color:#009FE8;}


/*-- number-input --*/
.number-input-wrap{height: 22px; line-height: 22px; width: 80px; vertical-align: middle; border-radius: 25px; background: #808080;display: inline-block;position: relative;text-align: center;overflow: hidden; transition: all .3s;}
.number-input-wrap span{display: none;position: absolute;width: 18px;cursor: pointer;}
.number-input-wrap span:first-child{left:0;border-radius: 25px 0 0 25px;}
.number-input-wrap span:last-child{right:0;border-radius: 0 25px 25px 0;}
.number-input-wrap:hover span{display: inline-block;background: rgba(183, 194, 206, 0.12);}
.number-input-wrap input{background: none;display: inline-block;height: 22px;line-height: 22px;width: 100%;float: left;text-align: center;}

.number-input-wrap.white{background: #fff; color:#586169;}
.number-input-wrap.white:hover span{background: rgba(205, 216, 222, 0.29)}

.number-input-wrap[disabled] input{background:#ddd;cursor: not-allowed;}
.number-input-wrap[disabled] span,.number-input-wrap[disabled]:hover span{display: none}

/*-- wrapper --*/
.wrapper600{width:600px;margin:0 auto;}
.wrapper800{width:800px;margin:0 auto;}
.wrapper1000{width:1000px;margin:0 auto;}

/*-- confrim --*/
.confirm-body-wrapper{zoom: 1;padding:15px;}
.confirm-body-wrapper.info .confirm-body > .anticon{color: #108ee9;}
.confirm-body-wrapper.warning .confirm-body > .anticon{color: #ffbf00;}
.confirm-body-wrapper.error .confirm-body > .anticon{color: #e65454;}
.confirm-body-wrapper.success .confirm-body > .anticon{color: green;}
.confirm-body-wrapper .confirm-body > .anticon{font-size: 50px;margin-right: 16px;padding: 0 1px;float: left;}
.confirm-body-wrapper .confirm-body .confirm-title{color: rgba(0, 0, 0, 0.65);font-weight: 500;font-size: 14px;}
.confirm-body-wrapper .confirm-body .confirm-content{margin-left: 42px;font-size: 12px;color: rgba(0, 0, 0, 0.65);margin-top: 8px;}
.confirm-body-wrapper .confirm-btns{margin-top: 30px;text-align: right;}
.confirm-body-wrapper .confirm-btns>button{margin-right: 8px;}

/*----------- page component ----------*/

/*-- article --*/
.article-page{width:100%;padding: 0;margin: 0 auto;position: relative;}
.article-page-header{width: 100%;z-index: 999;background: #2F86E6;position: fixed;top: 0;left: 0;-webkit-transition: all .5s ease;-moz-transition: all .5s ease;transition: all .5s ease;}
.article-page-header.paddingTop{background: none; padding-top: 50px;background:#333;}
.article-page-header .nav-wrapper{width: 72.22%;height: 60px;margin: 0 auto;max-width: 1040px;min-width: 750px;}
.article-page-header .nav-wrapper .nav-content{padding: 12px 0;height: 60px;line-height: 36px;font-size: 14px;}
/*- logo -*/
.article-page-header .nav-wrapper .nav-logo{color: #fff;font-weight: normal;}
.article-page-header .nav-wrapper .logo-text{font-size: 20px;padding-right: 5px;}
/*- nav -*/
.article-page-header .nav-wrapper .nav{float: right;}
.article-page-header .nav-wrapper .nav li{float: left;text-align: center;position: relative;}
.article-page-header .nav-wrapper .nav li a{padding-right: 32px;text-decoration: none;border-right: 0;color: #fff;}

.article-page-wrapper{width: 95%;border-radius: 6px;max-width: 1024px;min-height: 800px;margin: 120px auto 0;position: relative;}
.article-page-wrapper .list-wrapper{width: 150px;position: absolute;z-index: 1;float: left;height: 100%;}
.article-page-wrapper .list-wrapper ul{top: 30px;position: absolute;}
.article-page-wrapper .list-wrapper ul>li{overflow: hidden;position: relative;z-index: 1;}
.article-page-wrapper .list-wrapper ul a{line-height: 30px;height: 30px;display: block;font-weight: 500;font-size: 14px;color: #666;-webkit-transition: color .45s cubic-bezier(.215,.61,.355,1);transition: color .45s cubic-bezier(.215,.61,.355,1);}
.article-page-wrapper .list-wrapper ul a:hover{color: #019bf0;}
.article-page-wrapper>section {position: relative;width: 100%;padding-left: 200px;padding-bottom: 60px;}
.article-page-wrapper>section:before{content: "";display: block;width: 1px;height: 100%;position: absolute;left: 150px;background: #e8e8e8;}
.article-page-wrapper>section article{}
.article-page-wrapper>section .markdown { margin: 0 }
.markdown .text-center, .markdown section .text-center { text-align: center }
.markdown p, .markdown section p { font-size: 14px;line-height: 1.8; margin: 1em 0 }
.markdown .toc, .markdown section .toc { font-size: 14px; margin: 20px 0; background: #f6f7f8; border-left: 1px solid #e8e8e8; padding: 8px 0 8px 10px }
.markdown .toc a, .markdown section .toc a { color: #666 }
.markdown .toc a:hover, .markdown section .toc a:hover { color: #0193e4 }
.markdown>h2, .markdown>h3, .markdown>h4, .markdown section>h2, .markdown section>h3, .markdown section>h4 { color: #404040 }
.markdown>h2 a, .markdown>h3 a, .markdown>h4 a, .markdown section>h2 a, .markdown section>h3 a, .markdown section>h4 a { opacity: 0; -webkit-transition: opacity .45s cubic-bezier(.215, .61, .355, 1); transition: opacity .45s cubic-bezier(.215, .61, .355, 1) }
.markdown>h2:hover a, .markdown>h3:hover a, .markdown>h4:hover a, .markdown section>h2:hover a, .markdown section>h3:hover a, .markdown section>h4:hover a { opacity: 1 }
.markdown>h1, .markdown section>h1 { font-weight: 500; font-size: 28px; color: #404040; margin: 0 auto 10px }
.markdown>h1>.subtitle, .markdown>h1>i, .markdown section>h1>.subtitle, .markdown section>h1>i { font-style: normal; margin: 0 5px; font-size: 20px }
.markdown>h2, .markdown section>h2 { font-size: 22px; font-weight: 400 }
.markdown>h2, .markdown>h3, .markdown section>h2, .markdown section>h3 { margin: 1.6em 0 1em; clear: both }
.markdown>h3, .markdown section>h3 { font-size: 16px; font-weight: 400 }
.markdown>h4, .markdown section>h4 { font-size: 14px; margin: 1em auto; font-weight: 400 }
.markdown img, .markdown section img { vertical-align: middle }
.markdown code, .markdown section code { margin: 0 3px; border-radius: 3px; font-size: .8rem; border: 1px solid #e9e9e9; background: #f7f7f7 }
.markdown pre, .markdown section pre { margin: 1em 0; border-radius: 6px; border: 1px solid #e8e8e8; background-color: #fff; padding: 0 }
.markdown pre code, .markdown section pre code { background: transparent; margin: 0; border: none; display: block; line-height: 1.5; font-size: 13px; white-space: pre }
.markdown pre::-webkit-scrollbar, .markdown section pre::-webkit-scrollbar { width: 2px; height: 2px }
.markdown pre::-webkit-scrollbar-thumb, .markdown section pre::-webkit-scrollbar-thumb { background: #e2e2e2; border-radius: 2px }
.markdown pre::-webkit-scrollbar-button, .markdown pre::-webkit-scrollbar-corner, .markdown pre::-webkit-scrollbar-track, .markdown pre::-webkit-scrollbar-track-piece, .markdown section pre::-webkit-scrollbar-button, .markdown section pre::-webkit-scrollbar-corner, .markdown section pre::-webkit-scrollbar-track, .markdown section pre::-webkit-scrollbar-track-piece { display: none }
.markdown .bold, .markdown section .bold { font-weight: 700 }
.markdown blockquote, .markdown section blockquote { font-size: 90%; color: #999; border-left: 4px solid #e9e9e9; padding-left: .8em; margin: 1em 0 }
.markdown>ul>li, .markdown section>ul>li { list-style: circle; margin-left: 20px; padding-left: 4px }
.markdown .demo-icon, .markdown section .demo-icon { font-size: 14px; opacity: .5; -webkit-transition: opacity .45s cubic-bezier(.215, .61, .355, 1); transition: opacity .45s cubic-bezier(.215, .61, .355, 1); cursor: pointer }
.markdown .demo-icon.markdown .demo-icon-active, .markdown .demo-icon.markdown section .demo-icon-active, .markdown .demo-icon:active, .markdown .demo-icon:hover, .markdown section .demo-icon.markdown .demo-icon-active, .markdown section .demo-icon.markdown section .demo-icon-active, .markdown section .demo-icon:active, .markdown section .demo-icon:hover { opacity: 1 }
.markdown .content-wrapper h3, .markdown section .content-wrapper h3 { font-weight: 400; font-size: 14px; margin: 20px auto }
.markdown .content-wrapper .content, .markdown section .content-wrapper .content { padding: 20px; overflow: auto; display: block; background: #fff; border-radius: 6px; border: 1px solid #e8e8e8; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); position: relative; will-change: transform, box-shadow; -webkit-transition: box-shadow .3s cubic-bezier(.215, .61, .355, 1), -webkit-transform .3s cubic-bezier(.215, .61, .355, 1); transition: box-shadow .3s cubic-bezier(.215, .61, .355, 1), -webkit-transform .3s cubic-bezier(.215, .61, .355, 1); transition: transform .3s cubic-bezier(.215, .61, .355, 1), box-shadow .3s cubic-bezier(.215, .61, .355, 1); transition: transform .3s cubic-bezier(.215, .61, .355, 1), box-shadow .3s cubic-bezier(.215, .61, .355, 1), -webkit-transform .3s cubic-bezier(.215, .61, .355, 1) }
.markdown .content-wrapper .content:hover, .markdown section .content-wrapper .content:hover { box-shadow: 0 5px 10px rgba(0, 0, 0, .15); -webkit-transform: translateY(-5px); -ms-transform: translateY(-5px); transform: translateY(-5px) }
.markdown .content-wrapper .content .demo-wrapper, .markdown section .content-wrapper .content .demo-wrapper { width: 450px; margin: 20px auto; height: 61px; position: relative; overflow: hidden }
.markdown .content-wrapper .content .demo-wrapper .east .line, .markdown section .content-wrapper .content .demo-wrapper .east .line { width: 330px; height: 1px; background: #979797; display: block; position: absolute; left: 60px; top: 30px }
.markdown .content-wrapper .content .demo-wrapper .east .arrow, .markdown section .content-wrapper .content .demo-wrapper .east .arrow { width: 10px; height: 10px; display: block; position: absolute; right: 60px; top: 26px; border-right: solid; border-top: solid; border-width: 1px; border-color: #979797; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg) }
.markdown .text-highlight, .markdown section .text-highlight { color: #019bf0 }
.markdown .circle, .markdown .circle-dashed, .markdown section .circle, .markdown section .circle-dashed { width: 40px; height: 40px; position: absolute; background: rgba(1, 155, 240, .15); border-radius: 20px; border: 1px solid #019bf0; top: 10px }
.markdown .circle, .markdown section .circle { z-index: 1; background: #019bf0 }
.markdown .circle-dashed, .markdown section .circle-dashed { border-style: dashed; right: 0 }
.markdown>table, .markdown section>table { border-collapse: collapse; border-spacing: 0; empty-cells: show; border: 1px solid #e8e8e8; width: 100%; margin-bottom: 24px }
.markdown>table th, .markdown section>table th { background: #ececec; white-space: nowrap; color: #5c6b77; font-weight: 600 }
.markdown>table td, .markdown>table th, .markdown section>table td, .markdown section>table th { border: 1px solid #e8e8e8; padding: 8px 16px; text-align: left }
.markdown .toc-affix, .markdown section .toc-affix { z-index: 1000; top: 0; position: absolute; width: 100px }
.markdown .demos-anchor, .markdown section .demos-anchor { color: #aaa; position: absolute; margin-right: 24px; top: 24px; right: 0; z-index: 100; background: #fff; font-size: 12px }
.markdown .content-img, .markdown section .content-img { margin: 20px 0; max-width: 800px; position: relative }
.markdown .ant-steps-step>*, .markdown .ant-steps-step>* .ant-steps-title, .markdown section .ant-steps-step>*, .markdown section .ant-steps-step>* .ant-steps-title { background: transparent }
@media screen and (max-width:414px) {
    .markdown .content-wrapper .demo-wrapper, .markdown section .content-wrapper .demo-wrapper { -webkit-transform: scale(.73); -ms-transform: scale(.73); transform: scale(.73); -webkit-transform-origin: left center; -ms-transform-origin: left center; transform-origin: left center }
    .markdown>table, .markdown section>table { border: none }
    .markdown>table>thead, .markdown section>table>thead { display: none }
    .markdown>table>tbody, .markdown section>table>tbody { border-bottom: 3px solid #e8e8e8 }
    .markdown>table>tbody tr, .markdown section>table>tbody tr { border-top: 3px solid #e8e8e8 }
    .markdown>table>tbody tr td, .markdown section>table>tbody tr td { border: none; border-bottom: 1px solid #e8e8e8; display: block }
    .markdown>table>tbody tr td:before, .markdown section>table>tbody tr td:before { display: inline-block; content: ""; margin-right: 5px }
    .markdown>table>tbody tr td:first-child:before, .markdown section>table>tbody tr td:first-child:before { content: "\53C2\6570: " }
    .markdown>table>tbody tr td:nth-child(2):before, .markdown section>table>tbody tr td:nth-child(2):before { content: "\7C7B\578B: " }
    .markdown>table>tbody tr td:nth-child(3):before, .markdown section>table>tbody tr td:nth-child(3):before { content: "\9ED8\8BA4: " }
    .markdown>table>tbody tr td:nth-child(4), .markdown section>table>tbody tr td:nth-child(4) { border-bottom: none }
    .markdown>table>tbody tr td:nth-child(4):before, .markdown section>table>tbody tr td:nth-child(4):before { content: "\8BF4\660E: " }
}
@media screen and (max-width:375px) {
    .markdown .content-wrapper .demo-wrapper, .markdown section .content-wrapper .demo-wrapper { -webkit-transform: scale(.65); -ms-transform: scale(.65); transform: scale(.65); -webkit-transform: scale(.55); -ms-transform: scale(.55); transform: scale(.55) }
}

/*-- dash layout --*/
.ant-layout-aside {min-height: 100%;position: relative;}
.ant-layout-aside .ant-layout-logo{width: 150px;height: 32px;border-radius: 6px;margin: 16px 24px 16px 28px;transition: all 0.3s ease;}
.ant-layout-aside .ant-layout-logo img{width:100%;}
.ant-layout-aside-collapse .ant-layout-logo {width: 32px;margin: 16px;transition: all 0.3s ease;}
.ant-layout-aside .ant-layout-sider {width: 100px;background: #39424a;position: absolute;overflow: visible;padding-bottom: 24px;min-height: 100%;overflow:hidden;transition: all 0.3s ease;z-index: 9999;}
.ant-layout-aside .ant-layout-sider:hover{width: 224px;transition: all 0.3s ease;}
.ant-layout-aside .ant-layout-sider:hover > .ant-menu > .ant-menu-item .nav-text,
.ant-layout-aside .ant-layout-sider:hover > .ant-menu > .ant-menu-submenu > .ant-menu-submenu-title:after,
.ant-layout-aside .ant-layout-sider:hover > .ant-menu > .ant-menu-submenu > .ant-menu-submenu-title .nav-text {display: inline-block;transition: all 0.3s ease;}
.ant-layout-aside .ant-menu-submenu, .ant-layout-aside .ant-menu-submenu-title{ transition: all 0s ease;}
.ant-layout-aside .ant-layout-sider > .ant-menu {margin-bottom: 20px;}
.ant-layout-aside .ant-layout-sider > .ant-menu > .ant-menu-item,
.ant-layout-aside .ant-layout-sider > .ant-menu > .ant-menu-submenu,
.ant-layout-aside .ant-layout-sider .ant-menu-submenu>.ant-menu-submenu-title {margin: 16px 0;text-align: center;font-size: 18px;transition: all 0s linear;}
.ant-layout-aside .ant-layout-sider > .ant-menu > .ant-menu-item i,
.ant-layout-aside .ant-layout-sider > .ant-menu > .ant-menu-submenu > .ant-menu-submenu-title i{font-size: inherit;}
.ant-layout-aside .ant-layout-sider:hover > .ant-menu > .ant-menu-item,
.ant-layout-aside .ant-layout-sider:hover > .ant-menu > .ant-menu-submenu,
.ant-layout-aside .ant-layout-sider:hover .ant-menu-submenu>.ant-menu-submenu-title {text-align: left;font-size: inherit;}
.ant-layout-aside .ant-layout-sider > .ant-menu > .ant-menu-item .nav-text,
.ant-layout-aside .ant-layout-sider > .ant-menu > .ant-menu-submenu > .ant-menu-submenu-title:after,
.ant-layout-aside .ant-layout-sider > .ant-menu > .ant-menu-submenu > .ant-menu-submenu-title .nav-text{vertical-align: baseline;display: none;transition: all 0.3s ease;}
.ant-layout-aside .ant-layout-sider > .ant-menu > .ant-menu-item > i,
.ant-layout-aside .ant-layout-sider > .ant-menu > .ant-menu-submenu > .ant-menu-submenu-title i {transition: font-size .3s;min-width: 14px;margin-right: 8px;}
.ant-layout-aside-collapse .ant-layout-sider > .ant-menu > .ant-menu-item {transition: all 0s ease;}
.ant-layout-aside-collapse .ant-layout-sider > .ant-menu > .ant-menu-item > .anticon {font-size: 16px;display: inline-block;}
.ant-layout-aside-collapse .ant-layout-sider > .ant-menu > .ant-menu-item:hover {background: #2db7f5;color: #fff;transition: all 0s ease;}
.ant-layout-aside-collapse .ant-layout-sider > .ant-menu > .ant-menu-item:hover .nav-text {display: inline-block;vertical-align: top;background: #2db7f5;color: #fff;padding-right: 16px;border-radius: 0 5px 5px 0;}
.ant-layout-aside .ant-layout-sider > .ant-menu > .ant-menu-submenu > .ant-menu-sub{font-size: 12px;}
.ant-layout-aside .ant-aside-action {height: 80px;width: 100px;padding:25px 0px;position: fixed;bottom: 0;text-align: center;line-height: 42px;cursor: pointer;transition: all 0.3s ease;}
.ant-layout-aside .ant-layout-sider:hover .ant-aside-action{width:224px;transition: all 0.3s ease;}
.ant-layout-aside .ant-layout-header {background: #313b44;height: 64px;}
.ant-layout-aside .ant-layout-breadcrumb {margin: 7px 0 -17px 24px;}
.ant-layout-aside .ant-layout-main {margin-left: 100px;transition: all 0.3s ease;}
.ant-layout-aside-collapse .ant-layout-main {margin-left: 64px;transition: all 0.3s ease;}
.ant-layout-aside .ant-layout-content {background: #fff;padding: 24px;}
.ant-layout-aside .ant-layout-footer {height: 64px;line-height: 64px;text-align: center;font-size: 12px;color: #999;background: #fff;border-top: 1px solid #e9e9e9;width: 100%;}

/* -- dash head --*/
.ant-layout-main-head { font-size: 16px;}
.ant-layout-sub-head { font-size: 14px;}
.ant-layout-small-head, .ant-layout-text, .ant-layout-help-text, .ant-layout-disable-text, .ant-layout-link-text { font-size: 12px;}

.ant-layout-header-carousel-bar {width:30%;display: inline;background: #3b4046;height: 27px;margin-top:20px;}
.ant-layout-header-game-selected {width:105px; background: #22282d; border-bottom: #0085ed 2px solid;padding: 20px 0px 0px 30px; height: 61px;}
.ant-layout-header-game-selected-icon {background: #0085ed; border-radius: 16px; width: 16px;height: 16px; margin-left:5px;}

.ant-layout-header-carousel-text {text-align: center;}
.ant-layout-header-dropdown {margin: 34px 0px 0 -109px;width: 213px;background: #303b45;color: #FFF;}
.ant-layout-header-dropdown > li {border-radius: none; color: #FFF;}
.ant-layout-header-dropdown > li > a {color: #FFF;}
.ant-layout-header-dropdown > li:hover {background: #2b333b;}
.ant-layout-header-dropdown-announcement { background: #0085ed; padding: 18px 13px 7px 13px; }
.ant-layout-header-dropdown-announcement-lottery { height: 40px; line-height: 40px; border-radius: 20px; background: #FFF; color: #545454; padding: 0 10px;margin-bottom:7px;}

.ant-layout-header{overflow: hidden; padding:0 10px;}
.ant-layout-header a{color:#fff;}
.ant-layout-header>ul>li{float:left;height:64px;line-height: 64px;color:#fff;}
.ant-layout-header>ul>li.home{text-align:center;}
.ant-layout-header>ul>li.email{padding:0px 30px;}
.ant-layout-header>ul>li.balance{padding:0px 10px;padding-right: 50px;}
.ant-layout-header>ul>li.balance .balance-amt{color:red;padding:0px 10px;}
.ant-layout-header>ul>li.balance .balance-refresh{cursor: pointer;font-size: 8px;border:solid 1px #fff; border-radius: 3px;padding:1px;}
.ant-layout-header>ul>li.buttons a{color:#fff; font-size: 14px; padding:0px 10px;}
/* bulletin */
.ant-layout-header>ul>li.bulletin {float:left; padding:0px 10px; width:500px;}
.ant-layout-header>ul>li.bulletin .bulletin-content{font-size: 15px; height: 60px; float:right; width: 465px; overflow: hidden;}
.ant-layout-header>ul>li.bulletin ul.marquee {display: block; padding: 0; margin: 0; list-style: none; line-height: 1; position: relative; overflow: hidden; height: 100%;}
.ant-layout-header>ul>li.bulletin ul.marquee li {float:left;height: 64px;line-height: 64px; position: absolute; top: -999em; left: 0; display: block; white-space: nowrap;padding:0 5px;}


.ant-layout-header .category{width:150px; border-bottom: #0085ed 2px solid; height: 64px;line-height: 64px;text-align: center; font-size: 15px;color:#fff;cursor: pointer;}
.ant-layout-header .category-title{display: block;width: 100%;height: 100%;}
.ant-layout-header .category-content{position: absolute;z-index: 999;border-radius: 5px;margin-top:5px;overflow: hidden;}
.ant-layout-header .category-content>.ant-menu, .ant-layout-header .category-content .ant-menu-item{border:none;}
.ant-layout-header .category-content>.ant-menu-inline>.ant-menu-submenu>.ant-menu-submenu-title{background: #313b44;color: #fff;}
.ant-layout-header .category-content>.ant-menu-inline>.ant-menu-submenu>.ant-menu{background: #505861;color:#fff;}

.ant-layout-header-lottery-menu{width:185px;background:#303b45;border-radius: 5px;color:#fff;}
.ant-layout-header-lottery-menu>li> .ant-dropdown-menu-submenu-title{line-height: 36px;font-size: 14px;}
.ant-layout-header-lottery-menu .ant-dropdown-menu-item,.ant-layout-header-lottery-menu .ant-dropdown-menu-submenu-title{color:#fff;border-radius: 0;}
.ant-layout-header-lottery-menu .ant-dropdown-menu-item{background: #fff;border-radius: 15px;margin: 0px 10px;color:#545454;}
.ant-layout-header-lottery-menu .ant-dropdown-menu-submenu-title:hover{background:#0085ed;}
.ant-layout-header-lottery-menu .ant-dropdown-menu{background:#0085ed;border-radius: 0;box-shadow:none;}

/* -- dash body --*/
.ant-layout-body{padding:15px 35px;}
.ant-layout-body .title{height: 54px;padding-top:8px;border-bottom: solid 1px #caccce;}
.ant-layout-body .title h2{font-weight: 400;font-size: 24px;display:inline-block;height:26px;line-height:26px;border-left: solid 6px #138eee;padding: 0px 6px;color:#7b7b7b;}
.ant-layout-body .ant-advanced-search-form{padding: 24px;margin-top: 16px;background: #fbfbfb;border: 1px solid #d9d9d9;border-radius: 6px;}
.ant-layout-body .search-result-list{margin-top: 16px;border: 1px dashed #e9e9e9;border-radius: 6px;min-height: 200px;}
.ant-layout-body .search-result-list .ant-table-pagination{margin-right: 10px;}

/*- Index -*/
.index-body-wrapper { background: url(../images/index_bg_default.png) no-repeat; width: 100%; height: 1080px;}
.index-body-wrapper-header { padding: 2% 5%; width: 100%;height: 100%;}


/*-- login --*/
.passport-body{position: fixed;width: 100%;min-height: 100%;background:#fff none no-repeat center center;background-image: url(../images/login/bg.jpg);background-size: cover;}
.passport-wrapper{width:1400px;margin:0 auto;}
.passport-header{height:108px;}
.passport-footer{max-height:30%;height: 214px;}

.passport-main{padding-top:80px;}
.passport-main-left{width:600px;padding-left:64px;float:left;}
.passport-main-left h1{color:#fff;font-size: 45px;font-weight: 300;}
.passport-main-left h2{color:#fff;font-size: 24px;font-weight: 100;letter-spacing:30px;padding:10px;}
.passport-main-right{display:inline-block;}

.passport-box{padding:30px 50px;width:741px;min-height: 333px;background:#fff;box-shadow: 0 0 15px 4px rgba(0, 0, 0, .1);box-sizing: border-box;}
.passport-box input[type=text],.passport-box input[type=email],.passport-box input[type=password]{border: none;display:block;color:#cacaca;font-size:12px;height:38px;padding:10px 0;padding-left:22px;margin-top:12px; width:290px;}
.passport-box input::-webkit-input-placeholder {  /* Chrome/Opera/Safari */ color: #999;}
.passport-box input::-moz-placeholder { /* Firefox 19+ */ color: #999;}
.passport-box input:-ms-input-placeholder { /* IE 10+ */ color: #999;}
.passport-box input:-moz-placeholder{ /* Firefox 18- */ color: #999;}
.passport-box .ant-input:focus{box-shadow:none;}
.passport-box .has-error .ant-input, .passport-box .has-error .ant-input:focus, .passport-box .has-error .ant-input:hover{box-shadow:none;}
.passport-box .input-user{background: url(../images/icon/icon12.png) no-repeat 0 center;background-size: 15px 17px;}
.passport-box .input-password{background: url(../images/icon/icon13.png) no-repeat 0 center;background-size: 15px 17px;}
.passport-box input.input-captcha{background: url(../images/icon/icon15.png) no-repeat 0 center;background-size: 15px 15px;width:auto;}

.passport-box-body { display: inline-block; width: 100%; }
.passport-box-body-content{width:320px;float:left;}
.passport-box-body-content:first-child{padding-right: 20px;}
.passport-box-body-form {display: inline-block;}
.passport-box-body-right .error-msg{height: 28px;}
.passport-box-body .passport-submit{width:100%;height:45px;border:none;background:#0191ff;color:#fff;font-size:13px;border-radius: 5px;}
.passport-box-body-form .ant-form-item-control> .ant-input ,.passport-box-body-form .ant-form-item-control .underline{display:block;border-bottom: 1px solid #aedafe;border-radius: 0;}
.passport-box-body-form .underline .ant-input-wrapper{border: none;}
.passport-box-body-form .ant-form-item-control>.anticon{position: absolute;margin-top: -28px;font-size: 16px;color:#E5E5E5;}

.passport-box-header{color:#7b7b7b;border-bottom: solid 2px #d0d0d0;padding-bottom:10px;}
.passport-box-header h2{font-size: 20px;font-weight: 400;letter-spacing: 5px;}
.img-captcha{width:100%;height:100%;cursor: pointer;float: right;}

.cs-box{height:32px;width:215px;line-height:32px;font-size:12px;background:#fff;color: #aaaaaa;}
.cs-box i{height:32px;width:32px;line-height:32px;font-size:20px;text-align: center;background:#006aff;color:#fff;}


/*-- game bet --*/
.game-body{background: #252d35;min-height: 930px;padding: 10px;color:#fff;}
.game-body-button > a { color: #FFF }
.game-body-button {background: #384049;}
.game-body-button-selected { margin: 0 1%;padding: 0 1%; font-size: 12px;background: #0085ed; }
.game-body-button-bottom-line-selected {margin: 0 1%;padding: 0 1%; font-size: 12px;color: #027fe0; border-bottom: 4px solid #027fe0; padding-bottom: 5px;}
.game-body-button-border {margin: 0 1%;padding: 3px 1%; font-size: 12px;border: 1px solid #027fe0; border-radius: 180px;}
.game-body-ballbar { width: 100%; }
.game-body-ballbar-OpenResultBall {color: #FFF;font-size: 16px;min-width: 26px; height: 26px; line-height: 26px;margin: 4px 5px;float: left;text-align: center;font-weight: bold;}
.game-body-ballbar-OpenResultBall-border {color: #FFF;font-size: 16px;min-width: 26px; height: 26px; line-height: 23px; margin: 2px 5px;border-radius: 16px;border: 2px #0085ed solid;float: left;text-align: center;font-weight: bold;}
.game-body-ballbar-OpenResultBall-big-border {color: #FFF;font-size: 28.94px;min-width: 42px; height: 42px; line-height: 39px; margin: 2px 5px;border-radius: 180px;border: 2px #0085ed solid;float: left;text-align: center;font-weight: bold;}
.game-body-bottomSplitLine { width: 100%; border-bottom: 1px solid #3e474f;  }
.game-body-leftSplitLine {border-left: 1px solid #3c444c;height: 85%;margin:0 10px 0 10px;}
.game-body-context {width: 100%;padding: 0.5%;}

.game-summary{height: 80px;border-bottom:1px solid #3c444c}
.game-summary-logo{display: inline-block;width:100px;height:80px;line-height:80px;text-align: center;float: left;}
.game-summary-logo>i{font-size: 80px;  }
.game-summary-logo>i.icon-KL8{color:#C83731;}
.game-summary-logo>i.icon-KENO{color:#63c4f2;}
.game-summary-logo>i.icon-PK10{color:#ffeaf0;}
.game-summary-logo>i.icon-FC3D{color:#d6faff;}
.game-summary-countdown{font-size: 24px; text-align: center;float:left;margin-top:20px;padding-left: 16px;padding-right: 25px;border-left: solid 1px #3c444c;border-right: solid 1px #3c444c;}
.game-summary-countdown-qh{float:left;font-size: 12px;}
.game-summary-countdown-qh.waiting{color:gray;}
.game-summary-countdown-qh b{color:#0083ea;}
.game-summary-countdown-qh p{letter-spacing: 7px;font-size: 15px;}
.game-summary-countdown-time{float: left;font-size: 30px;margin-left: 8px;line-height: 40px;}
.game-summary-countdown-time span{background:#fff;color:#000;display: inline-block;width:25px;height: 40px;border-radius: 2.5px;margin:0px 4px;}

.game-summary-last-open{font-size: 24px;display:inline-block;padding-left: 25px;}
.game-summary-last-open-qh{font-size: 12px;float:left;margin-top: 20px;padding-right: 60px;}
.game-summary-last-open-qh b{color:#0083ea;}
.game-summary-last-open-qh p{letter-spacing: 7px;font-size: 15px;}
.game-summary-last-open-nums{width:610px;}
.game-summary-last-open-nums.opening li{
    /* 设置默认样式，开启3d硬件加速 */
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    /* 设置动画，animation:动画名称 动画播放时长单位秒或微秒 动画播放的速度曲线linear为匀速 动画播放次数infinite为循环播放; */
    -webkit-animation:rotate360 2s linear infinite;
    -moz-animation:rotate360 2s linear infinite;
    animation:rotate360 2s linear infinite;}
.game-summary-last-open-nums li{float: left;margin:2px 6px;width:32px;height: 32px;line-height: 30px;text-align:center;border-radius: 100%; border:solid 1px #0085ed;}
.game-summary-last-open-nums li.big{width:50px;height: 50px;font-size: 29px;line-height: 46px;border:solid 2px #0085ed;margin:10px 10px 0px 10px;}
.game-summary-last-open-nums li.middle{width:40px;height: 40px;line-height: 38px;margin: 15px 10px 0px 0px;text-indent: -2px;}

.game-summary-links{float: right;padding-top:15px;}
.game-summary-links a{color:#fff;display: block;line-height: 25px;}

.game-body-left{width:760px;float: left;}
.game-body-right{float: left;margin-left: 6px;}


/*-- begin game bettype panel--*/
/*-- 中间区域上方游戏玩法选择 --*/
.game-bettype{color:#fff;}
.game-bettype-loading{height: 300px; line-height: 300px; text-align: center;}
/*-- 玩法分组 & 追号分组 --*/
.game-bettype-group, .game-trace-types{border-bottom: solid 1px #3e474f;}
.game-bettype-group label{height: 40px;min-width:70px;text-align:center;line-height: 36px;background:#39424a;color:#fff;float: right;font-size: 14px;margin: 0px 5px;font-weight: 600;cursor: pointer;}
.game-bettype-group label:hover{background:#303c47;}
.game-bettype-group li, .game-trace-types label, .game-trace-types li{float: left;min-width:50px;text-align:center;font-size: 14px;height: 40px;line-height: 38px;margin:0px 5px;padding:0px 3px;font-weight: 700;cursor: pointer;}
.game-bettype-group li.active, .game-bettype-group li:hover{color:#fff;background: #0085ed;}

/*-- 具体玩法 --*/
.game-bettype-types{line-height: 40px;height: 40px;}
.game-bettype-types label{color:#0085ed;float: left;font-size: 14px;margin: 0px 5px;font-weight: 600;min-width:50px;text-align:center;}
.game-bettype-types ul>li{float:left;font-size: 14px;color:#fff;padding:0px 10px;}
.game-bettype-types ul>li a{padding:4px 10px;color:#fff;font-weight: 500;}
.game-bettype-types ul>li.active a,.game-bettype-types ul>li:hover a{border:solid 1px #0085ed;background:#0085ed; border-radius: 25px;padding:3px 9px;}
/*-- 玩法范例 --*/
.game-bettype-explain{height: 40px;line-height: 40px;border-bottom: solid 1px #3e474f;padding-top: 10px;}
.game-bettype-explain label{float:left;height: 20px;line-height: 20px;width: 50px;color:#fff;background: #252525;display: inline-block;text-align: center;font-size: 14px;font-weight: 600;}
.game-bettype-explain p{float:left;display: inline-block;max-width:680px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;height: 20px;line-height: 20px;background:#3b4046;color:#fff;padding-left:16px;font-size: 12px;margin-right: 5px;cursor: pointer;}
.game-bettype-explain i{float:left;font-size: 18px;}
.game-bettype-explain i:hover{color:#0785e7;cursor: pointer;}
/*-- end game bettype panel--*/

/*-- begin game selector panel --*/
/*-- 中间区域选码区 --*/
/*-- 遗漏按钮条 --*/
.game-selector-missing{padding:10px 0px;}
.game-selector-missing .ant-btn-group{margin-right: 30px;}
.game-selector-missing .ant-btn{background-color:#262626;border:none;color:#fff;}
.game-selector-missing .ant-btn.active{background-color:#0e8cee;}
.game-selector-missing a{display:inline-block; color:#fff; margin:0px 5px; padding:1px 10px;}
.game-selector-missing a.active, .game-selector-missing a:hover{border:solid 1px #0e8cee;background:#0e8cee; border-radius: 25px;padding:0px 9px;}
/*-- 复式选码区 --*/
.game-selector-boxpick{background:#313b44;border-radius: 5px;padding:10px 7px;}
.game-selector-boxpick-digitpos .label{float:left;margin-top: 8px;display: inline-block;}
.game-selector-boxpick-digitpos .label label{min-width:56px;height: 25px;line-height:25px;background:url(../images/unit_label.png);background-size:cover;font-size: 12px;font-weight: 700;display: inline-block;padding: 0px 5px;}
.game-selector-boxpick-digitpos .label b{display:block;font-size: 9px;padding-top: 3px;}
/*-- 复式号码球 --*/
.game-selector-boxpick-digitpos .nums{float:left;max-width: 690px;}
.game-selector-boxpick-digitpos .nums .num{display: inline-block;text-align: center;margin:5px 6px;}
.game-selector-boxpick-digitpos .nums span.ball,.game-selector-boxpick-digitpos .nums span.box{display: inline-block;cursor: pointer ;font-size:19px;font-weight: 600;width:32px;height: 32px;line-height: 29px;border:solid 1.5px #b3b1b0;color:#b3b1b0;border-radius: 100%;}
.game-selector-boxpick-digitpos .nums span.box{width: 60px;height: 28px;line-height: 26px;border-radius: 5px;}
.game-selector-boxpick-digitpos .nums span.ball:hover,.game-selector-boxpick-digitpos .nums span.box:hover{color:#fff;background:rgba(25, 163, 255, 0.46);border-color:rgba(25, 163, 255, 0.46);}
.game-selector-boxpick-digitpos .nums span.ball.active,.game-selector-boxpick-digitpos .nums span.box.active{background:#0a80dd;color:#fff;border-color:#0a80dd;}
.game-selector-boxpick-digitpos .nums span.miss{display: block;font-size: 11px;color:#b3b1b0;}
.game-selector-boxpick-digitpos .nums span.miss.red{color:red;}
.game-selector-boxpick-digitpos .nums span.miss.blue{color:#2361fa;}
/*-- 复式功能按钮组 --*/
.game-selector-boxpick-digitpos .actions{display: inline-block;height: 44px;}
.game-selector-boxpick-digitpos .actions li{float:left;cursor: pointer; font-size: 14px; display: inline-block;text-align: center;width:28px;height: 28px;line-height:28px;color:#fff;background:#625d67;border-radius: 5px;margin:0px 4px;}
.game-selector-boxpick-digitpos .actions li:hover{background:#0785e7;}


.game-selector .unit{padding:10px 5px;font-size: 12px;}
.game-selector .unit .ant-checkbox-inner{border: 1px solid #fff;}
.game-selector .unit .ant-checkbox-focused .ant-checkbox-inner, .game-selector .unit .ant-checkbox:hover .ant-checkbox-inner{border-color:#fff;}
.game-selector .unit .ant-checkbox-checked .ant-checkbox-inner{border-color:#108ee9;}

/*-- 直式选码区 --*/
.game-selector-straightpick{background: #313b44;border-radius: 5px;padding: 5px;margin-top: 10px;}
.game-selector-straightpick textarea.ant-input{width:608px;height: 190px;border-radius: 5px;background: #454e59;border-color: #138eee;color:#fff;font-size: 14px;resize:none;outline:none;}
.game-selector-straightpick .actions{display: inline-block;float:right;padding: 0px 10px;}
.game-selector-straightpick button{width:116px;height: 36px;font-size: 14px;display: block;margin-bottom: 5px;}
.game-selector-straightpick .explain{font-size: 12px;color:#fff;padding:10px 8px;font-weight: 500;}

/*-- 选码区下方投注确认按钮条 --*/
.game-selector-confirm{height: 32px;line-height: 32px;margin: 4px 0px;background:#3b4046;border-radius: 15px;font-size: 11px;}
.game-selector-confirm a{color:#fff;}
.game-selector-confirm .betcount{padding:0px 20px;float:left;}
.game-selector-confirm .betcount b{color:yellow;font-size:16px;padding:0px 5px;min-width:55px;display: inline-block;text-align: center;}
.game-selector-confirm .wager{padding:0px 10px;font-size: 20px;display: inline-block;float: left;}
.game-selector-confirm .wager a{float: left;}
.game-selector-confirm .wager input{float: left;width:60px;height: 22px;margin:5px 5px 0px 5px;padding:0px 5px; background: #808080;color:#f8f8f8;font-size: 11px;text-align: center;border-radius: 10px;border:none;}
.game-selector-confirm .amount,.game-selector-confirm .odds{padding:0px 10px;float: left;position: relative;}
.game-selector-confirm .amount b{color:yellow;font-size:16px;min-width:100px;padding:0px 5px;display: inline-block;text-align: center;}
.game-selector-confirm .odds i{padding:0px 10px; color:#0e8cee; font-size: 14px;}
.game-selector-confirm .actions{float: right;}
.game-selector-confirm .actions button{display: inline-block;border-radius: 15px;background-color:#4f545b;color:#fff;border-color:#4f545b;height: 24px;min-width:60px;line-height: 1;margin:0px 4px;}
.game-selector-confirm .actions button.active{background:#0085ed;border-color:#0085ed;}
.game-selector-confirm .actions button:not([disabled]):hover{border-color: #148ce8;background:#148ce8;}
.game-selector-confirm .actions button[disabled],.game-selector-confirm .actions button[disabled]:hover{background-color: #b3b1b0;border-color:#b3b1b0;color:#fff;}
/*-- end game selector panel --*/

/*-- begin game orders panel --*/
/*-- 下方已选号码列表面板 --*/
.game-orders{background: #303c47;border-radius: 5px;padding:7px;}
.game-orders .ant-table, .game-orders .ant-table table{border-radius:0;color:#fff;}
.game-orders .ant-table-thead>tr>th{background:none;text-align: center;}
.game-orders .ant-table-tbody>tr>td{border-bottom:none;padding:6px 8px;}
.game-orders .ant-table-tbody>tr.ant-table-row-hover, .game-orders .ant-table-tbody>tr:hover{background:#2b333b;}
.game-orders .ant-table-placeholder{background:none;border-bottom:none;color:#fff;}
.game-orders a{color:#fff;font-size: 14px;}
/*-- end game orders panel --*/

/*-- begin trace panel --*/

/*-- 追号分组 --*/
.game-trace-types label{ color: #e6e643; }
.game-trace-types li.active, .game-trace-types li:hover{ color:#0085ed; }
.game-trace-config{font-size: 12px;height:40px;line-height: 40px;padding: 0px 15px;border-bottom: solid 1px #3e474f;}
.game-trace-config .number-input-wrap{width:60px;margin:0px 10px;}
.game-trace-config b{color:#efef64;padding: 0 5px;}
.game-trace-config label{float: right;}
.game-trace-config label>span{margin-left: 5px;}

.game-trace-data{margin:10px;background: #384049;border-radius: 5px;padding: 4px;height: 373px; overflow: hidden;}
.game-trace-data .ant-table-header,.game-trace-data .ant-table-fixed-header .ant-table-body{background: #384049;}
.game-trace-data .ant-table-fixed-header .ant-table-scroll .ant-table-header{overflow:hidden;overflow-x: scroll;}
.game-trace-data .ant-table-thead>tr>th{background: #505861;color: #fff;padding: 5px 8px;border-right: solid 2px #3f474f;}
.game-trace-data .ant-table-tbody>tr>td{border: none;color: #fff;padding: 6px 8px;text-align: left;}
.game-trace-data .ant-table-tbody>tr>td:first-child{text-align: center;}
.game-trace-data .ant-table-tbody>tr.ant-table-row-hover, .game-trace-data .ant-table-tbody>tr:hover{background:#2b333b;}
.game-trace-data .ant-table-placeholder{border:none;background: #384049;padding: 100px 20px;}
.game-trace-data label.tag{color:#fff;background:#108ee9;height: 20px;line-height: 20px;padding:1px 3px;border-radius: 5px;margin-left: 10px;}

/*-- end trace panel --*/

/*-- begin game list --*/
/*-- 右侧上方投注记录、追号记录、开奖记录 --*/
.game-list{width:400px;}
.game-list .ant-tabs-bar{border-bottom:none;margin:8px 0px;}
.game-list .ant-tabs-nav .ant-tabs-tab{background: #384049;border-radius: 5px;color: #fff;padding: 5px 20px;margin-right: 9px;min-width: 127px;text-align: center;}
.game-list .ant-tabs-nav .ant-tabs-tab:last-child{margin-right: 0px;}
.game-list .ant-tabs-nav .ant-tabs-tab-active,.game-list .ant-tabs-nav .ant-tabs-tab:hover{background: #0085ed;}
.game-list .ant-tabs-ink-bar{height: 0px;}
.game-list .ant-tabs-nav-wrap{margin-bottom:0;}

.game-list .ant-tabs:not(.ant-tabs-vertical) .ant-tabs-tabpane{background: #384049;border-radius: 5px;padding:4px;height: 350px;position: relative;}
.game-list .ant-table-fixed-header .ant-table-scroll .ant-table-header, .game-list .ant-table-fixed-header .ant-table-body{background:inherit;}
.game-list .ant-table-thead>tr>th{background: #505861;color:#fff;padding:5px 8px;border-right: solid 2px #3f474f;}
.game-list .ant-table-thead>tr>th:last-child{border:none;}
.game-list .ant-table-tbody>tr>td{border:none;color:#fff;padding:5px 8px;text-align: left;}
.game-list .ant-table-tbody>tr>td.fn-text-right{text-align: right;}
.game-list .ant-table-tbody>tr>td .betnum{width:120px;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.game-list .ant-table-tbody>tr:first-child>td{padding-top:10px;}
.game-list .ant-table-tbody>tr.ant-table-row-hover, .game-list .ant-table-tbody>tr:hover{background:#2b333b;}
.game-list ul.nums li{display: inline-block;background:#555454;width:18px;height: 18px;text-align: center;border-radius: 100%;margin: 0px 1px;}
.game-list .ant-table-placeholder{background:none;border-bottom:none;height: 200px;line-height: 200px;color:#fff;}
.game-list .ant-table-footer{background: none;}
.game-list .footer{ position: absolute;bottom: 0px;padding:5px 10px;width:100%; }
.game-list .footer a, .game-list .ant-table-footer a{color:#fff;font-size: 12px;}
.ant-table-tbody>tr>td label.zhui{display:inline-block;text-align: center;font-size:12px;line-height: 16px;width:16px;background:#0085ed; color:#fff;border-radius: 20%;margin-left: 3px;}
.ant-table-tbody>tr>td label.zhui:after{content:"追";}
/*-- end game list --*/

/*-- begin game amount --*/
.game-amount{width:400px;height:63px;line-height: 63px;padding:0px 10px;border-radius: 5px;margin-top: 5px;background: #1a2027;}
.game-amount b{color:#d12031;min-width: 65px;display: inline-block;text-align: center;padding:0px 10px;}
.game-amount span{margin:0px 20px;border-right: 1.5px solid #414243;}
/*-- end game amount --*/

/*-- begin game submit panel --*/
.game-submit{margin-top: 4px;}
.game-submit .submit{float: left;width:250px;height: 126px;font-size: 30px;border:none;border-radius: 10px;}
.game-submit .submit.disabled, .game-submit .submit.disabled.active, .game-submit .submit.disabled:active, .game-submit .submit.disabled:focus, .game-submit .submit.disabled:hover, .game-submit .submit[disabled], .game-submit .submit[disabled].active, .game-submit .submit[disabled]:active, .game-submit .submit[disabled]:focus, .game-submit .submit[disabled]:hover{background: #39424a;color:#999;}
.game-submit .group{margin-left: 4px;display: inline-block;}
.game-submit .group button{background: #303c47;color:#fff;display: block;border:none;height: 63px;width: 145px;font-size: 21px;}
.game-submit .group button.active{background:#077bd6;}
.game-submit .group button[disabled]:hover{background:#303c47;color:#fff;}
.game-submit .group button:first-child{border-radius: 10px 10px 0px 0px;}
.game-submit .group button:last-child{border-radius: 0px 0px 10px 10px;}
/*-- end game submit panel --*/


/*-- 密码/安全密码 --*/

/*-- 银行卡管理 --*/
.bank-card-list{margin-top: 30px;}
.bank-card-list .ant-card{width:270px;display: inline-block;margin:10px 20px 10px 0px;border-radius: 0;}
.bank-card-list .ant-card-head-title{font-weight: 500;}
.bank-card-list .ant-card-head-title i{margin-right: 5px;}
.bank-card-list .ant-card-body {font-weight: 300;}
.bank-card-list .ant-card-body b{width:60px;font-weight: 400;display: inline-block;}

/*-- Profile --*/
.profile-info {padding:50px 0px;}
.profile-info-avatar{ background: #b2b3b4; width: 106px;height: 106px;display: inline-block;float:left; border-radius: 50%; margin-right: 35px; }
.profile-info p{color: #666;font-size: 14px;line-height: 20px;padding:5px 0px;font-weight: 500;}
.profile-info dl{width:400px;overflow: hidden;font-size: 12px;line-height: 22px;color:rgba(0, 0, 0, 0.65);}
.profile-info dt{width:80px;font-size: 12px;font-weight: 500; float: left; color:#6a6a6a;}
.profile-info dt i{font-size:12px; margin-right: 5px;}
.profile-info dd{width:300px;float: left;color:#8d959e;}

.profile-summary { border-top:1px solid #d8d9da; border-bottom: 1px solid #d8d9da; padding:15px 0px; height: 180px; }
.profile-summary>div, .profile-summary .ant-col-6{height: 100%;text-align: center;}
.profile-summary>.ant-row>.ant-col-6{border-right: solid 1px #dee0e1;}
.profile-summary h3{font-size: 34px;color:#0a7dd8;line-height: 99px;}
.profile-summary p{font-size: 20px;color:#9d9d9d;}
.profile-summary .ant-col-6>.ant-row{height: 50%;border-bottom: 1px solid #d8d9da;}
.profile-summary .ant-col-6>.ant-row>.ant-col-6{width: 50%;line-height: 70px;}
.profile-summary .ant-col-6:last-child,.profile-summary .ant-col-6>.ant-row:last-child{border:none;}
.profile-summary .ant-col-6 .ant-col-6{font-size: 14px;}
.profile-summary .ant-col-6 b{color:#0a7dd8;}

.profile-lastlogin{padding:50px;}
.profile-lastlogin li{font-size: 14px;line-height: 30px;}
.profile-lastlogin li label{width:100px;display: inline-block;font-size:14px;font-weight: 400;}


/* game trend start */
.game-trend-body {background-color: #ffffff;min-height: 930px;padding: 10px;color:#fff; position: relative;}
.game-trend-body .ant-spin-nested-loading .ant-spin { position: inherit;}
.game-trend-body-gametype {font-size: 20px;font-weight: bold;color: #7b7b7b;display: flex;}
.game-trend-body-gametype ul{padding-left: 30px;}
.game-trend-body-gametype li{float: left;min-width:50px;text-align:center;font-size: 14px;height: 40px;line-height: 38px;margin:0px 5px;font-weight: 700;cursor: pointer;}
.game-trend-body-gametype ul>li a{padding:3px 6px;color:#0076ff;font-weight: 500;}
.game-trend-body-gametype ul>li.active a,.game-trend-body-gametype ul>li:hover a{border:solid 1px #0085ed;background:#0076ff; border-radius: 6px;padding:3px 6px;color: #dde8ff;}
.game-trend-body-gametype label{font-size: 20px;border-left:solid 5px #138eee;}
.game-trend-body-trendtype {font-size: 20px;font-weight: bold;color:#39424a;padding:15px 6px 6px 0px;float:left;width:100%;}
.game-trend-body-trendtype label{float: left;font-size: 17px;}
.game-trend-body-trendtype .ant-checkbox-group {float: left;padding-left: 30px;}
.game-trend-body-trendtype .ant-checkbox-group span{font-size: 15px;}
.game-trend-body-gametype-query {float: left;}
.game-trend-body-gametype-query ul{letter-spacing: -1px;word-spacing: -1px;}
.game-trend-body-gametype-query li{float: left;min-width:50px;text-align:center;font-size: 14px;height: 40px;line-height: 38px;font-weight: 700;cursor: pointer;}
.game-trend-body-gametype-query ul>li a{color:#0076ff;font-weight: 500;padding: 0px 10px;}
.game-trend-body-gametype-query ul>li.active a,.game-trend-body-gametype-query ul>li:hover a{border:solid 1px #0085ed;background:#0076ff; border-radius: 6px;color: #dde8ff;padding: 0px 10px;}
.game-trend-body-gametype-queryform {float: right;}
.game-trend-body-gametype-queryform .ant-calendar-picker {padding-right: 30px;}
.game-trend-body-gametype-queryform .ant-btn-primary {background-color: #0076ff;}
.game-trend-body-gametype-queryform .ant-btn-primary:focus, .ant-btn-primary:hover {background-color: #0076ff;}
.game-trend-body-gametype-table { color: #39424a;background-color: #ffffff;margin-top: 104px;text-align: center; position: relative;}
.game-trend-body-gametype-table thead>tr>th{ text-align: center;background-color: #f7f7f7;}
.game-trend-body-gametype-table .ant-table-bordered .ant-table-tbody>tr>td{border-right: 1px solid #e7e7e7; }
.game-trend-body-gametype-table .ant-table-tbody>tr>td{ padding: 5px; width:40px; height: 30px;}
.game-trend-body-gametype-table tbody>tr>td:nth-child(2){text-align: center;color: red;}
.game-trend-body-gametype-table tbody>tr>td:nth-of-type(n+3){text-align: center;background-color: #FCF8F3;}
.game-trend-body-gametype-table tbody>tr>td:nth-of-type(n+13){text-align: center;background-color: #F0F9FC;}
.game-trend-body-gametype-table tbody>tr>td:nth-of-type(n+23){text-align: center;background-color: #F0FCF0;}
.game-trend-body-gametype-table tbody>tr>td:nth-of-type(n+33){text-align: center;background-color: #F0F1FC;}
.game-trend-body-gametype-table tbody>tr>td:nth-of-type(n+43){text-align: center;background-color: #F0FCF7;}
.game-trend-body-gametype-table tbody>tr>td:nth-of-type(n+53){text-align: center;background-color: #FCF0F5;}
.game-trend-body-gametype-table tbody>tr>td:nth-of-type(n+63){text-align: center;background-color: #FCF8F3;}
.game-trend-body-gametype-table tbody>tr>td:nth-of-type(n+73){text-align: center;background-color: #F0F1FC;}
.game-trend-body-gametype-table tbody>tr>td:nth-of-type(n+83){text-align: center;background-color: #F0FCF0;}
.game-trend-body-gametype-table tbody>tr>td:nth-of-type(n+93){text-align: center;background-color: #FFFFFF;}
.game-trend-body-gametype-table-row { text-align: center;background-color: red;}
.game-trend-body-gametype-table-hot-1  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(251, 167, 94); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-hot-2  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(31, 166, 232); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-hot-3  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(8, 191, 2); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-hot-4  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(133, 133, 251); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-hot-5  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(70, 189, 149); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-hot-6  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(226, 107, 171); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-hot-7  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(242, 182, 83); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-hot-8  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(98, 142, 243); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-hot-9  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(94, 198, 66); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-hot-10  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(246, 109, 109); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-footertable { color: #39424a;background-color: #ffffff;text-align: center;}
.game-trend-body-gametype-footertable thead>tr>th{text-align: center;background-color: #f7f7f7;}
.game-trend-body-gametype-footertable .ant-table-bordered .ant-table-tbody>tr>td{border-right: 1px solid #e7e7e7;}
.game-trend-body-gametype-footertable .ant-table-tbody>tr>td{ padding: 5px; width:40px;height: 30px;}
.game-trend-body-gametype-table-20 { color: #39424a;background-color: #ffffff;margin-top: 104px;text-align: center; position: relative;}
.game-trend-body-gametype-table-20 thead>tr>th{ text-align: center;background-color: #f7f7f7;}
.game-trend-body-gametype-table-20 .ant-table-bordered .ant-table-tbody>tr>td{border-right: 1px solid #e7e7e7; }
.game-trend-body-gametype-table-20 .ant-table-tbody>tr>td{ padding: 5px; width:40px;height: 30px;}
.game-trend-body-gametype-table-20 tbody>tr>td:nth-child(2){text-align: center;color: red;}
.game-trend-body-gametype-table-20 tbody>tr>td:nth-of-type(n+3){text-align: center;background-color: #FCF8F3;}
.game-trend-body-gametype-table-20 tbody>tr>td:nth-of-type(n+23){text-align: center;background-color: #F0F9FC;}
.game-trend-body-gametype-table-20 tbody>tr>td:nth-of-type(n+43){text-align: center;background-color: #F0FCF0;}
.game-trend-body-gametype-table-20 tbody>tr>td:nth-of-type(n+63){text-align: center;background-color: #F0F1FC;}
.game-trend-body-gametype-table-20 tbody>tr>td:nth-of-type(n+83){text-align: center;background-color: #F0FCF7;}
.game-trend-body-gametype-table-20 tbody>tr>td:nth-of-type(n+103){text-align: center;background-color: #FCF0F5;}
.game-trend-body-gametype-table-20 tbody>tr>td:nth-of-type(n+123){text-align: center;background-color: #FCF8F3;}
.game-trend-body-gametype-table-20 tbody>tr>td:nth-of-type(n+143){text-align: center;background-color: #F0F1FC;}
.game-trend-body-gametype-table-20 tbody>tr>td:nth-of-type(n+163){text-align: center;background-color: #F0FCF0;}
.game-trend-body-gametype-table-20-row { text-align: center;background-color: red;}
.game-trend-body-gametype-table-20-hot-1  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(251, 167, 94); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-20-hot-2  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(31, 166, 232); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-20-hot-3  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(8, 191, 2); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-20-hot-4  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(133, 133, 251); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-20-hot-5  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(70, 189, 149); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-20-hot-6  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(226, 107, 171); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-20-hot-7  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(242, 182, 83); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-20-hot-8  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(98, 142, 243); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-20-hot-9  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(94, 198, 66); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-20-hot-10  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(246, 109, 109); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-footertable-20 { color: #39424a;background-color: #ffffff;text-align: center;}
.game-trend-body-gametype-footertable-20 thead>tr>th{text-align: center;background-color: #f7f7f7;}
.game-trend-body-gametype-footertable-20 .ant-table-bordered .ant-table-tbody>tr>td, .ant-table-bordered .ant-table-thead>tr>th{border-right: 1px solid #e7e7e7;}
.game-trend-body-gametype-footertable-20 .ant-table-tbody>tr>td{ padding: 5px; width:40px;height: 30px;}
.game-trend-body-gametype-table-80 { color: #39424a;background-color: #ffffff;margin-top: 104px;text-align: center; position: relative;}
.game-trend-body-gametype-table-80 thead>tr>th{ text-align: center;background-color: #f7f7f7;}
.game-trend-body-gametype-table-80 .ant-table-bordered .ant-table-tbody>tr>td{border-right: 1px solid #e7e7e7; }
.game-trend-body-gametype-table-80 .ant-table-tbody>tr>td{ padding: 5px; width:40px;height: 30px;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-child(2){text-align: center;color: red;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+3){text-align: center;background-color: #FCF8F3;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+83){text-align: center;background-color: #F0F9FC;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+163){text-align: center;background-color: #F0FCF0;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+243){text-align: center;background-color: #F0F1FC;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+323){text-align: center;background-color: #F0FCF7;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+403){text-align: center;background-color: #FCF0F5;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+483){text-align: center;background-color: #FCF8F3;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+563){text-align: center;background-color: #F0F1FC;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+643){text-align: center;background-color: #F0BBFF;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+723){text-align: center;background-color: #AAFFEE;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+803){text-align: center;background-color: #FFB3FF;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+883){text-align: center;background-color: #FF8888;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+963){text-align: center;background-color: #FFDDAA;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+1043){text-align: center;background-color: #CCFF99;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+1123){text-align: center;background-color: #FFB6C1;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+1203){text-align: center;background-color: #E6E6FA;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+1283){text-align: center;background-color: #FAEBD7;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+1363){text-align: center;background-color: #F0E68C;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+1443){text-align: center;background-color: #87CECB;}
.game-trend-body-gametype-table-80 tbody>tr>td:nth-of-type(n+1523){text-align: center;background-color: #D3D3D3;}
.game-trend-body-gametype-table-80-row { text-align: center;background-color: red;}
.game-trend-body-gametype-table-80-hot-1  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(251, 167, 94); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-2  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(31, 166, 232); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-3  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(8, 191, 2); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-4  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(133, 133, 251); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-5  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(70, 189, 149); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-6  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(226, 107, 171); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-7  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(242, 182, 83); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-8  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(98, 142, 243); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-9  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(94, 198, 66); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-10  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: rgb(246, 109, 109); color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-11  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: #BF3EFF; color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-12  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: #8B3A3A; color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-13  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: #CDAD00; color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-14  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: #CD661D; color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-15  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: #CD4F39; color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-16  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: #C5C1AA; color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-17  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: #B22222; color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-18  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: #FFD700; color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-19  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: #FF4500; color: #FFFFFF; position: relative;}
.game-trend-body-gametype-table-80-hot-20  { border-radius: 50%; height: 20px; line-height: 20px; width: 20px; display: inline-block; background: #FF34B3; color: #FFFFFF; position: relative;}
.game-trend-body-gametype-footertable-80 { color: #39424a;background-color: #ffffff;text-align: center;}
.game-trend-body-gametype-footertable-80 thead>tr>th{text-align: center;background-color: #f7f7f7;}
.game-trend-body-gametype-footertable-80 .ant-table-bordered .ant-table-tbody>tr>td{border-right: 1px solid #e7e7e7;}
.game-trend-body-gametype-footertable-80 .ant-table-tbody>tr>td .ant-table-thead>tr>th { padding: 5px; width:40px;height: 30px;}
/* game trend end*/


/* Deposit start */
.deposit-ips-body-confirm { display: none ;width: 50%; margin: auto;}
.deposit-ips-body-confirm-button { background: #108ee9;width: 200px; height: 35px; color: #FFF; border-radius: 4px;}
.deposit-ips-body-confirm-button:hover { background: #1e86de; }
.deposit-thirdpartypayment-body { width: 50%; margin: auto;margin-top: 50px;}
.deposit-thirdpartypayment-button-alipay { background: #108ee9; width: 110px; height: 35px; color: #FFF; }
.deposit-thirdpartypayment-button-alipay:hover { background: #0076ff; }
.deposit-thirdpartypayment-button-wechat { background: #43b222; margin-right: 13px; width: 110px; height: 35px; color: #FFF;}
.deposit-thirdpartypayment-button-wechat:hover { background: #339933; }
.deposit-thirdpartypayment-qrcode {background-image: url(../images/payment/QRCode_bg.png); background-repeat: no-repeat; width: 232px; height: 254px;padding: 18px;margin-bottom:52px;margin-top: 30px; display: none;}
/* Deposit end */

/* Bank start */
.bank-add ul>li{float: left; padding-right: 10px;}
/* Bank end  */

/* mark down start*/
.markdown-body{}
/* mark down start*/