@import '~antd/dist/antd.less';

@background-color: #ffffff;
@text-color: #1A237E;
@width: 1000px;
@margin: auto;
@text-align: center;

body {
  background-color: @background-color;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.HomeIndex {
  width: @width;
  margin: @margin;
  text-align: @text-align;
  padding-top: 300px;
  h1 {
    margin-bottom: 50px;
    color: gray;
  }
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  button:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 7px 27px 0 rgba(0, 0, 0, 0.19);
  }
}

.TableMap {
  table, th, td {
    width: @width;
    margin: @margin;
    border: 1px solid lightgrey;
    border-collapse: collapse;
    padding: 10px;
  }
  table th {
    background-color: #4CAF50;
    color: white;
  }
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  table tr:hover {
    background-color: #ddd;
  }
}

.PaginTable {
  padding: 30px;
  .br {
    border: none;
  }

  table {
    width: 50%;
  }
  table, th, td {
    margin: @margin;
    border: 1px solid lightgrey;
    border-collapse: collapse;
  }
  table th {
    background-color: #4CAF50;
    color: white;
  }
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  table tr:hover {
    background-color: #ddd;
  }
}

.AntTable{
  width: 60%;
  margin: @margin;
  padding-top: 50px;
  .select_sty{
    padding-bottom: 20px;
  }
  .select_sty .ant-select{
    margin-right: 10px;
    width: 150px;
  }
}


