body {
    margin: 0;
    background-color: #eee !important;
}

.App {
    width: 100%;
    max-width: 1025px;
    margin: auto;
}

.App a {
    color: #878787;
}

#backToTop {
    position: fixed;
    bottom: 7rem;
    right: 2rem;
    cursor: pointer;
    display: none;
    color: #fff;
    background: #313131b0;
    border-radius: 10px;
    z-index: 100;
}

#backToTop, .btn-lg {
    padding: 11px 16px;
    font-size: 15px;
}

.winHeight {
    height: 100vh !important;
}

#Splash {
    background: url(./images/m1.jpg) no-repeat;
    background-size: cover;
    background-position: 28%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

#Splash h1 {
    margin: 0;
    color: white;
    text-align: center;
    top: 30%;
    position: relative;
}

#Splash p {
    margin: 0;
    color: white;
    bottom: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    max-width: 1025px;
    padding-bottom: 20px;
}
#Splash .spl_logo{
    text-align: center;
    top: 10%;
    position: absolute;
    width: 100%;
    max-width: 1025px;
}
#Splash .spl_logo img{
    width: 300px;
}

#Splash .loading_icon{
    text-align: center;
    bottom: 15%;
    position: absolute;
    width: 100%;
    max-width: 1025px;
}
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: rgb(233, 30, 99);;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}









#LoginPage {
    background: url(./images/m1.jpg) no-repeat;
    background-size: cover;
    background-position: 13%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    min-height: 650px;

}

@-webkit-keyframes autofill {
    to {
        color: white;
        background: transparent;

    }
}

#LoginPage input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    padding: 40px 0px 0px 0px;
}

#LoginPage #login-form {
    padding: 0px 50px;
}

#LoginPage .forgot-and-create span {
    color: #bbb;
    font-size: 12px;
}
#LoginPage .logo_login{
    padding-top: 20px;
    padding-bottom: 10px;
}
.login-card {
    min-height: 100vh !important;
    height: auto;
    background-image: url('https://raw.githubusercontent.com/selimdoyranli/material-form/master/img/bg.jpg');
    background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -wenkit-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    z-index: 2;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: roboto !important;
}

.login-card:after {
    background: -webkit-linear-gradient(225deg, rgb(63, 81, 181), rgb(233, 30, 99));
    background: -o-linear-gradient(225deg, rgb(63, 81, 181), rgb(233, 30, 99));
    background: linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99)); /* Login Card Arkaplan Rengi */
    background: -webkit-linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99)); /* Login Card Arkaplan Rengi */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.8;
    z-index: 3;
}

.login-card > form {
    z-index: 4;
    position: relative;
    padding: 0px 10px;
    width: 100%;
}

.logo-kapsul {
    text-align: center;
    position: relative;
    opacity: 0.8;
    -moz-user-select: none;
}

.logo {
    height: auto;
    padding: 50px 0px;
    pointer-events: none;
    -moz-user-select: none;

}

.group {
    position: relative;
    margin-bottom: 45px;
}

.group input {
    font-size: 18px;
    padding: 10px 0px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: none;
    color: #eee;
}

.group input:focus {
    outline: none;
}

.group label {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active durum */
.group input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active durum bar */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 0%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active durum */
.group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* form animasyon ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: rgba(255, 255, 255, 0.7);
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: rgba(255, 255, 255, 0.7);
    }
    to {
        width: 0;
        background: transparent;
    }
}

.input-ikon {
    font-size: 25px !important;
    position: relative;
}

.input-sifre-ikon {
    font-size: 22px !important;
    position: relative;
}

.span-input {
    margin-left: 10px;
    position: relative;
    top: -5px;
}

.giris-yap-buton, .kayit-ol-buton, .sifre-hatirlat-buton {
    background: -webkit-linear-gradient(225deg, rgb(63, 81, 181), rgb(233, 30, 99));
    background: -o-linear-gradient(225deg, rgb(63, 81, 181), rgb(233, 30, 99));
    background: linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99));
    background: -webkit-linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99));
    display: block;
    text-align: center;
    text-decoration: none;
    color: #eee;
    font-family: roboto;
    font-weight: 100;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    opacity: 0.8;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    outline: none !important;
}

.giris-yap-buton:hover, .kayit-ol-buton:hover, .sifre-hatirlat-buton:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.forgot-and-create {
    margin: 20px 0px;
    text-align: center;
}

.forgot_pandding {
    padding-bottom: 45px;
}

.forgot-and-create a {
    color: rgb(233, 30, 99);
    font-size: 14px;
    text-decoration: none;
    font-weight: 100;
    margin-right: 10px;
    font-weight: bold;
}

.zaten-hesap-var-link {
    color: #bbb;
    font-size: 14px;
    padding: 20px 0px;
    text-decoration: none;
    display: block;
}

#SingupPage {
    background: url(./images/m1.jpg) no-repeat;
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    min-height: 650px;

}

#SingupPage input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    padding: 40px 0px 0px 0px;
}

#SingupPage #login-form {
    padding: 0px 30px;
}

.sign_sy {
    padding-top: 30px;
    padding-bottom: 30px;
}
#SingupPage h3 {
    margin: 0;
    color: rgb(233, 30, 99);
    padding: 20px;
    width: 80%;
    float: left;
    font-weight: 400;
}
.sing_i{
    color: #666;
    float: right;
    font-size: 28px;
    width: 20%;
    padding: 20px ;
    text-align: right;
}


.sign_btn2 {
    padding-bottom: 57px;
}



#Menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1025px;
    z-index: 1;
}

#Menu nav {
    width: 100%;
    max-width: 1025px;
    background-color: white;
    border-top: 1px solid #dbdbdb;
}

#Menu ul {
    padding: 0;
    margin: 0;
}

#Menu li {
    list-style: none;
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 15px;
}

#Menu i {
    font-size: 20px;
}

#Menu a:hover {
    color: #878787;
}

ul.nav a {
    cursor: pointer;
}

.active {
    color: rgb(233, 30, 99) !important;
    font-weight: bolder;
}

#Menu .nav > li > a {
    padding: 0;
}

#Menu .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

/*
#Menu .sample-screen-list {
    /*background: #eceff1;
    height: 4em;

    border-top: 0.1em solid #ebebeb;
    box-shadow: 0 0.1em 0.4em 0 rgba(0, 0, 0, 0.2);

}

#Menu .sample-screen-list .btn {
    color: #9e9e9e;
    background: #f8f8f8;
    position: relative;
    border: none;
    outline: none;
    height: 4em;
    padding: 2.3em 1em 0.4em;
    width: 33.33%;
    border-radius: 0;
}

#Menu .sample-screen-list .btn i {
    font-size: 1.8em;
}

#Menu .sample-screen-list .btn span {
    display: none;
}

#Menu .sample-screen-list .btn.focus,
.sample-screen-list .btn:active {
    color: #ff8a65;
}

#Menu .sample-screen-list .btn i {
    position: absolute;
    top: 0.85em;
    left: 0;
    width: 100%;
    font-size: 1.4em;
}

#Menu .sample-screen-list .btn span {
    display: block;
    opacity: 0;
}


#Menu .sample-screen-list .btn:hover i,
.sample-screen-list .btn.focus i,
.sample-screen-list .btn:active i {
    top: 0.3em;
    font-size: 1.8em;
}

#Menu .sample-screen-list .btn:hover span,
.sample-screen-list .btn.focus span,
.sample-screen-list .btn:active span {
    opacity: 1;
}

#Menu .sample-screen-list .btn.focus,
.sample-screen-list .btn:active {
    color: #ff8a65;
}*/

#HomePage .am-whitespace.am-whitespace-md {
    height: 0;
}

#HomePage .am-tabs-default-bar {
    border-bottom: 0.1em solid #ebebeb;
}

#HomeContent {
    margin-bottom: 80px;
}

#HomeContent .carousel-control.right {
    background-image: none;
}

#HomeContent .carousel-control.left {
    background-image: none;
}

#HomeContent .carousel-indicators li {
    margin: 0px 10px;
    border: none;
    background-color: #e4e4e4;
}

#HomeContent .carousel-indicators {
    position: initial;
    left: 0;
    margin-left: 0;
    width: 100%;
    margin-top: 5px;
}

#HomeContent .carousel-indicators .active {
    background: #d5d5d5;
}

#HomeContent .carousel-indicators {
    bottom: 0px !important;
}

#HomeContent .carousel-control .glyphicon-chevron-right {
    margin-top: -24px;
}

#HomeContent .carousel-control .glyphicon-chevron-left {
    margin-top: -24px;
}

#HomeContent h4 {
}

#HomeContent .span_home {
    float: right;
    width: 50%;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

#HomeContent .top_01 i {
    padding-left: 5px;
    padding-right: 5px;
}

.am-badge {
    position: absolute !important;
    margin-top: 10px;
}

.am-badge-text {
    height: 22px;
    font-size: 16px;
    line-height: 23px;
}
.am-tabs-default-bar-tab-active{
     color: #e91e63;
 }
.am-tabs-default-bar-underline{
    border: 1px #e91e63 solid;
}
.HomeNew {
    background-color: white;
}

.HomeNew img {
    width: 100%;
}

.HomeNew .card {
    width: 50%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;

    /*
    border-radius:4px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    */
}

.HomeNew .top_01 {
    padding-top: 5px;
}

.HomeNew .top_01 header {
    padding: 0px 5px;
}

.HomeMovie {
    background-color: white;
    margin-top: 20px;
}

.HomeMovie img {
    width: 100%;
}

.HomeMovie .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

.HomeMovie .top_01 {
    padding-top: 5px;
}

.HomeMovie .top_01 header {
    padding: 0px 5px;
}

.HomeTV {
    background-color: white;
    margin-top: 20px;
}

.HomeTV img {
    width: 100%;
}

.HomeTV .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

.HomeTV .top_01 {
    padding-top: 5px;
}

.HomeTV .top_01 header {
    padding: 0px 5px;
}

.HomeShow {
    background-color: white;
    margin-top: 20px;
}

.HomeShow img {
    width: 100%;
}

.HomeShow .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

.HomeShow .top_01 {
    padding-top: 5px;
}

.HomeShow .top_01 header {
    padding: 0px 5px;
}

.TopRate {
    background-color: white;
    margin-top: 20px;
}

.TopRate img {
    width: 100%;
}

.TopRate .card {
    width: 50%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

.TopRate .top_01 {
    padding-top: 5px;
}

.TopRate .top_01 header {
    padding: 0px 5px;
}

#VideoPage {
    padding-bottom: 80px;
}

#VideoPage iframe {
    width: 100%;
    max-width: 1025px;
    height: 400px;
}

#VideoPage .top {
    background-color: white;
}

#VideoPage .title {
    width: 70%;
    float: left;
    padding: 5px 10px;
}

#VideoPage .title p {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 3px;
    margin: 0;
}

#VideoPage .title_content {
    width: 100%;
    padding: 2px 10px;
    float: left;
}

#VideoPage .title_content p {
    font-size: 1em;
}

#VideoPage .arrow_back {
    width: 30%;
    text-align: right;
    padding: 5px 20px;
    float: left;

}

#VideoPage .arrow_back i {
    font-size: 28px;
    color: #d1d1d1;
}

#VideoPage .bottom {
    background-color: white;
}

.VideoSlider {
    margin-top: 20px;
    padding: 10px;
}

.VideoSlider .title_slider p {
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 0px;
    margin: 0;
    width: 60%;
    float: left;
}

.VideoSlider .title_slider span {
    font-size: 0.9em;
    padding: 9px 0px;
    text-align: right;
    margin: 0;
    width: 40%;
    float: left;
    color: #999;
}

.VideoRecom .title_recom p {
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 10px;
    margin: 0;
}

.VideoRecom .recom_sty {
    padding: 5px 10px 10px 10px;

}

.VideoRecom figure {
    margin-bottom: 20px;
}

.VideoRecom figure img {
    width: 50%;
    float: left;
}

.VideoRecom figure figcaption {
    padding: 20px;
    float: left;
    width: 50%;
}

.VideoRecom figure h5 {
    font-size: 2em;
}

#VideoPage01 a {
    color: #878787;
}

#VideoPage a {
    color: #878787;
}

#MoviePage {
    margin-bottom: 80px;
}

#MoviePage h4 {
    width: 70%;
    float: left;
}

#MoviePage .span_home {
    float: right;
    width: 30%;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

#MoviePage .top_01 i {
    padding-left: 5px;
    padding-right: 5px;
}

#MoviePage img {
    width: 100%;
}

#MoviePage .card {
    width: 50%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#MoviePage .top_01 {
    padding-top: 5px;
}

#MoviePage .top_01 header {
    padding: 0px 5px;
}

.ScienceMovie {
    background: white;
}

.HorrorMovie {
    background: white;
    margin-top: 20px;
}

.ActionsMovie {
    background: white;
    margin-top: 20px;
}

.ComedyMovie {
    background: white;
    margin-top: 20px;
}

.HKMovie {
    background: white;
    margin-top: 20px;
}

#TVPage {
    margin-bottom: 80px;
}

#TVPage h4 {
    width: 70%;
    float: left;
}

#TVPage .span_home {
    float: right;
    width: 30%;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

#TVPage .top_01 i {
    padding-left: 5px;
    padding-right: 5px;
}

#TVPage img {
    width: 100%;
}

#TVPage .card {
    width: 50%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#TVPage .top_01 {
    padding-top: 5px;
}

#TVPage .top_01 header {
    padding: 0px 5px;
}

.HKTV {
    background: white;
}

.ChinaTV {
    background: white;
    margin-top: 20px;
}

.KoreanTV {
    background: white;
    margin-top: 20px;
}

.USTV {
    background: white;
    margin-top: 20px;
}

#ShowPage {
    margin-bottom: 80px;
}

#ShowPage h4 {
    width: 70%;
    float: left;
}

#ShowPage .span_home {
    float: right;
    width: 30%;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 10px;
}

#ShowPage .top_01 i {
    padding-left: 5px;
    padding-right: 5px;
}

#ShowPage img {
    width: 100%;
}

#ShowPage .card {
    width: 50%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#ShowPage .top_01 {
    padding-top: 5px;
}

#ShowPage .top_01 header {
    padding: 0px 5px;
}

.Reality {
    background: white;
}

.Musical {
    background: white;
    margin-top: 20px;
}

.Award {
    background: white;
    margin-top: 20px;
}

#TitleMenu header {
    height: 43.5px;
    background: white;
    border-bottom: 0.1em solid #ddd;
    position: fixed;
    width: 100%;
    max-width: 1025px;
}

#TitleMenu h5 {
    font-size: 15px;
    margin: 0;
    padding: 14px 15px;
    text-align: right;
    width: 80%;
    float: left;
    font-weight: 600;
}

#TitleMenu .arrow_back {
    width: 20%;
    text-align: left;
    padding: 5px 15px;
    float: left;
    font-size: 28px;
    color: #d1d1d1;
}

#Science {
    background-color: white;
    margin-bottom: 80px;
}

#Science img {
    width: 100%;
}

#Science .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#Science .top_01 {
    padding-top: 60px;
}

#Science .top_01 header {
    padding: 0px 5px;
}

#Horror {
    background-color: white;
    margin-bottom: 80px;
}

#Horror img {
    width: 100%;
}

#Horror .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#Horror .top_01 {
    padding-top: 60px;
}

#Horror .top_01 header {
    padding: 0px 5px;
}

#Action {
    background-color: white;
    margin-bottom: 80px;
}

#Action img {
    width: 100%;
}

#Action .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#Action .top_01 {
    padding-top: 60px;
}

#Action .top_01 header {
    padding: 0px 5px;
}

#Comedy {
    background-color: white;
    margin-bottom: 80px;
}

#Comedy img {
    width: 100%;
}

#Comedy .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#Comedy .top_01 {
    padding-top: 60px;
}

#Comedy .top_01 header {
    padding: 0px 5px;
}

#HK {
    background-color: white;
    margin-bottom: 80px;
}

#HK img {
    width: 100%;
}

#HK .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#HK .top_01 {
    padding-top: 60px;
}

#HK .top_01 header {
    padding: 0px 5px;
}

#TVB {
    background-color: white;
    margin-bottom: 80px;
}

#TVB img {
    width: 100%;
}

#TVB .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#TVB .top_01 {
    padding-top: 60px;
}

#TVB .top_01 header {
    padding: 0px 5px;
}

#Chinese {
    background-color: white;
    margin-bottom: 80px;
}

#Chinese img {
    width: 100%;
}

#Chinese .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#Chinese .top_01 {
    padding-top: 60px;
}

#Chinese .top_01 header {
    padding: 0px 5px;
}

#Korean {
    background-color: white;
    margin-bottom: 80px;
}

#Korean img {
    width: 100%;
}

#Korean .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#Korean .top_01 {
    padding-top: 60px;
}

#Korean .top_01 header {
    padding: 0px 5px;
}

#Western {
    background-color: white;
    margin-bottom: 80px;
}

#Western img {
    width: 100%;
}

#Western .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#Western .top_01 {
    padding-top: 60px;
}

#Western .top_01 header {
    padding: 0px 5px;
}

#RealityView {
    background-color: white;
    margin-bottom: 80px;
}

#RealityView img {
    width: 100%;
}

#RealityView .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#RealityView .top_01 {
    padding-top: 60px;
}

#RealityView .top_01 header {
    padding: 0px 5px;
}

#MusicalView {
    background-color: white;
    margin-bottom: 80px;
}

#MusicalView img {
    width: 100%;
}

#MusicalView .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#MusicalView .top_01 {
    padding-top: 60px;
}

#MusicalView .top_01 header {
    padding: 0px 5px;
}

#AwardView {
    background-color: white;
    margin-bottom: 80px;
}

#AwardView img {
    width: 100%;
}

#AwardView .card {
    width: 33.33%;
    float: left;
    background-color: #FFFFFF;
    padding: 0px 3px;
}

#AwardView .top_01 {
    padding-top: 60px;
}

#AwardView .top_01 header {
    padding: 0px 5px;
}

#Profile header {
    background-color: white;

}
#Profile a:focus{
    outline: none;
}
#Profile a:focus{
    color: #e91e63;
}
#Profile a:hover{
    color: #e91e63;
}
#Profile a:active{
    color: #e91e63;
}
#Profile .btn-default{
    color: #fff;
    background-color: #e91e63;
    border-color: #fff;
}
#Profile .btn{
    padding: 6px 30px;
}

#Profile header h4 {
    margin: 0;
    text-align: center;
    padding: 20px;
}

#Profile .icon_user {
    text-align: center;
    font-size: 40px;
    color: #ddd;
}

#Profile header h5 {
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
    color: #6a6a6a;
}

#Profile .bottom {

}

#Profile .bottom .grid_sty {
    width: 50%;
    float: left;
    padding: 20px;
    border: 1px solid #eee;
}

#Profile .grid_sty i {
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: #6a6a6a;
}

#Profile .grid_sty .sp_sty {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

#Profile input[type="text"] {
    font-size: 1em;
    color: #777;
    background: transparent;
    border: none;
    border-bottom: 1px solid #bfbfbf;
    outline: none;
    cursor: pointer;
    padding: .6em 1em;
    -webkit-appearance: none;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    margin-bottom: 30px;
}

#Profile input[type="password"] {
    font-size: 1em;
    color: #777;
    background: transparent;
    border: none;
    border-bottom: 1px solid #bfbfbf;
    outline: none;
    cursor: pointer;
    padding: .6em 1em;
    -webkit-appearance: none;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    margin-bottom: 30px;
}

.modal_sty input[type="text"] {
    font-size: 1em;
    color: #777;
    background: transparent;
    border: none;
    border-bottom: 1px solid #bfbfbf;
    outline: none;
    cursor: pointer;
    padding: .6em 1em;
    -webkit-appearance: none;
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    margin-bottom: 10px !important;
}

.modal_sty .form-group {
    margin-bottom: 0px;
}

.modal_sty {
    padding: 15px 15px 0px 15px !important;
}

#Profile .text_sty {
    width: 100%;
    padding: 10px;
    color: #777;
    border: 1px solid #e1e1e1;
}

#Profile {
    margin-bottom: 200px;
}

@-webkit-keyframes autofill {
    to {
        color: #777;
        background: transparent;
    }
}

#Profile input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

#Profile .am-button {
    border-radius: 0;
    text-align: left;
    padding-left: 20px;
    height: 55px;
    line-height: 55px;
    margin-top: 20px;
}

#Profile .btn_w {
    width: 50%;
    float: left;
}

#Profile .float_i {
    width: 50%;
    text-align: right;
    padding-right: 20px;
}

#Profile .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #eee;
    overflow-y: hidden;
    transition: 0.5s;
    max-width: 1025px;
}

#Profile .overlay-content {
    top: 25%;
    width: 100%;
    text-align: center;
    /* position: relative;*/

}

#Profile .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#Profile .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

#Profile .overlay .closebtn {
    position: absolute;
    font-size: 28px;
    padding: 5px 15px;
    color: #d1d1d1;
}

#Profile .h4_sty header {
    background-color: white;

}

#Profile .h4_sty h4 {
    font-size: 15px;
    margin: 0;
    padding: 14px 15px;
    text-align: right;
    font-weight: 600;
    border-bottom: 1px solid #ddd;

}

#Profile .his_i {
    font-size: 4em;
    top: 40%;
    width: 100%;
    position: absolute;
}

#Profile .his_i i {
    color: #ccc;
}

#Profile .his_i h5 {
    color: #b6b6b6;
    font-weight: bold;
}

#Profile .h4_sty2 header {
    background-color: white;

}

#Profile .h4_sty2 h4 {
    font-size: 15px;
    margin: 0;
    padding: 14px 15px;
    text-align: right;
    font-weight: 600;
    border-bottom: 1px solid #ddd;

}

#Profile .his_i2 {
    font-size: 4em;
    top: 40%;
    width: 100%;
    position: absolute;
}

#Profile .his_i2 i {
    color: #ccc;
}

#Profile .his_i2 h5 {
    color: #b6b6b6;
    font-weight: bold;
}




.list-item {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    /* background-color: #03a9f4; */
}

.list-item:last-child {
    margin-bottom: 0;
}

.transition-wrapper {
    position: relative;
    z-index: 1;
}

.transition-wrapper .transition-item {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.detail-page {
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
    height: 100vh;
    /* background-color: #03a9f4; */
    transition: transform 0.5s, opacity 0.5s;
}

.detail-page.transition-appear {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.detail-page.transition-appear.transition-appear-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.detail-page.transition-leave.transition-leave-active {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}











@media screen and (max-width: 600px) {
    .VideoSlider .item h4 {
        font-size: 0.8em;
    }

    .VideoRecom figure {
        margin-bottom: 15px;
    }

    .VideoRecom figure h5 {
        font-size: 1.5em;
    }

    #VideoPage iframe {
        height: 250px;
    }
    #Splash .spl_logo img{
        width: 250px;
    }
}

@media screen and (max-width: 500px) {
    .am-badge-text {
        margin-left: 6px !important;
        margin-top: -5px;
        font-size: 12px !important;
        line-height: 18px !important;
        height: 18px;
    }

    .VideoRecom figure h5 {
        font-size: 1.2em;
    }
}

/*
@media screen and (max-height: 450px) {
    #Profile .overlay {overflow-y: auto;}
    #Profile .overlay a {font-size: 20px}
    #Profile .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

*/
