.form {
    /*background: rgba(19, 35, 47, 0.9);*/
    
    padding: 35px;
    position: absolute;
    margin-top: 40px;
    width: 100%;
    /*box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);*/
}
.form h1 {
    color: #777;
}
.input_style input {
    height: 150px;
    font-size: 18px;
    width: 50%;
}
.field-wrap span {
    background: lightgray;
}
.input_width input {
    height: 40px;
    /*font-size:15px;
	width:50%;*/
}
.input_style li {
    color: #777;
    float: left;
    /*width:50%;*/
    
    text-align: left;
    line-height: 2;
}
.textarea_style textarea {
    /*width:50%;*/
    
    font-size: 15px;
}
.text_style {
    font-size: 13px;
    padding-bottom: 40px;
    color: #15a4cc;
    text-align: center;
}
.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
.tab-group li a:hover {
    background: #b43131;
    color: white;
}
.tab-group .active a {
    background: #c83636;
    color: white;
}
.tab-content > div:last-child {
    display: none;
}
.field-wrap {
    position: relative;
    margin-bottom: 35px;
}
.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}
.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    /*font-size: 2rem;
 text-transform: uppercase;*/
    
    letter-spacing: 0.1em;
    background: rgba(0, 168, 84, 0.83);
    color: white;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover,
.button:focus {
    background: #b43131;
}
.button-block {
    display: block;
    width: 70%;
}
.forgot {
    margin-top: 20px;
    text-align: right;
}
/* MANGA STUFF */

#otherPages {
    margin: 5% 2%;
}
#manga-area {
    margin: 15px 10px;
}
/* TABLE STYLE */

.manga-panel {
    background-color: Gray;
    opacity: 0.9;
    margin: 5%;
}
.thumbnail {
    width: 150px;
}
.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
    border: none;
}
.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #fff;
}
.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #f0f0f0;
}
.tg .tg-yw4l {
    vertical-align: top;
}
@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }
    .tg col {
        width: auto !important;
    }
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
.figure_style img {
    width: 160px;
}
.figure_style {
    padding-bottom: 40px;
    text-align: center;
}
.figure_style2 {
    margin-top: 80px;
}
.lineHeight_style3 {
    text-align: right;
    line-height: 2.5;
    margin-top: -40px;
}
.lineHeight_style4 {
    text-align: right;
    line-height: 2.5;
    margin-top: -39px;
    font-size: 20px;
    color: limegreen;
}
.form_margin {
    margin-top: 50px;
}
.button_margintop {
    margin-top: 30px;
}
.security_style input {
    height: 60px;
    text-align: center;
    font-size: 20px;
}
.security_style2 input {
    height: 60px;
    margin-top: 80px;
    font-size: 20px;
}
.select_style {
    width: 100% !important;
    height: 40px;
}
.select_margin {
    margin-bottom: 50px;
}
.select_style .ant-select-selection--single {
    height: 40px;
}
.select_style .ant-select-selection__rendered {
    line-height: 40px;
}
.select_margin .ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
    color: rgba(119, 119, 119, 0.79);
    font-size: 15px;
    ;
}
.date_style {
    float: right;
    margin-bottom: 30px;
}
.date_textstyle ul {
    float: left;
}
.date_textstyle li {
    padding: 2px 0px 25px 0px;
}
.radio_style {
    float: right;
    width: 90%;
    text-align: right;
}
.radio_style .ant-radio-wrapper {
    margin-right: auto;
}
.table_style .ant-table {
    overflow: initial;
}
.table_style .ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
    word-break: inherit;
    text-align: center;
}
.table_style {
    margin-top: 30px;
}
.table_style .ant-table-thead th,
td {
    border: 0.8px solid rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 346px) and (min-width: 320px) {
    .lineHeight_style3 {
        display: list-item;
        width: 50%;
        float: right;
        margin-top: -30px;
        text-align: right;
        line-height: 1.5;
    }
}
/*
 CSS for the main interaction
*/

.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}
.tabset .tab-panel {
    display: none;
}
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}
/*
 Styling
*/

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 20px 40px 20px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}
.tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    /*width: 20px;*/
    
    height: 3px;
    background: #8d8d8d;
}
.tabset > label:hover,
.tabset > input:focus + label {
    color: #06c;
}
.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #06c;
}
.tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}
.tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
/*
 Demo purposes only
*/

*,
*:before,
*:after {
    box-sizing: border-box;
}
.tabset {
    /*max-width: 65em;*/
    
    text-align: center;
}
@media screen and (max-width: 800px) and (min-width: 320px) {
    .tabset > label {
        padding: 8px 16px 8px;
        font-size: 12px;
    }
}
.table {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2rem 0rem 0rem 0rem;
    max-width: 1100px;
}
.table-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    padding: 0.7em 0.5em;
    overflow: hidden;
    list-style-type: none;
    outline: 1px solid #ddd;
    text-align: center;
    font-weight: 300;
    margin-top: 1px;
    margin-left: 1px;
}
.table-cell > h3 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 3rem;
}
.table-cell.cell-feature {
    text-align: left;
}
.table-cell.plattform {
    color: limegreen;
}
.table-cell.plattform a.btn {
    color: limegreen;
}
.table-cell.plattform a.btn:hover {
    background-color: limegreen;
    border-color: limegreen;
    color: white;
}
.table-cell.enterprise {
    background-color: #30305b;
    color: #85bafc;
}
.table-cell.enterprise a.btn {
    color: #85bafc;
}
.table-cell.enterprise a.btn:hover {
    background-color: #85bafc;
    border-color: #85bafc;
    color: #30305b;
}
/* Table columns
================================== */

.table-cell {
    width: calc(50% - 1px);
}
@media only screen and (max-width: 768px) {
    .table-cell.cell-feature {
        width: 100%;
        text-align: center;
    }
}
svg.enterprise-check path {
    fill: #30305b !important;
}
a.btn {
    border: 2px solid;
    padding: .6rem .9rem .6rem .9rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    border-radius: 0.3rem;
}


//////////*new*////////


#tab h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

#tab p {
  margin: 0 0 20px;
  line-height: 1.5;
}

#tab input {
  display: none;
}
#tab section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
#tab input {
  display: none;
}

#tab label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

#tab label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

#tab label[for*='1']:before { content: '\f1cb'; }
#tab label[for*='2']:before { content: '\f17d'; }
#tab label[for*='3']:before { content: '\f16b'; }
#tab label[for*='4']:before { content: '\f1a9'; }

#tab label:hover {
  color: #888;
  cursor: pointer;
}

#tab input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 4px solid orange;
  border-bottom: 1px solid #fff;
}

#tab #tab1:checked ~ #content1,
#tab #tab2:checked ~ #content2,
#tab #tab3:checked ~ #content3,
#tab #tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  #tab label {
    font-size: 12px;
  }
  #tab label:before {
    margin: 0;
    font-size: 0px;
  }
}

@media screen and (max-width: 400px) {
  #tab label {
    padding: 15px;
  }
}
 #tab label {
   width: 25%
  }

#tab .tab-style{
	margin-top: 50px;
	position: absolute;
	width: 100%;
}







#tab .form{
	padding: 10px;
	
}

#tab .table_uploadco4 .table-cell{
	width: calc(26% - 1px);
}

#tab #tab-style{
	padding: 15px;
	font-size: 12px;
}
#tab .table_style{
	margin-top: -10px;
}
#tab .pagin-style{
	width: 100%;
	outline: none;
}

#tab .table-cellstyle{
	background: #5a6165;
	color: white;
}

#tab .table_cellwidth{
	width: calc(100% - 1px)!important;
	
}
#tab  .table_uploadco2 .table-cell{
		width:calc(50% - 1px)!important;
		
}
#tab  .table-cell span{
		word-wrap: break-word;
		
}
#tab  .tab-panel{
	border-top: none;
}		








/*@media screen and (max-width: 346px) and (min-width: 320px){
	
		#LoanActivity .table_uploadco4 .table-cell{
	width:calc(100% - 1px)!important;
}

	
}
*/


#tab  .table_uploadco4  span{
	font-size: 12px;
	color: #4a4a4a;
	  
		
}
#tab  #LEND {
	padding: 15px;
		
}

#tab  #RETURN {
	padding: 15px;
		
}

#tab  #BORROW {
	padding: 15px;
		
}








#tab-LoanSummary h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

#tab-LoanSummary p {
  margin: 0 0 20px;
  line-height: 1.5;
}

#tab-LoanSummary input {
  display: none;
}
#tab-LoanSummary section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}
#tab-LoanSummary input {
  display: none;
}

#tab-LoanSummary label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

#tab-LoanSummary label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

#tab-LoanSummary label[for*='1']:before { content: '\f1cb'; }
#tab-LoanSummary label[for*='2']:before { content: '\f17d'; }
#tab-LoanSummary label[for*='3']:before { content: '\f16b'; }
#tab-LoanSummary label[for*='4']:before { content: '\f1a9'; }

#tab-LoanSummary label:hover {
  color: #888;
  cursor: pointer;
}

#tab-LoanSummary input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 4px solid orange;
  border-bottom: 1px solid #fff;
}

#tab-LoanSummary #tab1:checked ~ #content1,
#tab-LoanSummary #tab2:checked ~ #content2,
#tab-LoanSummary #tab3:checked ~ #content3,
#tab-LoanSummary #tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  #tab-LoanSummary label {
    font-size: 12px;
  }
  #tab-LoanSummary label:before {
    margin: 0;
    font-size: 0px;
  }
}

@media screen and (max-width: 400px) {
  #tab-LoanSummary label {
    padding: 15px;
  }
}
 #tab-LoanSummary label {
   width: 50%
  }

#tab-LoanSummary .tab-style{
	margin-top: 50px;
	position: absolute;
	width: 100%;
}







#tab-LoanSummary .form{
	padding: 10px;
	
}

#tab-LoanSummary .table_uploadco4 .table-cell{
	width: calc(26% - 1px);
}

#tab-LoanSummary #tab-style{
	padding: 15px;
	font-size: 12px;
}
#tab-LoanSummary .table_style{
	margin-top: -10px;
}
#tab-LoanSummary .pagin-style{
	width: 100%;
	outline: none;
}

#tab-LoanSummary .table-cellstyle{
	background: #5a6165;
	color: white;
}

#tab-LoanSummary .table_cellwidth{
	width: calc(100% - 1px)!important;
	
}
#tab  .table_uploadco2 .table-cell{
tab-LoanSummarywidth:calc(50% - 1px)!important;
		
}
#tab-LoanSummary  .table-cell span{
		word-wrap: break-word;
		
}
#tab-LoanSummary  .tab-panel{
	border-top: none;
}		








/*@media screen and (max-width: 346px) and (min-width: 320px){
	
		#LoanActivity .table_uploadco4 .table-cell{
	width:calc(100% - 1px)!important;
}

	
}
*/


#tab-LoanSummary  .table_uploadco4  span{
	font-size: 12px;
	color: #4a4a4a;
	  
		
}
#tab-LoanSummary  #LEND {
	padding: 15px;
		
}



#tab-LoanSummary  #BORROW {
	padding: 15px;
	font-size: 12px;
		
}









