
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*--header start here--*/
body{
  font-family: 'Montserrat', sans-serif;
   font-size: 100%;
   background: -webkit-radial-gradient(center, ellipse cover, rgba(33,125,178,1) 40%,rgba(0,69,124,1) 100%);
       background-size: cover;
       background-repeat: no-repeat;
       height: 100vh;
}
.sign-up{
  color:#f2f2f2;
  cursor:pointer;
  text-decoration:underline;
  float: right;
}
.Forgetpassword{
    color:#f2f2f2;
    cursor:pointer;
    text-decoration:underline;

}
.regis_style{
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.login-form{

	padding:100px 0px 50px 0px;

}
.login-form h1{
	font-size:2em;
	color:#fff;
	font-weight:800;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:2em;
/*-- w3layouts --*/
}
.top-login {
    width: 150px;
    height: 130px;
    margin: 0 auto 4em;
    position: relative;
}
/*.top-login span{

    width: 105px;
    height: 105px;
    display: block;
    margin: 0px auto;
    position: absolute;
    top: 11px;
    left: 11px;
}
*/

/*----*/

.login-top{
	width: 460px;
	display: block;
	margin: 0 auto;
}
.login-ic {
    background: rgba(255, 255, 255, 0.32);
	margin-bottom:1.5em;
    padding: 8px;
}
.login-ic i {
        background: url(../images/m.png)no-repeat 6px 6px;
    width: 38px;
    height: 38px;
    float: left;
	/*-- agileits --*/
    display: inline-block;
}
.login-ic i.icon {
    background: url(../images/l.png)no-repeat 6px 6px;
}
.login-ic input[type="text"],.login-ic  input[type="password"] {
	    float: left;
    background: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-left: 1px solid #fff;
    width: 82%;
    display: inline-block;
    margin-left: 7px;
}
.log-bwn {
	text-align: center;
}
.log-bwn input[type="submit"] {
    font-size: 15px;
    font-weight: 700;
    color: black;
    padding: 13px 0;
    background: #FFDF13;
    display: inline-block;
    width: 100%;
	outline:none;
	border:2px solid #FFDF13;
	cursor:pointer;
	text-transform:uppercase;
}
.log-bwn input[type="submit"]:hover{
	transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
	 border:2px solid #FFEB3B;
     background: rgba(255, 223, 19, 0.85);
}
/*-- profile_2 --*/
p.copy{
	color:#fff;
	font-size:1em;
	text-align:center;
	margin-top:6em;
}
/*-- w3layouts --*/
.regis_style a{
	color:#fff;
	text-decoration: none;
}
.regis_style a:hover{
	text-decoration: underline;
    color: #FFDF13;
}

/*--meadia quiries start here--*/
@media (max-width:1024px){
.regis_style {
    margin-top: 3.5em;
}
.login-form {
    padding: 60px 0px 40px 0px;
}
}



@media (max-width:600px){
.login-top {
    width: 425px;
}
.login-ic input[type="text"], .login-ic input[type="password"] {
    width: 79%;
}
.regis_style{
    width:  425px;

}
}
@media (max-width:480px){
.regis_style {
    font-size: 0.9em;
	padding:0 0.5em;
	line-height: 1.8em;
}
}
@media (max-width:450px){
.login-top {
    width: 360px;
}
.regis_style{
    width:  360px;

}
.login-ic input[type="text"], .login-ic input[type="password"] {
    width: 76%;
	/*-- agileits --*/
}
.top-login {

}
.top-login span img {

}
.top-login span {
    width: 200px;
    top: 5px;
    left: 5px;
}
.login-form h1 {
    margin-bottom: 1em;
    font-size: 1.7em;
}
.regis_style {

    margin-top: 3em;
}
.login-form {
    padding: 80px 0px 45px 0px;
}
.login-ic {
    margin-bottom: 1em;
    padding: 3px;
}
.log-bwn input[type="submit"] {
    padding: 10px 0;
}
.regis_style {
    font-size: 0.8em;
}

}
@media (max-width:384px){
.login-top {
    width: 340px;
}
.regis_style{
    width:  340px;

}
.login-ic input[type="text"], .login-ic input[type="password"] {
    width: 75%;
}

}
@media(max-width:320px){
.login-top {
    width: 280px;
}
.regis_style{
    width:  280px;

}
.login-ic input[type="text"], .login-ic input[type="password"] {
    width: 70%;
}
.login-form {
    padding: 50px 0px 45px 0px;
}

}

table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: black;
    color: white;
}



/*--media quiries end here--*/
