@import '~antd/dist/antd.css';
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    color: #808080;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: #fbfbfb;
}
h4,
h5,
h6,
h1,
h2,
h3 {
    margin: 0;
}
/*--fonts--*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}
h2 span {
    color: #ffa800;
}
a {
    color: #777;
}
a:hover {
    color: #222;
}
p {
    padding: 5px 0px;
}
.wrapper {
    width: 960px;
    margin: 20px auto;
    min-height: 550px;
}
.box {
    width: 49%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
a.back {
    color: #d2d2d2;
    position: absolute;
    top: 5px;
    right: 10px;
    text-decoration: none;
    text-shadow: none;
}
/* Form Style */

.content .border-login input {
    position: initial;
}
.menu-position {
    position: sticky;
}
.form_wrapper {
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
}
.form_wrapper .img-login {
    text-align: center;
    background-color: #444;
    background: url(../images/bg.jpg)no-repeat center;
    height: 230px;
    background-size: cover;
    border-bottom: 1px solid #ddd;
}
.form_wrapper .img-login img {
    width: 500px;
}
@media only screen and (max-width: 1025px) {
    .form_wrapper .img-login img {
        margin-top: 30px;
        width: 500px;
    }
}
@media only screen and (max-width: 768px) {
    .form_wrapper .img-login img {
        margin-top: 40px;
        width: 400px;
    }
}
@media only screen and (max-width: 445px) {
    .form_wrapper .img-login img {
        margin-top: 70px;
        width: 290px;
    }
}
.form_wrapper .img-payment {
    background-color: #444;
    background: url(../images/payment.png)no-repeat center;
    height: 220px;
    background-size: contain;
}
.form_wrapper form {
    display: none;
    background: #fff;
}
.form_wrapper .column {
    width: 47%;
    float: left;
}
.form_wrapper form.active {
    display: block;
}
.form_wrapper form.login {
    width: 100%;
}
.form_wrapper form.register {
    width: 550px;
}
.form_wrapper form.forgot_password {
    width: 300px;
}
.form_wrapper a {
    text-decoration: none;
    color: #777;
    font-size: 12px;
}
.form_wrapper a:hover {
    color: #000;
}
.form_wrapper label {
    display: block;
    padding: 10px 30px 0px 30px;
    margin: 10px 0px 0px 0px;
}
.form_wrapper input[type="text"],
.form_wrapper input[type="password"] {
    border: solid 1px #E5E5E5;
    background: #FFFFFF;
    margin: 5px 30px 0px 30px;
    padding: 9px;
    display: block;
    font-size: 16px;
    width: 90%;
    background: -webkit-gradient( linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient( top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    -moz-box-shadow: 0px 0px 8px #f0f0f0;
    -webkit-box-shadow: 0px 0px 8px #f0f0f0;
    box-shadow: 0px 0px 8px #f0f0f0;
}
.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="password"]:focus {
    background: #feffef;
}
.form_wrapper .bottom {
    background-color: #2d2d2d;
    border-top: 1px solid #ddd;
    margin-top: 30px;
    clear: both;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    bottom: 0;
    position: fixed;
    width: 100%;
}
.form_wrapper a.forgot {
    float: right;
    font-style: italic;
    line-height: 24px;
    color: #ffa800;
    text-shadow: 1px 1px 1px #fff;
}
.form_wrapper a.forgot:hover {
    color: #000;
}
.form_wrapper div.remember {
    float: left;
    width: 50%;
    margin: 22px 0px 22px 0px;
    font-size: 11px;
    padding: 0px 15px;
}
.form_wrapper .forget-password {
    display: block;
    clear: both;
    text-align: left!important;
    color: white!important;
    text-shadow: 1px 1px 1px #000;
}
.form_wrapper .bottom a {
    display: block;
    clear: both;
    text-align: right;
    color: #ffa800;
    text-shadow: 1px 1px 1px #000;
}
.form_wrapper div.remember input {
    float: left;
    margin: 2px 5px 0px 0px;
}
.form_wrapper span.error {
    visibility: hidden;
    color: red;
    font-size: 11px;
    font-style: italic;
    display: block;
    margin: 4px 30px;
}
.login-error {
    font-size:14px;
    position:absolute;
    width: 100%;
    text-align: center;
}
.login-btn {
    margin-bottom: 100px;
    margin-top: 30px;
    text-align: center;
}
.form_wrapper input[type="button"] {
    background: #ffcb31;
    border: 1px solid #ccc;
    color: #333;
    font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 9px;
    text-align: center;
    width: 90%;
    cursor: pointer;
    text-shadow: 0px 1px 0px #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.form_wrapper input[type="button"]:hover {
    background: #ffd24c;
    color: #222;
}
.input-group-addon {
    border: none;
    background: none;
}
.border-login {
    border-bottom: 1px solid #dedede;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
}
.boder-input {
    border: none!important;
    background: none!important;
    -webkit-box-shadow: none!important;
    margin: 8px!important;
}
/*menu start*/
/*=====  UTILITIES  ======*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/*=====  GENERAL PAGE STYLES  ======*/

.container,
.menu-container {
    width: 100%;
    /*full screen width*/
    
    height: 100%;
    /*full screen height*/
    /*overflow-x: hidden; /*no horizontal scroll bar*/
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.full-screen-close {
    margin-bottom: 0px;
}
.content-menu {
    width: 100%;
    background: #2d2d2d;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.5rem;
    line-height: 1.5;
}
.back-btn {
    float: left;
}
.title-same {
    text-align: center;
    font-size: 15px;
    margin-top: 2px;
    margin-right: 10px;
}
.back-1 {
    float: left;
    width: 33.33%;
    text-align: left;
}
.title-1 {
    float: left;
    font-size: 15px;
    width: 33.33%;
    text-align: center;
}
.title-1-width {
    float: left;
    width: 33.33%;
    font-size: 15px;
    text-align: center;
}
@media only screen and (max-width: 380px) {
    .title-1-width {
        width: 40%;
    }
}
.icon-1 {
    float: left;
    width: 33.33%;
    text-align: right;
}
h1 {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.25rem;
    margin: 3rem 0;
}
/*=====  AP META  ======*/

.ap-meta {
    text-align: center;
    font-size: 1.125rem;
}
.ap-meta a {
    color: #2196F3;
    margin-right: 24px;
}
.ap-meta a:last-child {
    margin-right: 0;
}
.ap-meta i {
    margin-right: 6px;
}
/*===== SLIDE OPTIONS  ======*/

.menu-options {
    margin: 0 auto;
    margin-bottom: 48px;
    width: 30%;
}
.menu-options h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 36px;
}
.menu-options a {
    display: block;
    padding: 6px 12px;
    border: 1px solid #2196F3;
    border-radius: 5px;
    color: #2196F3;
    font-weight: 500;
    margin-bottom: 12px;
    transition: all .5s ease-in-out;
}
.menu-options a:hover {
    background: #2980b9;
    color: #fff;
}
.left {
    float: left;
}
.right {
    float: right;
}
/*===== GENERAL MEDIA QUERIES ======*/

@media (max-width: 980px) {
    .menu-options {
        width: 50%;
    }
}
@media (max-width: 605px) {
    .menu-options {
        width: 80%;
    }
}
@media (max-width: 518px) {
    .ap-meta a span {
        display: none;
    }
}
@media (max-width: 375px) {
    .ap-meta a span {
        display: none;
    }
    header h1 {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .menu-options {
        width: 100%;
    }
}
@media (max-width: 330px) {
    .content-menu {
        padding: 0 1rem;
    }
    .menu {
        margin-bottom: 1.5rem;
    }
    .ap-meta a span {
        display: none;
    }
    header h1 {
        font-size: 1.125rem;
        font-weight: 600;
    }
    .menu-options {
        width: 100%;
    }
}
.content-body {
    margin-top: 50px;
    padding: 20px
}
.menu-1 .container {
    padding: 0px;
}
.gg {
    clear: both;
}
.profile-logo .ant-avatar-lg {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
}
.profile-logo .ant-avatar-lg.ant-avatar-icon {
    font-size: 40px;
}
.profile-logo li {
    list-style: none;
}
.menu-col-width .ant-col-12 {
    width: 100%;
}
.btn-logout {
    bottom: 0;
    position: fixed;
    width: 100%;
    background: #ffcb31;
    padding: 15px;
    color: black;
}
.btn-logout i {
    margin-right: 10px;
    text-shadow: 0px 1px 0px #fff;
}
.btn-logout span {
    text-shadow: 0px 1px 0px #fff;
}
.menu-col-width .ant-col-8 {
    margin-bottom: 30px;
}
.menu-col-width li {
    font-size: 12px;
    list-style: none;
    margin-top: 10px;
}
.home-body {
    background-color: #444;
    background: url(../images/bg.jpg)no-repeat center;
    height: 230px;
    background-size: cover;
}
.hometop-btn {
    position: absolute;
    margin-top: 75px;
    width: 100%;
    text-align: center;
}
.hometop-btn li {
    list-style: none;
    font-size: 11px;
    color: white;
    margin-top: 5px;
}
.li-padding {
    padding-bottom: 13px;
}
.mywallet {
    padding: 5px;
}
.mywallet-icon {
    padding: 10px;
    background: rgba(199, 196, 196, 0.06);
    border-radius: 10px;
    border-left: 1.5px solid rgba(255, 255, 255, 0.25);
    border-right: 1.3px solid rgba(255, 255, 255, 0.27);
}
.hometop-btn .ant-col-8:hover {
    opacity: 0.7;
}
.balance {
    padding: 5px;
}
.balance-icon {
    padding: 10px;
    background: rgba(199, 196, 196, 0.06);
    border-radius: 10px;
    border-left: 1.3px solid rgba(255, 255, 255, 0.22);
    border-right: 1.3px solid rgba(255, 255, 255, 0.22);
}
.balance-icon h6 {
    color: yellow;
    word-break: break-word;
}
.makepayment {
    padding: 5px;
}
.makepayment-icon {
    padding: 10px;
    background: rgba(199, 196, 196, 0.06);
    border-radius: 10px;
    border-left: 1.3px solid rgba(255, 255, 255, 0.27);
    border-right: 1.5px solid rgba(255, 255, 255, 0.25);
}
.home-content {
    margin-top: 230px;
    position: absolute;
    width: 100%;
}
.select-top {
    padding: 6px;
}
.home-content header span {
    font-size: 12px;
}
.home-content .select-top i {
    color: lightblue;
    margin-right: 6px;
    margin-left: 6px;
}
.home-content header i {
    color: lightblue;
    margin-right: 6px;
}
.home-content .home-select {
    font-size: 12px;
    background-color: #edf2f5;
    width: 100%;
    padding: 7px;
    text-align: center;
}
.home-icon {
    text-align: center;
    margin-top: 20px;
}
.home-icon li {
    font-size: 10.5px;
    list-style: none;
    margin-top: 5px;
}
.home-icon img {
    width: 60px;
}
.home-icon .ant-col-6:hover {
    opacity: 0.7;
    color: #FF9800;
}
.home-content .home-payment {
    font-size: 12px;
    background-color: #edf2f5;
    width: 100%;
    padding: 7px;
    text-align: center;
    margin-top: 30px;
}
.hometop-btn img {
    width: 55px;
}
.social-loan {
    margin-bottom: 40px;
}
.login-lang i {
    margin-right: 5px;
}
.login-lang {
    font-size: 14px;
}
.content-menu .trans-back i {
    color: transparent;
}
.header-same {
    padding: 7px 15px;
    background: #2d2d2d;
    position: absolute;
    width: 100%;
}
/*.header-same .back-1{
	padding-left: 10px;
}*/

#language .lang-icon {
    margin-top: 40px;
    position: absolute;
    width: 100%;
    text-align: center;
}
#language .lang-icon li {
    list-style: none;
    margin-top: 10px;
    color: white;
}
#language .chinese {
    width: 100%;
    float: left;
    padding: 30px;
}
#language .icon img {
    width: 65px;
}
#language .english {
    width: 100%;
    float: left;
    padding: 30px;
}
#language .malay {
    width: 100%;
    float: left;
    padding: 30px;
    bottom: 0;
}
#language .lang-icon span {
    float: right;
}
#language {
    background: url(../images/bg.jpg)no-repeat center;
    background-size: cover;
    height: 100vh;
}
#balance {
    background: url(../images/bg.jpg)no-repeat center;
    background-size: cover;
}
.profile-top {
    padding: 30px;
    background: url(../images/bg.jpg)no-repeat center;
    background-size: cover;
    height: 100vh;
}
.profile-top-left {
    padding: 0;
}
.profile-top h1,
.profile-top h5 {
    text-align: center;
    color: #fff;
    font-size: 25px;
}
.profile-top h1 {
    font-size: 4em;
    word-break: break-all;
    font-weight: normal;
}
.profile-top h1 {} .profile-top h5 {
    color: #f5f5f5;
    font-size: 16px;
}
.profile-ser {
    background: #ECECEC;
    bottom: 0;
    position: fixed;
    width: 100%;
}
.profile-ser-grids {
    float: left;
    width: 50%;
    text-align: center;
    padding: 15px 0;
    transition: 0.5s all;
    webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.profile-top-right {
    width: 100%;
    margin-top: 140px;
}
.profile-ser .border-right {
    border-right: 1px solid #cccccc;
}
.profile-ser-grids:nth-child(3) {
    border-right: none;
}
.profile-ser-grids:hover {
    background: #03a9f4;
}
.profile-ser-grids:hover .glyphicon {
    color: #fff;
}
.profile-ser-grids:hover.profile-ser-grids h4 {
    color: #fff;
}
.profile-ser-grids .glyphicon {
    font-size: 20px;
}
.profile-ser-grids .deposit {
    color: #19cc92;
}
.profile-ser .border-right h4 {
    color: #19cc92;
}
.profile-ser-grids .withdraw {
    color: #f6a144;
}
.profile-ser .agileinfo h4 {
    color: #f6a144;
}
.profile-ser-grids h4 {
    font-size: 0.9em;
    margin-top: 0.2em;
}
/*2*/

.profile-ser_2 {
    background: #edf2f5;
    width: 100%;
    position: absolute;
    margin-top: 38px;
}
.profile-ser_2 .profile-ser-grids {
    float: left;
    width: 100%;
    text-align: left;
    padding: 20px 0;
    transition: 0.5s all;
    webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.profile-ser_2 .border-bottom {
    border-bottom: 1px solid #cccccc;
}
.profile-ser_2 .profile-ser-grids:nth-child(3) {
    border-right: none;
}
.profile-ser_2 .profile-ser-grids:hover {
    background: #03a9f4;
}
.profile-ser_2 .profile-ser-grids:hover .fa {
    color: #fff;
}
.profile-ser_2 .profile-ser-grids:hover.profile-ser-grids h4 {
    color: #fff;
}
.profile-ser_2 .profile-ser-grids:hover.profile-ser-grids i {
    color: #fff;
}
.profile-ser_2 .profile-ser-grids .fa {
    font-size: 20px;
}
.profile-ser_2 .profile-ser-grids .deposit {
    color: #8b91ff;
}
.profile-ser_2 .border-bottom span {
    float: left;
    text-align: center;
    width: 15%;
}
.profile-ser_2 .border-bottom h4 {
    color: #9e9c9c;
    float: left;
    text-align: left;
    width: 30%;
    padding-left: 10px;
}
.profile-ser_2 .border-bottom i {
    color: #9e9c9c;
    float: left;
    text-align: right;
    width: 55%;
    padding-right: 10px;
}
.profile-ser_2 .agileinfo {
    border-bottom: 1px solid #cccccc;
}
.profile-ser_2 .agileinfo span {
    float: left;
    text-align: center;
    width: 15%;
}
.profile-ser_2 .agileinfo h4 {
    color: #9e9c9c;
    float: left;
    text-align: left;
    width: 50%;
    padding-left: 10px;
}
.profile-ser_2 .agileinfo i {
    color: #9e9c9c;
    float: left;
    text-align: right;
    width: 35%;
    padding-right: 10px;
}
.profile-ser_2 .profile-ser-grids .withdraw {
    color: #facd02;
}
.profile-ser_2 .profile-ser-grids h4 {
    font-size: 0.9em;
    margin-top: 0.2em;
}
.error {
    color: red;
}
.topup-style {
    height: 40px;
    text-align: center;
    font-size: 12px;
}
.profile-top_personal2 {
    padding: 30px;
    background: #dcdcdc;
    height: 230px;
}
.profile-top_personal2 .profile-top-right_personal {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.profile-top_personal {
    padding: 30px;
    background: url(../images/bg.jpg)no-repeat center;
    background-size: cover;
    height: 230px;
}
.profile-top_personal li {
    color: white;
    font-size: 20px;
}
.profile-top-right_personal {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.profile-top_personal h1,
.profile-top_personal h5 {
    text-align: center;
    color: #fff;
    font-size: 25px;
}
.profile-top_personal h1 {
    font-size: 4em;
    word-break: break-all;
    font-weight: normal;
}
.profile-top_personal h1 {} .profile-top_personal h5 {
    color: #f5f5f5;
    font-size: 16px;
}
.profile-from {
    padding: 22px;
    border-bottom: 1px solid #e8e8e8
}
.profile-from li {
    list-style: none;
    text-align: right;
    font-size: 14px;
}
.username-style .username-style-color {
    color: #02a1b5;
}
.username-style span {
    color: #aba8a8;
    text-align: left;
    font-size: 14px;
}
.username-style {} .btn-same-style {
    padding: 35px;
}
.form-error {
    font-size: 14px;
    padding: 35px;
    position: absolute;
    margin-top: 25px;
    border-radius: 4px;
    width: 100%;
}

.form-error2{
    font-size: 14px;
    padding: 0px 15px;
    position: absolute;
    margin-top: 15px;
    border-radius: 4px;
    width: 100%;
}


.form-error-margin {
    /*background: rgba(19, 35, 47, 0.9);*/
    
    padding: 35px;
    position: absolute;
    margin-top: 30px;
    border-radius: 4px;
    width: 100%;
    /*box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);*/
}
.otp-code-style {
    color: #03A9F4;
}
.verify-style-input {
    font-size: 14px;
}
#Security .title-same {
    margin-right: 0px;
}
.form .form-control {
    font-size: 12px;
}
.forgot2 {
    font-size: 12px;
	margin-top: 40px;
    text-align: right;
	background: none;
    border: none;
    color: gray;
    float: right;
	display: block;
}
.forgot2:hover{
  background: none;
	color: rgba(128, 128, 128, 0.73);
   
}
.forgot2:hover{
  background: none;
	color: rgba(128, 128, 128, 0.73);
   
}


.forgot3{
	font-size: 12px;
	float:left;
}

.forgot4{
	font-size: 12px;
	float:right;
	margin-top:-20px;
	
}
.ant-modal-wrap  .ant-btn{
	display: none;
}
.ant-modal-wrap  .ant-btn-primary{
	display: block;
	float: right;
}
.ant-modal-footer{
	padding-bottom: 40px;
}

.ant-form-item-label label{
	font-size: 16px;
	margin-top: 30px;
}


.forgot {
    font-size: 12px;
}
.forgot a {
    color: #969696;
}
.register {
    background: rgba(255, 255, 255, 0.18);
    text-align: center;
    padding: 1.5em;
    margin-top: 10px;
}
.register h4 {
    color: #2b3e4e;
    font-size: 23px;
    margin: 0 0 1em 0;
    font-weight: 700;
    text-transform: uppercase;
}
.register p {
    color: #2b3e4e;
    font-size: 14px;
    margin: 0;
}
/*.register form{
	margin-top: 2em;
}*/

.register input[type="text"],
.register input[type="password"] {
    width: 100%;
    color: #2b3e4e;
    background: #ecf0f1;
    outline: none;
    font-size: 12px;
    padding: 1em;
    text-align: center;
    margin-bottom: 1.5em;
    border: none;
    -webkit-appearance: none;
}
.register input[type="submit"] {
    border: none;
    outline: none;
    color: #FFF;
    padding: 0.8em 0.8em;
    font-size: 14px;
    font-weight: bold;
    margin: 1.3em 0 0 0;
    -webkit-appearance: none;
    background: #a6192e;
}
.register input[type="submit"]:hover {
    background: #2b3e4e;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.setting-style {
    padding: 30px;
}
#Setting {} #Setting .profile-top-right_personal {
    margin-top: 40px;
}
#Setting input[type="button"] {
    margin: 1.3em 0 0 0;
    width: 150px;
}
.button-align-setting {
    text-align: center;
}
.button-align-setting .button-block {
    text-align: center;
    display: inline;
}
#ThirdPartyBankTransferConfirm .pricing-grids {
    position: absolute;
    margin-top: 37.5px;
    width: 100%;
}
#ThirdPartyBankTransferConfirm .pricing-grid {
    padding: 0;
}
#ThirdPartyBankTransferConfirm .price-head h3 {
    color: #404042;
    font-size: 3em;
    text-decoration: none;
    font-weight: 700;
}
#ThirdPartyBankTransferConfirm a.popup-with-zoom-anim {
    padding: 0 12px;
    line-height: 2.2em;
}
/*----*/

#ThirdPartyBankTransferConfirm .pricing-grid3 {
    margin-right: 0;
}
#ThirdPartyBankTransferConfirm .pricing-grid1:nth-child(3) {
    margin-right: 0;
}
#ThirdPartyBankTransferConfirm .price-value h3 {
    font-size: 0.9em;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding-top: 0.5em;
}
#ThirdPartyBankTransferConfirm .price-value,
.price-value.two,
.price-value.three {
    background: #008c7e;
    padding: 1em 0em 0.5em;
    text-align: center;
    position: relative;
}
#ThirdPartyBankTransferConfirm .price-value.two {
    background: #41cac0;
    border-bottom: 1px solid#25857E;
}
#ThirdPartyBankTransferConfirm .price-value.three {
    background: #048a7d;
    border-bottom: 1px solid#A24BC3;
}
#ThirdPartyBankTransferConfirm .price-bg {
    background: #fff;
    border-bottom-left-radius: 0.3em;
    -o-border-bottom-left-radius: 0.3em;
    -moz-border-bottom-left-radius: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    -o-border-bottom-right-radius: 0.3em;
    -moz-border-bottom-right-radius: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
}
#ThirdPartyBankTransferConfirm p.price-label-1 {
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    padding: 10px 20px;
}
#ThirdPartyBankTransferConfirm p.price-label-1 span {
    font-size: 3em;
    word-break: break-all;
    padding: 5px;
}
#ThirdPartyBankTransferConfirm .price-bg ul li {
    list-style: none;
}
#ThirdPartyBankTransferConfirm ul.count li {
    border-bottom: 1px solid #ddd;
    padding: 2.5em 1.5em;
    font-size: 0.9em;
    color: #9e9e9e;
}
#ThirdPartyBankTransferConfirm ul.count li i {
    margin-right: 1em;
    color: #1BBC9B;
}
#ThirdPartyBankTransferConfirm a.popup-with-zoom-anim {
    outline: none;
    border: none;
}
#ThirdPartyBankTransferConfirm a.month {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 9px 15px;
    border: none;
    background: #16a086;
}
.btn-2 {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}
.btn-2 .btn-2-padding {
    padding: 15px;
}
#ThirdPartyBankTransferConfirm .align-left {
    text-align: left;
}
#ThirdPartyBankTransferConfirm .align-right {
    text-align: right;
}
#ThirdPartyBankTransferConfirm .cencel-btn {
    background: rgb(177, 30, 19);
}
#ThirdPartyBankTransferConfirm .cencel-btn:hover {
    background: #F44336;
}
#BankDeposit ul {
    width: 40%;
    float: left;
    font-size: 14px;
}
#BankDeposit li {
    color: #9e9e9e;
}
#BankDeposit input {
    width: 60%;
}
#BankDeposit textarea {
    width: 60%;
}
#BankDeposit .form {
    padding: 35px 30px;
    margin-top: 40px;
}
#BankDeposit .input_width input {
    height: 30px;
}
#BankDeposit .form-control {
    padding: 6px 6px;
}
#BankDeposit .select_margin .ant-select-selection__placeholder {
    font-size: 14px;
}
#BankDeposit .select_margin {
    margin-bottom: 35px;
}
.padding-btn {
    padding: 35px;
    margin-top: 250px;
    position: absolute;
    width: 100%;
}
.same-form-style ul {
    width: 40%;
    float: left;
    font-size: 14px;
}
.same-form-style li {
    color: #9e9e9e!important;
}
.same-form-style input {
    width: 60%;
}
.same-form-style textarea {
    width: 60%;
}
.same-form-style .form {
    padding: 35px 30px;
    margin-top: 40px;
}
.same-form-style .input_width input {
    height: 30px;
}
.same-form-style .form-control {
    padding: 6px 6px;
}
.same-form-style .select_margin .ant-select-selection__placeholder {
    font-size: 14px;
}
.same-form-style .select_margin {
    margin-bottom: 35px;
}
#ConfirmWithdraw .chart_list li {
    width: 33.33%;
}
#ConfirmWithdraw .padding-btn {
    margin-top: 330px;
}
#ConfirmAddBank .chart_list li {
    width: 33.33%;
}
#ConfirmAddBank .padding-btn {
    margin-top: 330px;
}
#ConfirmAddBank input {
    height: 50px;
    margin-top: 20px;
}
#ConfirmAddBank .diagram {
    padding: 10px 30px;
}
#ConfirmAddBank .chart-p-left p {
    padding: 5px;
}
.qr-codetitle-style {
    margin-bottom: 10px;
    margin-top: -2px;
    background: #edf2f5;
}
.qr-codetitle-style .select-top {
    text-align: left;
}
.qr-codetitle-style .select-top i {
    color: lightblue;
    margin-right: 6px;
    margin-left: 6px;
}
.qr-codetitle-style .select-top span {
    font-size: 12px;
}
.figure_style .qr {
    margin-top: 40px;
}
.figure_style .br {
    margin-top: 50px;
}
.figure_style .br img {
    width: 200px!important;
}
.bar-codetitle-style {
    margin-top: 60px;
    background: #edf2f5;
}
.bar-codetitle-style .select-top {
    text-align: left;
}
.bar-codetitle-style .select-top i {
    color: lightblue;
    margin-right: 6px;
    margin-left: 6px;
}
.bar-codetitle-style .select-top span {
    font-size: 12px;
}
#ConfirmDeposit .button-align-setting {
    margin-top: 350px;
}
#MyWallet .form {
    padding: 0;
}
#MyWallet .select-top {
    padding: 4px;
}
#MyWallet .figure_style img {
    width: 180px;
}
#ConfirmKeyInCode .margin-style-keyin {
    margin-top: 0px;
}
#ConfirmKeyInCode .padding-btn {
    margin-top: 400px;
}
#PayBill .select_margin .ant-select-selection__placeholder {
    font-size: 14px;
}
#BillPayment .form .span-style-text {
    text-align: right;
    font-size: 14px;
    color: #969696;
}
#BillPayment .form .field-wrap span {
    background: transparent;
}
#BillPayment .form {
    padding: 35px 25px;
}
#BillPayment ul {
    width: 50%;
}
#BillPayment input {
    width: 50%;
}
#BillPayment textarea {
    width: 50%;
}
#BillPayment .button-align-setting {
    margin-top: 60px;
}
.chart {
    margin-top: 30px;
    background: #edf2f5;
    text-align: center;
    padding: 2em 0 0 0;
    position: absolute;
    margin-top: 38px;
    width: 100%;
    border-bottom: 1px solid #d6d5d5;
}
.chart h4 {
    margin-top: 10px;
    word-break: break-word;
    font-size: 3.5em;
    color: #656565;
}
.diagram {
    padding: 10px;
}
.chart h4 span {
    color: #FFF;
}
.chart h3 {
    color: #b1acac;
    font-size: 1em;
}
.chart_list {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
}
.chart_list li {
    float: left;
    width: 50%;
}
.chart_list li {
    display: block;
    color: #a9a9a9;
    font-size: 12px;
    padding: 10px 8px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.chart_list li a:hover {
    background: #3F4663;
}
.chart_list li:nth-child(4) {
    border-right: none;
}
.chart_list li.red {
    border-top: 5px solid #e64c65;
}
.chart_list li.purple {
    border-top: 5px solid #11a8ab;
}
.chart_list li.yellow {
    border-top: 5px solid #fcb150;
}
.chart_list li.blue {
    border-top: 5px solid #4fc4f6;
}
.chart_list p {
    font-size: 1.1em;
    color: #656565;
    padding-top: 5px;
    word-break: break-word;
}
.chart_list .chart-p {
    border-right: 1px solid #c7cbce;
}
.chart_list .chart-p-left p {
    padding: 15px;
}
.chart_list .chart-p-left {
    border-left: 1px solid #c7cbce;
}
#ConfirmKeyInCode .chart-p-left {
    border-left: none;
}
.chart_list em {
    font-size: 0.7em;
    vertical-align: top;
}
#ConfirmPaymentBill ul {
    width: 100%;
}
#ConfirmPaymentBill .button-align-setting {
    position: absolute;
    margin-top: 460px;
    width: 100%;
}
#History .form {
    padding: 23px;
    margin-top: 50px;
}
#History .RadioGroup-style ul {
    width: 30%;
}
#History .form input {
    width: 100%;
}
#History .form .ant-calendar-picker {
    width: 60%;
}
#History .form .radio_style {
    width: 70%;
}
#History .RadioGroup-style {
    margin-bottom: 100px;
}
#History .ant-pagination {
    width: auto;
    float: right;
}
#History .ant-table-thead > tr > th {
    background: #5a6165;
    color: #ccc;
    border: 1px solid rgba(233, 233, 233, 0.46)
}
#History tbody > tr > td {
    background: #edf2f5;
}
#History .ant-table table {
    border-radius: 3px 3px 0 0;
}
#Bank .form {
    padding: 23px;
}
#Bank .RadioGroup-style {
    margin-bottom: 100px;
}
#Bank .ant-pagination {
    width: auto;
    float: right;
}
#Bank .ant-table-thead > tr > th {
    background: #5a6165;
    color: #ccc;
    border: 1px solid rgba(233, 233, 233, 0.46)
}
#Bank tbody > tr > td {
    background: #edf2f5;
}
#Bank .ant-table table {
    border-radius: 3px 3px 0 0;
}
#Bank .button-align-setting {
    margin-top: 90px;
}
#AddBank ul {
    width: 40%;
    float: left;
    font-size: 14px;
}
#AddBank li {
    color: #9e9e9e;
}
#AddBank input {
    width: 60%;
}
#AddBank textarea {
    width: 60%;
}
#AddBank .form {
    padding: 35px 30px;
    margin-top: 40px;
}
#AddBank .input_width input {
    height: 30px;
}
#AddBank .form-control {
    padding: 6px 6px;
}
#AddBank .select_margin .ant-select-selection__placeholder {
    font-size: 14px;
}
#AddBank .select_margin {
    margin-bottom: 35px;
}
#ConfirmForgotPassword .form .span-style-text {
    text-align: right;
    font-size: 14px;
    color: #969696;
}
#ConfirmForgotPassword .form .field-wrap span {
    background: transparent;
}
#ConfirmForgotPassword .form {
    padding: 35px 25px;
}
#ConfirmForgotPassword ul {
    width: 50%;
}
#ConfirmForgotPassword textarea {
    width: 50%;
}
#ConfirmForgotPassword .button-align-setting {
    margin-top: 60px;
}
#ConfirmForgotPassword #basic-addon2 {
    background: lightgray;
}
#ConfirmPayment ul {
    width: 100%;
}
#ConfirmPayment .button-align-setting {
    position: absolute;
    margin-top: 460px;
    width: 100%;
}
#LearnMore .icon_style {
    text-align: center;
}
#LearnMore .form {
    padding: 20px;
    font-size: 13px;
}
#LearnMore .lern-title {
    font-weight: bold;
    color: #a2a2a2;
    background: #edf2f5;
    text-align: left;
}
#LearnMore .ant-avatar-lg.ant-avatar-icon {
    font-size: 30px;
}
#LearnMore .ant-avatar-lg {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50px;
}
#LearnMore .icon_style h4 {
    margin-top: 5px;
}
#LearnMore .icon_style {
    margin-top: 10px;
    margin-bottom: 10px;
}
#LearnMore .select_style {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 70%!important;
}
#LearnMore .button-align-setting {
    margin-bottom: 50px;
}

#ApplyLoan .icon_style h4 {
    margin-top: 5px;
}
#ApplyLoan .icon_style {
    margin-top: 10px;
    margin-bottom: 10px;
	text-align: center;
}
#ApplyLoan .select_style {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 70%!important;
}
#ApplyLoan .ant-avatar-lg.ant-avatar-icon {
    font-size: 30px;
}
#ApplyLoan .ant-avatar-lg {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50px;
}
#ApplyLoan .form {
    padding: 20px;
    font-size: 13px;
}
#ApplyLoan .lern-title {
    font-weight: bold;
    color: #a2a2a2;
    background: #edf2f5;
    text-align: left;
}
#ApplyLoan  .upload-style .ant-upload{
   margin-top: 10px;
   width: 100px;
}
#ApplyLoan  .upload-style .ant-upload button{
	background: #bdbdbd;
	color: white;

	width: 60px;
}
#ApplyLoan  .table_uploadcol .ant-upload button{
	background: #bdbdbd;
	color: white;
	margin-left: -4px;
	width: 100%;
}
#ApplyLoan  .text_color{
	font-size: 11px;
	margin-top: 20px;
	color: red;
}
#ApplyLoan  .checkbox_style {
	text-align: right;
	margin-top: 20px;
	width: 100%;
	font-size: 11px;
	margin-bottom: 50px;
}
#ApplyLoan  .button-align-setting{
	margin-bottom: 50px;
}
#ApplyLoan  .table{
	margin-top: 30px;
    margin-bottom: 30px;
	padding: 0px;
	background: #f1f1f1;
-webkit-box-shadow: 0px 5px 14px 2px rgba(0,0,0,0.14);
-moz-box-shadow: 0px 5px 14px 2px rgba(0,0,0,0.14);
box-shadow: 0px 5px 14px 2px rgba(0,0,0,0.14);


}

#Lend  .form{
	padding: 20px;
	font-size: 12px;
}


#Lend .upload_style.ant-btn:hover, .ant-btn:focus{
	color:#0e77ca!important;
}

#Lend .table_uploadcol {
	width:calc(50% - 1px)!important;
	
	
}

#Lend .table_uploadco2 .table-cell{
		width:calc(100% - 1px)!important;
}

#Lend .table_uploadco4 .table-cell{
	width:calc(100% - 1px)!important;
}



#Lend .table_uploadcol .ant-btn:hover, .ant-btn:focus{
	color:#0e77ca!important;
}

#Lend .table_loanstyle{
	margin-bottom:30px;
}

#Lend .table-cellstyle{
	background:rgba(128, 128, 128, 0.11);
	
	
}

#Lend .table_cellwidth{
	font-weight:bold!important;
}


#Lend .text_color{
	color:#b83131;
	font-size:14px;
	text-align:center;
}
#Lend .checkbox_style{
	margin-bottom:30px;
	margin-top:30px;
	float:right;
}


#Lend .pagination_style{
	float:right!important;
}


#Lend .action2_btnstyle{
	border-color:#217fca!important;
	background-color:#437faf!important;
	color:white;
}

#Lend .action3_btnstyle{
	border-color:rgba(188, 85, 237, 0.65)!important;
	background-color:rgba(105, 49, 132, 0.65)!important;
	color:white;
}

#Lend .ant-btn:hover, .ant-btn:focus{
	color:white!important;
	
}

#Lend .table-header{
	background: #5a6165;
	color: white;
	margin-top: 20px;
}

#Lend .table_style{
	margin-top: 0px;
}

#Lend .table{
	padding: 0rem 0rem 0rem 0rem;
	max-width: none;
}


#LoanActivity .form{
	padding: 10px;
	
}

#LoanActivity .table_uploadco4 .table-cell{
	width: calc(26% - 1px);
}

#LoanActivity #tab-style{
	padding: 15px;
	font-size: 12px;
}
#LoanActivity .table_style{
	margin-top: -10px;
}
#LoanActivity .pagin-style{
	width: 100%;
	outline: none;
}

#LoanActivity .table-cellstyle{
	background: #a5a4a4;
	color: white;
}

#LoanActivity .table_cellwidth{
	width: calc(100% - 1px)!important;
	
}
#LoanActivity  .table_uploadco2 .table-cell{
		width:calc(50% - 1px)!important;
		
}
#LoanActivity  .table-cell span{
		word-wrap: break-word;
		
}







/*@media screen and (max-width: 346px) and (min-width: 320px){
	
		#LoanActivity .table_uploadco4 .table-cell{
	width:calc(100% - 1px)!important;
}

	
}
*/


#LoanActivity  .table_uploadco4  span{
	font-size: 12px;
		
}
#LoanActivity  #LEND {
	padding: 15px;
		
}

#LoanActivity  #RETURN {
	padding: 15px;
		
}

#LoanActivity  #BORROW {
	padding: 15px;
		
}





#LoanSummary .form{
	padding: 10px;
	
}

#LoanSummary .table_uploadco4 .table-cell{
	width: calc(26% - 1px);
}

#LoanSummary #tab-style{
	padding: 15px;
	font-size: 12px;
}
#LoanSummary .tab-panels{
	font-size: 12px;
}
#LoanSummary .table_style{
	margin-top: -10px;
}
#LoanSummary .pagin-style{
	width: 100%;
	outline: none;
}

#LoanSummary .table-cellstyle{
	background: #a5a4a4;
	color: white;
}

#LoanSummary .table_cellwidth{
	width: calc(100% - 1px)!important;
	
}
#LoanSummary  .table_uploadco2 .table-cell{
		width:calc(50% - 1px)!important;
		
}
#LoanSummary  .table-cell span{
		word-wrap: break-word;
		
}

#LoanSummary  .table_uploadco4  span{
	font-size: 12px;
		
}
#LoanSummary  #LEND {
	padding: 15px;
		
}


#LoanSummary  #BORROW {
	padding: 15px;
		
}

.search-enter{
	width: 0;
}

.search-enter{
	width: 0;
}
