/* Login form */
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.mylogo {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  padding-bottom: 50px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.input-group{
  display: flex;
  margin-bottom: 15px;
}

#login-page .input-group-addon {
  border: none!important;
  border-radius: 0!important;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button, .form_button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #41aed7;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #f44336;
}

.form_button:hover, .form_button:active,.form_button:focus {
  background: #f44336;
}

.box {
  display: flex;
  justify-content: space-between;
}

.form .forgotp {
  margin: 15px 0 0;
  color: #666666;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.form .lang {
  margin: 15px 0 0;
  color: #666666;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  text-align: right;
}

.form .forgotp a {
  color: #666666;
  text-decoration: none;
}

.form .lang a {
  color: #666666;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}

.langMenu {
  position: absolute;
  right: 20px;
  bottom: -20px;
  list-style-type: none;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.langMenu li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.table_style {
  margin-bottom: 30px;
}

footer {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: white;
  text-align: center;
  background-color: #191919;
  height: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.errorMsg {
  color: red;
}

.report {
  width: 100%;
}

.report th {
  background-color: grey;
  color: white;
}

.report th, .report td {
  padding: 10px;
  text-align: center;
  border: 1px solid green;
}

.inputTxt {
  padding: 10px;
}

.createBtn {
  background-color: #9aab38;
  border: none;
  padding: 5px 15px;
  color: white;
  font-size: 1.5em;
  border-radius: 5px;
  cursor: pointer;
}

.submitBtn {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #00a99c;
  border: 0;
  padding: 8px;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 15%;
}

.backBtn {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #0074d9;
  width: 10px;
  border: 0;
  padding: 8px;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 15%;
}

.viewBtn {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #0074d9;
  width: 10px;
  border: 0;
  padding: 8px;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 15%;
}

.deleteBtn {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ff4136;
  width: 10px;
  border: 0;
  padding: 8px;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 15%;
}

.border {
  border: 2px solid #c7c7c7;
  padding: 25px 10px;
  border-radius: 25px;
}

.clear {
  clear: both;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-page {
  width: 50%;
  padding: 20px 0;
}

#transferpage .ant-input,#createuser .ant-input, #addgroup .ant-input, #createcamp .ant-input{
  width: 80%;
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .half-page {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) and (min-width: 320px) {
  .half-page {
    width: 100%;
  }
  .select_margin .label_space {
    padding: 0;
  }
  .content-1 {
    padding: 10px 5% 40px 5%!important;
  }
  .tabs {
    margin: 10px auto!important;
  }
}

@media (max-width: 550px)  {
  .label_space {
    width: 100%!important;
    margin-bottom: 10px;
  }
  .select_style {
    width: 100%!important;
  }
  .select_margin{
    padding: 10px;
  }
  #transferpage .ant-input, #addgroup .ant-input, .upload_style, #createcamp .ant-input {
    width: 100%!important;
  }
  .mylabel {
    width: 100%!important;
  }
  #table_body {
    overflow-y: scroll;
    padding: 0;
  }

  #camp-option {
    width: 50%!important;
  }
}

@media (max-width: 360px) {
  #camp-option {
    width: 50%!important;
  }
}
/*transferpage styling*/
a {
  text-decoration: none;
}

a.link {
  color: #4477CC;
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}

a.link:hover {
  color: #e08f24;
}

p {
  margin-bottom: 10px;
}

.tabs {
  position: relative;
  margin: 40px auto;
  max-width: 100%;
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: 60px;
}

.tabs .myinput {
  position: absolute;
  z-index: 1000;
  height: 50px;
  left: 0;
  top: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
  margin: 0;
}

.tabs .myinput#tab-2 {
  left: 50%;
}

.tabs .mylabel {
  background: #15c5d2;
  color: #fefefe;
  font-size: 15px;
  line-height: 50px;
  top: 0;
  padding: 1px 20px;
  float: left;
  display: block;
  width: 50%;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}

.tabs .mylabel:hover {
  cursor: pointer;
}

.tabs .mylabel:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
}


.tabs .mylabel:first-of-type {
  z-index: 4;
}

.tab-label-2 {
  z-index: 4;
}

.tab-label-3 {
  z-index: 3;
}

.tab-label-4 {
  z-index: 2;
}

.tabs .myinput:checked + .mylabel {
  background: #18b7bb;
  color: white;
}

.content {
  height: auto;
  width: 100%;
  float: left;
  position: relative;
  z-index: 5;
  background: #fefefe;
  top: -10px;
  box-sizing: border-box;
}

.content .items {
  position: relative;
  float: left;
  width: 0;
  height: 0;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  background: #f7f7f7;
}

.content .items h2 {
  margin-top: 0;
}


.tabs .tab-selector-1:checked ~ .content .content-1,
.tabs .tab-selector-2:checked ~ .content .content-2,
.tabs .tab-selector-3:checked ~ .content .content-3,
.tabs .tab-selector-4:checked ~ .content .content-4 {
  z-index: 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  width: 100%;
  height: auto;
  width: 100%;
  height: auto;
  padding: 10px 1% 80px 1%;
}

.content .items h2 {
  color: #4477CC;
}

.content .items p {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin: 0;
  color: #777;
}

.my-page {
  width: 50%;
}

/*Table Styling*/
#table_body{
  width:100%;
  margin:auto;
  padding: 0 20px;
}

table{
  border-collapse:collapse;
  width:100%;
}

.table_style thead{
  background: #d3d3d3;
  color: #626262;
}

/*Title bar styling*/
.table_style th{
  text-align :center;
  padding: 10px 0px;
}

/*Content bar styling*/
.table_style td{
  text-align: center;
  padding: 15px 0px;
  color: #818181;
}

tbody tr:nth-child(even){
  color: #818181;
  background:#ECF0F1;
}

tbody tr:hover{
  background:#BDC3C7;
  color: white;
}

.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:none;
}

.end{
  margin-top:800px;
}

/*userpage styling*/
.title-btn {
  text-align: left;
  padding: 20px 0;
}

.createuser_btn {
  background-color: #9aab38;
  border: none;
  padding: 10px 50px;
  color: white;
  font-size: 1.5em;
  border-radius: 5px;
}

a{
  color: #739931;
}


table th,
table td{
  text-align: left;
}
table.layout{
  width: 90%;
  border-collapse: collapse;
}

table.display{
  margin: 1em 0;
}

table.display th,
table.display td{
  border: 1px solid #B3BFAA;
  padding: .5em 1em;
}

table.display th{ background: #D5E0CC; }
table.display td{ background: #fff; }

table.responsive-table{
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 30em){
  table.responsive-table{
    box-shadow: none;
  }
  table.responsive-table thead{
    display: none;
  }
  table.display th,
  table.display td{
    padding: .5em;
  }

  table.responsive-table td:nth-child(1):before{
    content: 'Number';
  }
  table.responsive-table td:nth-child(2):before{
    content: 'Name';
  }
  table.responsive-table td:nth-child(1),
  table.responsive-table td:nth-child(2){
    padding-left: 25%;
  }
  table.responsive-table td:nth-child(1):before,
  table.responsive-table td:nth-child(2):before{
    position: absolute;
    left: .5em;
    font-weight: bold;
  }

  table.responsive-table tr,
  table.responsive-table td{
    display: block;
  }
  table.responsive-table tr{
    position: relative;
    margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  table.responsive-table td{
    border-top: none;
  }
  table.responsive-table td.organisationnumber{
    background: #D5E0CC;
    border-top: 1px solid #B3BFAA;
  }
  table.responsive-table td.actions{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
  }
}

.view_button {
  background-color: #28abe3;
  color: #ffff;
  padding: 4px 20px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.activate_button {
  background-color: #228b22;
  color: #ffff;
  padding: 4px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.del_button {
  background-color: #ff0000;
  color: #ffff;
  padding: 4px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.blank_row {
  height: 50px !important; /* overwrites any other rules */
  background-color: #FFFFFF;
}

/*Pop up dialoug*/
.userpage .ant-modal-content {
  border-radius: 2em!important;
  border: 4px solid #e6e6e6;
  width: 440px;
  left: 10%;
  right: 30%;
}

.userpage .ant-modal-footer{
  display: none;
}

.userpage .pop-msg {
  text-align: center;
  padding : 10px 0 20px;
}

.yes_button {
  font-size: 1em;
  background-color: #9aab38;
  color: #ffff;
  padding: 4px 30px;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.no_button {
  font-size: 1em;
  background-color: #808080;
  color: #ffff;
  padding: 4px 30px;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.userpage .title_color {
  padding-bottom: 20px;
}

.userpage .content_text {
  position: relative;
  left: 12%;
  top: 50%;
  width: 300px;
  font-size: 18px;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .userpage .ant-modal-content {
    left: 20%;
  }

  .userpage .content_text {
    width: 90%;
    left: 20px;
    font-size: 1.8em;
  }

  .userpage .yes_button {
    font-size: 1.5em;
    width: 120px;
    height: 40px;
  }
  .userpage .no_button {
    font-size: 1.5em;
    width: 120px;
    height: 40px;
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .userpage .ant-modal-content {
    width: 98%;
    left: 1%;
  }

  .userpage .title_color{
    font-size: 4em;
  }

  .userpage .content_text {
    width: 90%;
    left: 20px;
    font-size: 2em;
  }
  .userpage .yes_button {
    font-size: 2em;
    width: 100%;
    height: 50px;
  }
  .userpage .no_button {
    font-size: 2em;
    width: 100%;
    height: 50px;
  }
}
.title_color {
  color: #666666;
}

.content_text {
  color: #696969;
}

/*Create User Page*/
.select_style {
  width: 80%;
}

.select_style .ant-select-arrow{
  color: black;
}

.select_margin {
  padding: 10px;
}

.label_space {
  font-size: 14px;
  padding-top: 5px;
  text-align: left;
  width: 20%;
  float: left;
}

.button-align-setting {
  padding-top: 40px;
  padding-bottom: 40px;
  float: none!important;
  text-align: right;
}

.sendmsg_button {
  background-color: #00a99c;
  border: none;
  color: white;
  padding: 8px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
}

.sendmsg_button:hover {
  background-color: red;
}

/*Topup Page*/
@media screen and (min-width: 480px) {
  .topup-cat .ant-row {
    font-size: 2em;
    width: 100%;
    padding: 10px 0 20px 0;
    white-space: nowrap;
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .topup-cat .ant-row{
    font-size: 1em;
    width: 100%;
    padding: 10px 0 20px 0;
    white-space: nowrap;
  }
}

.topup-cat {
  margin-left: 25px;
  color: #8f8f8f!important;
  font-size: 14px;
  font-weight: 400;
}
.topup-credit {
  width: 100%;
}

#topup .button-align-setting {
  padding-right: 50px;
}

.inv_button {
  font-size: 1em;
  background-color: #28abe3;
  color: #ffff;
  padding: 4px 10px;
  border: none;
  margin: 5px;
  white-space: nowrap;
  cursor: pointer;
}

.pay_button {
  font-size: 1em;
  background-color: #0270bb;
  color: #ffff;
  padding: 4px 10px;
  border: none;
  margin: 5px;
  white-space: nowrap;
  cursor: pointer;
}

/*Addgroup Page*/
.upload_style{
  background-color: #28abe3!important;
  border-radius: 0px!important;
  color: white!important;
  font-weight: bolder;
  width: 80%;
}

.upload_style:hover{
  background-color: white!important;
  border-radius: 0px!important;
  color: #28abe3!important;
}

.ant-upload-select{
  display: inline!important;
}

/*Groupreceiver Page*/
.re_button {
  font-size: 1em;
  background-color: #eb3f77;
  color: #ffff;
  padding: 4px 10px;
  border: none;
  margin: 5px;
}

.hplist {
  overflow-y: scroll;
  height:200px;
  box-shadow: inset 0 0 5px #eeeeee;
  font-size: 1.4em;
  color: #696969;
}

/* width */
.hplist::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.hplist::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e9e9e9;
}

/* Handle */
.hplist::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 10px;
}

.update-msg {
  margin-left: 15%;
}

/*Createcamp Page*/
.cat-group{
  white-space: nowrap;
  line-height: 35px;
  margin-left: 20%;
}

#createcamp span {
  font-size: 1.1rem!important;
  line-height: 4px;
}

#createcamp .my-group-select {
  line-height: 10px;
}

/*Sendmsg Page*/
.select_style {
  background-color: #efeef4!important;
  padding: 0!important;
  border-radius: 0;
}

.select_style .ant-select-selection{
  background-color: #efeef4!important;
  padding: 0!important;
  border-radius: 0;
}

.select_style .ant-select-arrow{
  color: black;
}

.select_margin {
  padding: 10px;
}

.label_space {
  font-size: 14px;
  padding-top: 5px;
  text-align: left;
}

.button-align-setting {
  padding-top: 20px;
  float: right;
}

.sendmsg_button:hover {
  background-color: red;
}

/*apidoc Page*/

.app-title{
  text-align: left;
  font-weight: bolder;
  color: #666666;
}

.container {
  max-width: 100% !important;
  padding:0; margin:0;
}

.apiDoc {
  border-radius: .3rem;
}

.api-padd {
  padding: 35px 0;
}

.square {
  background-color: #f1f1f1;
  margin: 10px 10px;
  padding: 50px 0;
  text-align: center;
}

.square:hover{
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.square img {
  width: 30%;
  padding: 10px 10px;
  background-color: #03917b;
}

.apiTitle {
  color: #656565;
  padding-top: 10px;
  font-size: 1.3em;
}

.spacing {
  border: 2px solid #c7c7c7;
  padding: 25px 10px;
  border-radius: 25px;
}

#createcamp_tag .tag_sty{
  width: 100%;
}
#createcamp_tag .tag_sty .select_style{
  float: left;
  background: #f6f6f6!important;
  padding: 10px!important;
}
#createcamp_tag .tag_sty .li_sty {
  width: 33.33%;
  float: left;
  padding: 10px 30px;
}
#createcamp_tag .tag_sty button{

  border-radius: 6px;
  background-color: #b3334e;

  color: #FFF;
  cursor: pointer;
  padding: 4px 12px 5px 8px !important;
  text-align: center;
  list-style: none;
  width: 100%;
  border: none;
  text-decoration: none;
}
#createcamp_tag .group{
  float: left;
  width: 100%;
  margin-top: 10px;
}
#createcamp_tag .select_style i{
  font-size: 17px;
  color: #fff;
  float: right;
}

@media (max-width: 1850px) {
  #createcamp_tag .tag_sty .li_sty {
    padding: 10px 10px;
  }
}
@media (max-width: 1500px) {
  #createcamp_tag .tag_sty .li_sty {
    padding: 10px 5px;
  }
  #createcamp_tag .tag_sty button{
    padding: 5px!important;
    font-size: 12px;
  }
  #createcamp_tag .select_style i{
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  #createcamp_tag .tag_sty .li_sty {
    padding: 10px 10px;
  }

  #createcamp_tag .tag_sty .li_sty {
    width: 50%;
  }
}

@media (max-width: 769px) {
  #createcamp_tag .tag_sty .li_sty {
    width: 33.33%;
  }
}
@media (max-width: 700px) {
  #createcamp_tag .tag_sty .li_sty {
    width: 50%;
  }
}
@media (max-width: 450px) {
  #createcamp_tag .tag_sty button {
    font-size: 10px;
  }

  #createcamp_tag .select_style i {
    font-size: 10px;
  }

  #createcamp_tag .tag_sty .li_sty {
    padding: 5px 5px;
  }

  #createcamp_tag .tag_sty .select_style {
    padding: 5px !important;
  }
}