html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #111111;
	font-weight: 500;
}
h1 {
	font-size: 70px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	font-size: 15px;
	color: #585858;
	line-height: 1.6;
	font-weight: 500;
}
img {
	max-width: 100%;
}
input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
ul, ol {
	padding: 0;
	margin: 0;
}
::-webkit-input-placeholder {
	color: #fff;
	font-style: italic;
	text-transform: uppercase;
}
:-ms-input-placeholder {
	color: #fff;
	font-style: italic;
	text-transform: uppercase;
}
::-ms-input-placeholder {
	color: #fff;
	font-style: italic;
	text-transform: uppercase;
}
::placeholder {
	color: #fff;
	font-style: italic;
	text-transform: uppercase;
}
/*--------------------- Helper CSS -----------------------*/
.section-title h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 700;
	font-style: italic;
}
.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.spad {
	padding-top: 105px;
	padding-bottom: 105px;
}
.text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white p, .text-white span, .text-white li, .text-white a {
	color: #fff;
}
/*--------------------- Commom elements -----------------------*/
/* buttons */
.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 700;
	font-style: italic;
	min-width: 186px;
	padding: 24px 30px;
	border-radius: 0;
	text-transform: uppercase;
	color: #081624;
	line-height: normal;
	cursor: pointer;
	text-align: center;
	background: #fff;
	position: relative;
	z-index: 1;
}
.site-btn img {
	position: relative;
	left: 13px;
	width: auto !important;
	display: inline-block !important;
}
.site-btn:before {
	left: 0;
	top: 0;
	background: #fff;
	z-index: -1;
}
.site-btn:hover {
	color: #081624;
}
/* Preloder */
#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}
.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}
@keyframes loader {
	0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			border: 4px solid #f44336;
			border-left-color: transparent;
 }
	50% {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
			border: 4px solid #673ab7;
			border-left-color: transparent;
 }
	100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			border: 4px solid #f44336;
			border-left-color: transparent;
 }
}
@-webkit-keyframes loader {
	0% {
			-webkit-transform: rotate(0deg);
			border: 4px solid #f44336;
			border-left-color: transparent;
 }
	50% {
			-webkit-transform: rotate(180deg);
			border: 4px solid #673ab7;
			border-left-color: transparent;
 }
	100% {
			-webkit-transform: rotate(360deg);
			border: 4px solid #f44336;
			border-left-color: transparent;
 }
}
/*------------------ Header section ---------------------*/
.header-section {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99;
}
.header-warp {
	margin: 0 auto;
	background: #272833;
}
.header-social p, .footer-social p {
	display: inline-block;
	color: #9190a5;
	font-size: 16px;
	margin-bottom: unset !important;
	height: 20px;
}
.header-social a, .footer-social a {
	display: -ms-inline-flex;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 32px;
	height: 32px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	margin-left: 13px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.header-social a:hover, .footer-social a:hover {
	background: #0087cb;
}
.header-bar-warp {
	background: #081624;
	display: flex;
	align-items: center;
	height: 45px;
	padding: 0px 15px;
}
.site-logo {
	max-width: 80%;
}
.slider-logo {
	border-radius: 100%;
	display: inline-block;
	height: 18em;
	margin-left: 3em;
	vertical-align: middle;
	width: 18em;
}
.user-panel a {
	color: #fff;
}
.user-panel a:hover {
	color: #0087cb;
}
.main-menu {
	list-style: none;
	text-align: center;
	padding-top: 3px;
}
.main-menu li {
	display: inline-block;
	position: relative;
}
.main-menu li a {
	display: block;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	margin-right: 40px;
	position: relative;
	padding-right: 20px;
}
.main-menu li a:after {
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
	right: 0;
	top: 1px;
	background-image: url('../img/icons/arrow-down.png');
	background-repeat: no-repeat;
	background-position: right center;
}
.main-menu li a i {
	color: #928d92;
	margin-left: 5px;
}
.main-menu li a:hover {
	color: #0087cb;
}
.main-menu li a:hover:after {
	background-image: url('../img/icons/arrow-down-color.png');
}
.main-menu li a:hover i {
	color: #0087cb;
}
.main-menu li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}
.main-menu li:hover>a {
	color: #0087cb;
}
.main-menu li:hover>a:after {
	background-image: url('../img/icons/arrow-down-color.png');
}
.main-menu li .sub-menu {
	position: absolute;
	list-style: none;
	text-align: left;
	width: 220px;
	left: 0;
	top: 100%;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.4);
}
.main-menu li .sub-menu li {
	display: block;
}
.main-menu li .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 8px 30px;
}
.main-menu li .sub-menu li a:after {
	display: none;
}
.main-menu li .sub-menu li a:hover {
	color: #0087cb;
}
.toggle_icon{
	display: none;
}
.slicknav_btn {
	position: relative;
	display: flex;
	vertical-align: middle;
	float: right;
	line-height: 1.125em;
	height: 45px;
	justify-content: center;
	align-items: center;
}
/* ---------------- Banner section ---------------------*/
.slider-container {
	position: relative;
	height: 600px;
	user-select: none;
	cursor: all-scroll;
}
.slider-control {
	z-index: 2;
	position: absolute;
	top: 0;
	width: 12%;
	height: 100%;
	transition: opacity 0.3s;
	will-change: opacity;
	opacity: 0;
}
.slider-control.inactive:hover {
	cursor: auto;
}
.slider-control:not(.inactive):hover {
	opacity: 1;
	cursor: pointer;
}
.slider-control.left {
	left: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
	right: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}
.slider-pagi {
	position: absolute;
	z-index: 3;
	left: 50%;
	bottom: 2rem;
	transform: translateX(-50%);
	font-size: 0;
	list-style-type: none;
}
.slider-pagi__elem {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 2rem;
	height: 2rem;
	margin: 0 0.5rem;
	border-radius: 50%;
	border: 2px solid #fff;
	cursor: pointer;
}
.slider-pagi__elem:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1.2rem;
	height: 1.2rem;
	background: #fff;
	border-radius: 50%;
	transition: transform 0.3s;
	transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
	transform: translate(-50%, -50%) scale(1);
}
.slider {
	z-index: 1;
	position: relative;
	height: 100%;
}
.slider.animating {
	transition: transform 0.5s;
	will-change: transform;
}
.slider.animating .slide__bg {
	transition: transform 0.5s;
	will-change: transform;
}
.slide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.slide.active .slide__overlay, .slide.active .slide__text {
	opacity: 1;
	transform: translateX(0);
}
.slide__bg {
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background-size: cover;
	will-change: transform;
	background-repeat: no-repeat;
}
.slide:nth-child(1) {
	left: 0;
}
.slide:nth-child(1) .slide__bg {
	left: 0;
	background-image: url('../img/slider-bg-1.jpg');
}
.slide:nth-child(1) .slide__overlay-path {
	fill: #0087cb69;
}
.slide:nth-child(2) {
	left: 100%;
}
.slide:nth-child(2) .slide__bg {
	left: -50%;
	background-image: url('../img/slider-bg-2.jpg');
}
.slide:nth-child(2) .slide__overlay-path {
	fill: #00000061;
}
.slide__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.slide__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	min-height: 810px;
	transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
	will-change: transform, opacity;
	transform: translate3d(-20%, 0, 0);
	opacity: 0;
}
.logo_slider{
	right: 25%;
	position: absolute;
	bottom: 30%;
}
.banner-logo{
	width: 100%;
 /* opacity: .5;
	*/
}
.slide__overlay path {
	opacity: 0.8;
}
.slide__text {
	position: absolute;
	width: 40%;
	bottom: 37%;
	left: 13%;
	color: #fff;
	transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
	will-change: transform, opacity;
	transform: translateY(-50%);
	opacity: 0;
}
.slide__text-heading {
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: .7rem;
	color: #fff;
	text-align: right;
}
.slide__text-desc {
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
	color: #fbfbfb8f;
	text-align: right;
}
.slide__text-link {
	z-index: 5;
	display: inline-block;
	position: relative;
	padding: 0.5rem;
	cursor: pointer;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 2.3rem;
	perspective: 1000px;
}
.slide__text-link:before {
	z-index: -1;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	transform-origin: 50% 100%;
	transform: rotateX(-85deg);
	transition: transform 0.3s;
	will-change: transform;
}
.slide__text-link:hover:before {
	transform: rotateX(0);
}
@media only screen and (min-width: 770px) and (max-width: 1000px) {
	.logo_slider {
			right: 10%;
 }
}
@media (max-width: 769px) {
	.slide__text {
			right: 15%;
			top: 25%;
			left: 0;
			width: 80%;
			text-align: center;
			transform: translateY(50%);
			transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
			margin-left: auto;
 }
	.slide__bg {
			background-position: top;
 }
	.logo_slider {
			right: 15%;
			bottom: 0%;
			top: 47%;
 }
	.slide__text-desc {
			font-size: 1rem;
 }
	.slide__overlay{
			display: none;
 }
}
/* ---------------- Intro section ---------------------*/
.intro-section {
	background: #081624;
	padding: 115px 0;
}
.text-box .top-meta {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 20px;
}
.text-box .top-meta a {
	color: #0087cb;
}
.text-box h3 {
	margin-bottom: 40px;
	max-width: 370px;
}
.text-box p {
	font-size: 15px;
	font-weight: 500;
	color: #68647d;
	margin-bottom: 35px;
	min-height: 120px;
}
.text-box .read-more {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
	font-style: italic;
	color: #fff;
}
.text-box .read-more img {
	margin-left: 13px;
}
/* ---------------- Blog Section ---------------------*/
.blog-section {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#501755+0,2d1854+100 */
	background: #272833;
}
.blog-section .section-title {
	margin-bottom: 25px;
}
.blog-filter {
	list-style: none;
	display: block;
}
.blog-filter li {
	display: inline-block;
}
.blog-filter li a {
	display: block;
	color: #fff;
	padding: 16px 36px;
	font-size: 16px;
	font-weight: 700;
	background: #0087cb;
	line-height: 1.1;
	margin-right: 7px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 10px;
}
.blog-filter li a:hover {
	background: #0087cb;
}
.blog-item {
	margin-top: 86px;
}
.blog-item .blog-thumb {
	width: 362px;
	float: left;
	margin-right: 30px;
}
.blog-item .text-box {
	overflow: hidden;
}
.blog-item .text-box p {
	margin-bottom: 42px;
}
.widget-item {
	margin-bottom: 85px;
}
.widget-item:last-child {
	margin-bottom: 0;
}
.widget-item .widget-title {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-style: italic;
	padding-left: 38px;
	margin-bottom: 48px;
}
.trending-widget .tw-item {
	margin-bottom: 38px;
}
.trending-widget .tw-item:last-child {
	margin-bottom: 0;
}
.trending-widget .tw-thumb {
	float: left;
	margin-right: 17px;
	overflow: hidden;
}
.trending-widget .tw-text .tw-meta {
	color: #68647d;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 7px;
}
.trending-widget .tw-text .tw-meta a {
	color: #0087cb;
}
.trending-widget .tw-text h5 {
	font-size: 18px;
	color: #fff;
	line-height: 1.5;
}
.categories-widget {
	background: #1c1d26;
	padding: 55px 0 25px;
}
.categories-widget ul {
	list-style: none;
	padding: 0 38px;
}
.categories-widget ul li {
	display: block;
}
.categories-widget ul li a {
	display: inline-block;
	position: relative;
	font-size: 16px;
	color: #68647d;
	font-weight: 500;
	margin-bottom: 15px;
	padding-right: 19px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	background-image: url('../img/icons/double-arrow.png');
	background-repeat: no-repeat;
	background-position: right -120% center;
	background-size: 11px;
}
.categories-widget ul li a:hover {
	color: #ffffff;
	background-position: right center;
}
.search-widget {
	position: relative;
}
.search-widget input {
	width: 100%;
	height: 40px;
	border: none;
	border-bottom: 2px solid #72628b;
	background: none;
	padding-right: 60px;
	color: #fff;
}
.search-widget button {
	position: absolute;
	right: 0;
	top: 0;
	color: #0087cb;
	font-weight: 700;
	font-size: 14px;
	font-style: italic;
	cursor: pointer;
	background: none;
	border: none;
	text-transform: uppercase;
}
.latest-comments .lc-item {
	margin-bottom: 30px;
}
.latest-comments .lc-item:last-child {
	margin-bottom: 0;
}
.latest-comments .lc-item .lc-avatar {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	float: left;
	margin-right: 12px;
}
.latest-comments .lc-item .tw-text {
	padding-top: 10px;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
}
.latest-comments .lc-item .tw-text a {
	color: #0087cb;
}
.latest-comments .lc-item .tw-text span {
	color: #68647d;
}
/* -------------------- Video section ----------------------*/
.video{
	background-image: url('../img/promo-bg.jpg');
	background-size: cover;
	object-fit: cover;
	background-repeat: no-repeat;
	height: 500px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.overlay-content{
	width: 100%;
}
.overlay-content .play-btn{
	background: #ffffff36;
	padding: 10px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto 
}
.overlay-content .play-btn img{
	width: 50%;
}
.video-text {
	position: absolute;
	bottom: 8%;
	left: 20%;
}
.line-b{
	border-left-style: solid;
	border-left-color: #0087cb;
}
.line-w{
	border-left-style: solid;
	border-left-color: #fff;
}
.video-text .content{
	padding-left: 30px;
}
.video-text .content h3{
	color: #fff 
}
.video-text .content p{
	color: #ffffff61 
}
.video-section .modal-header{
	border-bottom: 0;
}
.video-section .modal-content{
	background: transparent;
}
.video-section .close{
	color: #fff;
	opacity: 1;
}
/* -------------------- Newsletter section ----------------------*/
.gradient-bg, .newsletter-section {
	background: #3e0f3d;
 /* Old browsers */
 /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #272833 0%, #1c1d26 100%);
 /* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#272833), to(#1c1d26));
	background: -o-linear-gradient(left, #272833 0%, #1c1d26 100%);
	background: linear-gradient(to right, #272833 0%, #1c1d26 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e0f3d', endColorstr='#1c0f3b', GradientType=1);
 /* IE6-9 */
}
.newsletter-section {
	padding: 108px 0 95px;
	text-align: center;
}
.newsletter-section h2 {
	font-size: 48px;
	color: #fff;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	margin-bottom: 73px;
}
.newsletter-form {
	padding-left: 56px;
}
.newsletter-form input {
	font-size: 14px;
	font-weight: 700;
	font-style: italic;
	color: #fff;
	width: 787px;
	border: none;
	border-bottom: 2px solid #9b91a6;
	background: none;
	height: 63px;
	margin-right: 26px;
}
/* ---------------- Footer section ---------------------*/
.footer-section {
	text-align: center;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#330d38+0,190d36+100 */
	background: #1c1d26;
 /* Old browsers */
 /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1c1d26 0%, #272833 100%);
 /* Chrome10-25,Safari5.1-6 */
	background: -webkit-gradient(linear, left top, right top, from(#1c1d26), to(#272833));
	background: -o-linear-gradient(left, #1c1d26 0%, #272833 100%);
	background: linear-gradient(to right, #1c1d26 0%, #272833 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#330d38', endColorstr='#272833', GradientType=1);
 /* IE6-9 */
}
.footer-section .container {
	position: relative;
	padding: 60px 15px 25px;
}
.footer-left-pic {
	position: absolute;
	left: -13px;
	bottom: 19px;
}
.footer-right-pic {
	position: absolute;
	right: 50px;
	bottom: 19px;
}
.footer-menu {
	padding-top: 62px;
}
.footer-menu li:last-child a {
	margin-right: 0;
}
.footer-social {
	padding-top: 20px;
	padding-bottom: 40px;
}
.footer-social a:first-child {
	margin-left: 0;
}
.copyright {
	font-size: 12px;
	font-weight: 500;
	color: #9190a5;
	opacity: 0.2;
}
.copyright a {
	color: #9190a5;
}
.copyright a:hover {
	text-decoration: underline;
}

/* ---------------- Responsive ---------------------*/
@media (min-width: 1200px) {
	.container {
		max-width: 1175px;
	}
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.blog-item .blog-thumb {
		width: 250px;
	}
	.newsletter-form {
		padding-left: 0;
	}
	.newsletter-form input {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.blog-item .blog-thumb {
		float: none;
		margin-right: 0;
		width: 100%;
		margin-bottom: 30px;
	}
	.newsletter-form input {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}
	.footer-right-pic {
		right: 15px;
	}
	.footer-left-pic {
		left: -44px;
	}
}

/* Fix broken li responsive */
@media only screen and (min-width: 769px) and (max-width: 910px) {
	.main-menu li a {
		margin-right: 10px;
	}
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
	.header-bar-warp {
		height: 60px;
	}
	.main-menu.primary-menu {
		display: none;
	}
	.footer-right-pic,
	.footer-left-pic {
		display: none;
	}
	.intro-text-box {
		margin-bottom: 40px;
	}
	.blog-item .blog-thumb {
		float: none;
		margin-right: 0;
		width: 100%;
		margin-bottom: 30px;
	}
	.sidebar {
		padding-top: 60px;
	}
	.newsletter-form {
		padding-left: 0;
	}
	.newsletter-form input {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
	}
	.page-top-section {
		height: 400px;
		padding-top: 250px;
	}
	.toggle_icon {
		display: block;
		right: 20px;
		position: absolute;
		top: 55%;
	}
	.toggle_icon i {
		color: #fff;
	}
	.user-panel {
		position: absolute;
		background-color: #272833;
		left: 0;
		width: 100%;
		top: 100%;
	}
	.main-menu {
		text-align: left;
	}
	.main-menu li {
		width: 100%;
		padding: 10px
	}
	.main-menu li a:after {
		background-image: none;
		right: auto;
	}
	.main-menu li a:hover:after {
		background-image: none;
	}
	.main-menu li:hover>a:after {
		background-image: none;
	}
	.main-menu li:nth-child(2) a:after {
		background-image: url('../img/icons/arrow-down.png');
	}
	.main-menu li:nth-child(2):hover>a:after {
		background-image: url('../img/icons/arrow-down-color.png');
	}
	.main-menu li .sub-menu {
		text-align: center;
		width: 200px;
		left: 10px;
		padding: 10px 0;
	}
	.video {
		background-position: bottom;
	}
	.video-text {
		left: 10%;
	}
	.video-text .content {
		padding-left: 20px;
	}
}

/* Small Mobile :320px. */
@media only screen and (max-width: 479px) {
	.newsletter-section h2 {
		font-size: 35px;
	}
}