@media (max-width: 800px) {

    #MenuPage .logo img {
        width: 200px;
    }

    #MenuPage .top_menu .care_pa p {
        margin: 10px 0px;
        font-size: 1.3em;
    }

    #MenuPage .top_menu .care_pa i {
        font-size: 2em;
        margin-top: 10px;
    }

    #MenuPage .top_menu .care_pa {
        padding: 10px 10px;
    }

    #MenuPage .top_menu {
        padding: 0px 10px 0px 10px;
    }

    #DogFood .card_pan {
        width: 33.33%;
    }

    #PetAccessories .card_pan {
        width: 33.33%;
    }
    #VideoMid .card_pan{
        width: 33.33%;
    }
}

@media (max-width: 700px) {
    #VideoMid .card_pan{
        width: 100%;
        padding: 0px;
        margin-bottom: 20px;
    }
    #TopVideo .video_top {
        width: 100%;

    }
    #TopVideo .top_title {
        width: 100%;
    }
    #TopVideo .icon_text {
        padding-top: 0px;
    }
    #TopVideo {
        padding: 10px 0px;
    }
    #TopVideo .top_title .ant-avatar-image{
        float: left;
    }

    #TopVideo .top_title .top_res{
        padding-left: 10px;
        float: left;
    }
    #TopVideo .top_title .ant-avatar-image {
        width: 70px;
        height: 70px;
        float: left;
        margin-top: 10px;
    }
    #VideoMid .ant-card-body {
        padding: 10px 0px ;
    }
    #VideoMid .ant-card-meta{
        padding: 10px 20px;
    }
    #VideoMid  .ant-avatar-image{
        width: 50px;
        height: 50px;
    }
    #VideoMid .video_mid {
             height: 220px;

    }

}


@media (max-width: 600px) {
    #MenuPage .logo img {
        width: 250px;
    }

    #DogFood .card_pan {
        width: 50%;
    }

    #PetAccessories .card_pan {
        width: 50%;
    }

    #Dog .card_pan {
        width: 50%;
    }

    #Cat .card_pan {
        width: 50%;
    }

    #Dog .ant-card-head-title {
        text-align: center;
    }

    #Cat .ant-card-head-title {
        text-align: center;
    }

    #LogoSlider .ant-card-head-title {
        text-align: center;
    }

    #DogFood .ant-card-head-title {
        text-align: center;
    }

    #PetAccessories .ant-card-head-title {
        text-align: center;
    }
    #TopVideo .video_top {
        height: 300px;
    }
    #VideoMid .ant-card-head-title {
        text-align: center;
    }
    #LoginPage .login_logo img {
        width: 250px;
    }
    #LoginPage input[type='text'] {
        height: 35px;
    }
    #LoginPage input[type='password'] {
        height: 35px;
    }
}

@media (max-width: 500px) {
    #MenuPage .logo img {
        width: 200px;
    }

    #MenuPage .care_pa .ant-card-grid {
        padding: 20px;
    }

    #MenuPage .top_menu .care_pa p {
        font-size: 1em;
        margin: 5px 0px;
    }

    #MenuPage .top_menu .care_pa i {
        font-size: 1.5em;
        margin-top: 5px;
    }

    #BannerSlider .ar_width {
        margin-top: -20px;
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
    }

    #LogoSlider img {
        width: 80px;

    }

    #DogFood .card_pan {
        width: 50%;
        padding: 5px 4px;
    }

    #PetAccessories .card_pan {
        width: 50%;
        padding: 5px 4px;
    }

    #DogFood .ant-card-body {
        padding: 5px 0px 20px 0px;

    }

    #PetAccessories .ant-card-body {
        padding: 5px 0px 20px 0px;
    }

    #DogFood .ant-card-meta {
        padding: 5px;
    }

    #PetAccessories .ant-card-meta {
        padding: 5px;
    }

    #Cat .card_pan {
        width: 50%;
        padding: 5px 4px;
    }

    #Dog .card_pan {
        width: 50%;
        padding: 5px 4px;
    }

    #Cat .ant-card-body {
        padding: 5px 0px 20px 0px;

    }

    #Dog .ant-card-body {
        padding: 5px 0px 20px 0px;
    }

    #Cat .ant-card-meta {
        padding: 5px;
    }

    #Dog .ant-card-meta {
        padding: 5px;
    }
    .tab_1{
        padding: 0px 20px;
    }
    .tab_1 i {
        width: 10%;
        text-align: left;

    }

    .tab_1 .h31 {
        width: 45%;
        font-size: 1.2em;
        padding-left: 10px;
    }

    .tab_1 .h32 {
        width: 45%;
        text-align: right;
        font-size: 1.2em;
    }
    #Video .myBtn{
        width: 50px;
        font-size: 12px;
    }
    #LoginPage .login_logo img {
        width: 200px;
    }
}
@media (max-width: 450px) {
    #VideoPage .top_res h3{
        font-size: 1.3em;
    }
    #LoginPage .button {
        font-size: 1.2em;
        padding: 10px;
    }
    .login_btn{
        width: 100%;
        padding: 10px;
    }
    .signup_btn{
        width: 100%;
        padding: 10px;
    }
}