/* html, body {
  height: 100%;
} */

.slick-slide {
	transform: scale(.9);
	transition: transform .3s cubic-bezier(.4, 0, .2, 1);
	opacity: .6;
}

.slider__item.slick-center {
	opacity: 1;
}

.slick-center {
	transform: scale(1);
}

#series_listing {
	height: 100%;
	background-color: #f8f8f8;
	padding-bottom: 50px;
}

#series_listing .intro_sty.card {
	border-radius: 0
}

#series_listing .intro_sty .card-img {
	border-radius: 0;
	height: 600px;
	background-size: cover;
	object-fit: cover;
}

#series_listing .intro_sty .card-img-overlay {
	background-color: #00000059;
}

#series_listing .intro_sty h5 {
	font-size: 3.5em
}

#series_listing .intro_sty .line_header {
	background-color: #fff;
	width: 300px;
	height: 2px;
	display: block;
	margin: auto;
}

#series_listing .intro_title {
	width: 50%;
}

#series_listing .about_warp {
	margin: auto;
	width: 80%
}

#series_listing .sub_title_about {
	font-size: 2.5em;
	color: #b71c1c;
}

#series_listing .about_content {
	font-size: 1.2em;
	color: #b71c1c;
}

#series_listing .line_about {
	width: 100px;
	height: 2px;
	background-color: #000;
	display: block;
	margin: auto;
}

#series_listing .banner_slider {
	background-color: #303135;
	padding: 20px 0px;
}

#series_listing .banner_slider .center {
	width: 85%;
	margin: auto;
}

#series_listing .banner_slider .slider__item {
	position: relative;
}

#series_listing .banner_slider .slider__item>img {
	width: 100%;
	height: auto;
}

#series_listing .banner_slider .slider__item .title {
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 30px;
	width: 100%;
	font-size: 2em;
	font-weight: 500;
	text-shadow: 2px 2px 2px #00000085
}

#series_listing .banner_slider .slider__item .title .line {
	height: 3px;
	background-color: #fff;
	display: block;
	width: 100px;
	margin: auto;
	margin-top: 10px;
}

#series_listing .list_warp {
	margin-bottom: 20px
}

#series_listing .list_content {
	width: 85%;
	margin: auto;
	margin-top: 50px;
}

#series_listing .list_content .border {
	border: 1px solid #ccc!important;
}

#series_listing .list_content .image_sty {
	height: 220px;
}

#series_listing .list_content h5 {
	font-weight: bold;
}

#series_listing .date_sty {
	margin-top: 10px;
	color: #00000073;
	font-weight: bold;
}

#series_listing .date_display {
	width: 100%;
	white-space: nowrap;
	overflow-x: overlay;
	height: 45px;
}

#series_listing .date {
	padding: 3px 8px;
	font-size: 14px;
	color: #fa8c16;
	background: #fff7e6;
	border: 1px solid #ffd591;
	border-radius: 5px;
}

#series_listing .price_sty {
	border-left: 1px solid #ccc;
}

#series_listing .price_sty p {
	margin-bottom: 5px;
}

#series_listing .price_sty .small_size {
	font-size: 12px;
	color: #ccc
}

#series_listing .price_sty .price_tag {
	font-size: 1.5em;
	font-weight: 500;
}

#series_listing .price_sty .btn {
	padding: .375rem 2rem;
	margin-top: 20px;
	/* color: #faad14;
  border-color: #faad14; */
}

#series_listing .brand_sty img {
	width: 25px;
	height: 25px;
}

#series_listing .text {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media only screen and (max-width:1450px) {
	#series_listing .intro_title {
		width: 85%;
	}
	#series_listing .about_warp {
		width: 85%
	}
}

@media only screen and (max-width: 1050px) {
	#series_listing .price_sty .price_tag {
		font-size: 1.2em;
	}
	#series_listing .price_sty .btn {
		padding: .375rem .75rem;
	}
	#series_listing .list_content h5 {
		font-size: 1.2em;
	}
	#series_listing .list_content .image_sty {
		height: 215px;
	}
	#series_listing .list_content h5 {
		font-size: 1em;
	}
	#series_listing .list_content {
		width: 95%;
	}
	#series_listing .intro_title {
		width: 95%;
	}
	#series_listing .about_warp {
		width: 95%
	}
	#series_listing .sub_title_about {
		font-size: 2em;
	}
	#series_listing .about_content {
		font-size: 1em;
	}
}

@media only screen and (max-width: 767px) {
	#series_listing .list_content .image_sty {
		height: auto;
	}
	#series_listing .price_sty p {
		float: left;
		margin-right: 10px;
		padding-top: 5px;
	}
	#series_listing .price_sty .btn {
		width: 30%!important;
		float: right;
		margin-top: 0;
	}
	#series_listing .price_sty .small_size {
		padding-top: 10px;
		color: #000;
	}
	#series_listing .price_sty {
		border-left: 0;
		background: #f1f1f1;
	}
}

@media only screen and (max-width: 575px) {
	#series_listing .center_warp {
		padding: 10px;
	}
	#series_listing .row {
		margin-left: 0;
		margin-right: 0
	}
	#series_listing .type_sty {
		font-size: 14px;
	}
	#series_listing .location_sty {
		font-size: 14px;
	}
	#series_listing .brand_sty img {
		width: 20px;
		height: 20px;
		margin-top: -5px;
	}
	#series_listing .intro_sty h5 {
		font-size: 2.5em;
	}
	#series_listing .sub_title_about {
		font-size: 1.5em;
	}
	#series_listing .intro_sty .line_header {
		width: 200px;
	}
	#series_listing .package_sty_header h1 {
		font-size: 1.7em
	}
	#series_listing .intro_sty .card-img-overlay {
		padding: 10px;
	}
	#series_listing .content_trip {
		padding: 10px;
	}
}